{% extends 'admingeneral.html' %}

{% block content %}


<section class="content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Tableau de validation</h3>
              </div>
                  <h1>Il n'y a pas encore de nouvelle commande</h1>
            </div>
          </div>
        </div>
      </section>

{% endblock content %}