{% extends 'chef.html' %}

{% block content %}

<section class="content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
              </div>
{% if lecaissier|length !=0 %}
                      <table class="table table-hover">
                        <thead>
                            <tr style="background-color: #80b435;" >
                                <th>Prénom</th>
                                <th>Nom</th>
                                <th>Téléphone </th>
                                <th>Fonction </th>
                                <th>Salaire </th>
                                <th>Action</th>   
                                    
                            </tr>
                            
                        </thead>
                        {% for row in lecaissier %}
                        <tbody>
                            <tr>
                                <td>{{row[1]}} </td>
                                <td> {{row[2]}} </td>
                                <td> {{row[3]}}</td>
                                <td> {{row[4]}} </td>
                                <td> {{row[5]}} </td>
                                {%if row[4] == 'caissier'%}
                                  <td>
                                    <a href="/detailcaissier/{{row.0}}" class="btn btn-outline-success" role="button" title="Messages">Detail</a>  
                                  </td>
                                {%endif%}
                            </tr>
                        </tbody>
                        {% endfor %}
                            
                            
                        </table>
                        {% else %}
                            <h2>Sendawal n'a pas encore de caissier.</h2>
                        {% endif %}

                    </div>
                </div>
              </div>
            </div>
          </section>



<style>
        .succes{
          color: green;
        }
        .danger{
            color: rgb(241, 27, 12);
        }
    </style>
{% endblock content %}


