{% extends 'heardercommande.html' %}
{% block content %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write("<script src='{{url_for('static', filename='js/jquery-3.5.1.min.js') }}'>\x3C/script>")</script>

<script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sen Ndawal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
  <!-- Button to Open the Modal -->

  <div class="msg">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="{{ category }} " role="alert">
          <span>{{ message }}</span>
          
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

  <button  style="margin-top: -3%;" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal">
    Enregistrer
  </button>

  <!-- POPUP POUR ENREGISTRER UNE COMMANDE  --> <!-- POPUP POUR ENREGISTRER UNE COMMANDE  -->

  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header" style="background-color: #80b435;">
          <h4 class="modal-title">Enregistrer commande</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          

            <!-- <form class="login-form" action="{{ url_for('creercaissier') }}" method="POST"> -->

                    <form action="" method="POST" enctype="multipart/form-data">
    
    
                        <div class="form-group" style="color: #80b435;">
                          
                          
                          <input type="radio" name="options" id="option1" class="opt" value="poissons" required > Poisson </input>
                          <input type="radio" name="options" id="option2" class="opt" value="poulets"> Poulet </input>
                          <input type="radio" name="options" id="option3" class="opt" value="viandemouton"> Viande mouton </input>
                          <input type="radio" name="options" id="option4" class="opt" value="viandeboeuf"> Viande boeuf </input>
                          <input type="radio" name="options" id="option5" class="opt" value="dinde"> Dindes </input>
                          <input type="radio" name="options" id="option6" class="opt" value="crevette"> Crevette </input>
                          <input type="radio" name="options" id="option7" class="opt" value="pigeon"> Pigeons </input>
                          <input type="radio" name="options" id="option8" class="opt" value="tablette"> Tablettes </input>
                        </div>
                        
                        <div class="form-group" style="color: #80b435;">
                          <label for="recipient-name" class="col-form-label">Produit:</label>
                          <select name="produit" id="pet-select" required>
                              <option value="">--Choisir un produit--</option>
                          </select>
                        </div>

                        <div class="form-group" style="color: #80b435;">
                            <label for="recipient-name" class="col-form-label">Prix: </label>
                            <select name="choix" id="pet" required>
                                <option value="">--Séléctionner le prix--</option>
                            </select>
                        </div>

                        <div class="form-group" style="color: #80b435;">
                            <label for="recipient-name" class="col-form-label">Quantité:</label>
                            <input type="number" id="quantity" name="quantity" min="1" required>
                        </div>
                        
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                          
                            <button  style="margin-top: 1%;" class="btn btn-success" id="btnAdd" title="Ajouter" onclick="addToCart()">Ajouter</button>
                    
                        </div>
                        
                        
                      </form>
        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          
        </div>
        
      </div>
    </div>
  </div> <!-- FIN POPOP POUR ENREGISTRER UNE COMMANDE --> <!-- FIN POPOP POUR ENREGISTRER UNE COMMANDE -->
  
  
  
</div>  <!-- FIN container -->

<div>

        {% if lst[0] != "None" %}


        <!-- AFFICHAGE DES COMMANDES SAISIES PAR LE OU LA CAISSIER.E -->
        <section class="content">
            <div class="container-fluid">
              <div class="row">
                  <div class="col-12">
                    <div class="card">
                      <div class="card-header">
                        <div class="card-body table-responsive p-0">
        <form action="{{ url_for('newcommande') }}" method="post">
                <table  id="cart"  border="1" class="table cart-table space-30"   style=" visibility:hidden; width:100%;">
                  <thead>
                      <tr style="background-color: #80b435;">
                          <th style="text-align: center;">Produits</th>
                              <!-- <th  style="text-align: center;">Nom</th> -->
                              <th  style="text-align: center;">Prix</th>
                              <th  style="text-align: center;">Quantité</th>
                              <th style="text-align: center;">  Total</th>
                              <th  style="text-align: center;" >Supprimer</th>
                      </tr>
                  </thead>
                  <tbody id="cartBody">

                  </tbody>

   
              </table>
                      
              <div id="cache">

                    <h1 style="color: #80b435;" >Avez vous les informations du client?</h1>
                    <div>
                        <div class="row">
    
                        <div class="col-md-1">
    
                        <button type="button" class="btn btn-danger" id="qaqa" onclick="showButtons1()" >Non</button>
                    </div>
                    <div class="col-md-1">
    
                        <button type="button" class="btn btn-primary" id="btnAdd" title="Ajouter"  onclick="showButtons();">Oui</button>
                    </div>
    
                    </div>        
                    </div>       
            
    
                </div>

                            <p><p><p></p></p></p>
                           
                   <div>
                        <div class="form-group" id="noncache">
                                <label for="recipient-name" class="col-form-label" style="color: #80b435;"> Frais De Livraison: </label>
                                <select name="livrais" id="popo" required>
                                    <option value="">Metter les Frais</option>
                                    <option value="0">0 FCFA</option>
                                    <option value="1500">1500 FCFA</option>
                                    <option value="1000">1000 FCFA</option>
                                    <option value="2000">2000 FCFA</option>
                                    <option value="2500">2500 FCFA</option>
                                </select>
            
                                <div id="yup5" class="col-12 pl-1" >
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-4">
                                        <label  style="color: #80b435;">Depense faite pour la commande*</label>
                                    </div>
                                    <div class="col-4">

                                        <input id="dep" type="number" class="form-control" name="dep" placeholder="" required>
                                    </div>
                                </div>

                                </div>
                                </div>
    
                                <button type="button"  class="btn btn-outline-success" id="qaqa" title="Valider" data-toggle="modal" data-target="#myMod" onclick="showCarttt()">Valider</button>
    
                                
                            </div> 
                   </div>                 

            
            <!-- POPOP POUR RESUMER TOUTE LA COMMANDE SANS LES INFORMATIONS DU CLIENT -->
            <div class="modal" id="myMod">
                    <div class="modal-dialog">
                      <div class="modal-content">
                      
                        <!-- Modal Header -->
                        <div class="modal-header"  style="background-color: #80b435;">
                          <h4 class="modal-title" >Infos Commande</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        
                        <!-- Modal body -->
                        <div class="modal-body">
                            
                                <table  id="carttt"  border="1" class="table cart-table space-30"   >
                                        <thead>
                                            <tr>
                                                <th style="text-align: center; color: #80b435;">Produits</th>
                                                    <!-- <th  style="text-align: center;">Nom</th> -->
                                                    <th  style="text-align: center; color: #80b435;">Prix</th>
                                                    <th  style="text-align: center; color: #80b435;">Quantité</th>
                                                    <th style="text-align: center; color: #80b435;">  Total</th>
                                                    <!-- <th  style="text-align: center;" >Supprimer</th> -->
                                            </tr>
                                        </thead>
                                        <tbody id="cartBodyyy">
                      
                                        </tbody>
                      
                         
                                    </table>
                                    <h5>Statistiques Commande</h5>
                                    <table  id="carttt"  border="1" class="table cart-table space-30"   >
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center; color: #80b435;">Livraison</th>
                                                        <!-- <th  style="text-align: center;">Nom</th> -->
                                                        <th  style="text-align: center; color: #80b435;">Total</th>
                                                        <th  style="text-align: center; color: #80b435;">Depense</th>
                                                        <th  style="text-align: center; color: #80b435;">Benefice</th>
                                                        <!-- <th  style="text-align: center;" >Supprimer</th> -->
                                                </tr>
                                            </thead>
                                            <tbody id="zzz">
                          
                                            </tbody>
                          
                             
                                        </table>

                                    
                                    <!-- <div id="zzz">
                                    </div> -->
                            
                        </div>
                        
                        <!-- Modal footer -->
                        <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                            
                            <button id="clickMe"  style="margin-top: 1% ;" class="btn btn-success" title="Ajouter" type="submit">Valider</button>
                    
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <!-- ############################################################# -->

                   
                  
    <!-- <button type="button" onclick="getInputValue();">Get Value</button>
    
    <script>
        function getInputValue(){
            // Selecting the input element and get its value 
            var inputVal = document.getElementById("myInput").value;
            
            // Displaying the value
            alert(inputVal);
        }
    </script> -->
              
          </form>

        </div>
    </div>
    </div>
    </section>    
     <!-- INFORMATION DU CLIENT -->
            
     <form action="{{ url_for('newcommandecli') }}" method="post">
            <div id="b1">
        
              <div id="yes">
              </div>
              <div id="frais">
              </div>
              <div style="padding-left: 10%;">
                <h1 style="color: #80b435;" >Remplisser ces informations </h1>

<div class="row"> 

    <div class="col-md-2">
        <div class="form-group">
            <label style="color: #80b435;" for="name">Prenom et Nom:</label>
            <!-- <input type="text" id="prenomm" name="prenom" class="col-xs-3" > -->
            <input type="text" placeholder="prenom et nom" id="prenomm" name="prenom" required>
        </div>
    </div>
  
        <div class="col-md-2">
            <div class="form-group">
                <label style="color: #80b435;" class="control-label" for="inputemail">TELEPHONE *</label>
                <!-- <input type="text" class="col-xs-3" name="telephon" placeholder="telephone" id="phone"> -->
                <input type="tel" placeholder="telephone" id="phone" name="telephon" required>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label style="color: #80b435;" for="adresse">Adresse:</label>
                <!-- <input type="text" name="adress" class="col-xs-3" id="adresse"> -->
                <input type="text" placeholder="adresse" id="adresse" name="adress" required>
            </div>
        </div>

        </div>
        <p><p></p></p>
        <div>

                <div class="form-group" id="cacheprix">
                    <label for="recipient-name" class="col-form-label" style="color: #80b435;"> Frais De Livraison: </label>
                    <select name="livrais" id="popoo" required>
                        <option value="">Metter les Frais</option>
                        <option value="0">0 FCFA</option>
                        <option value="1500">1500 FCFA</option>
                        <option value="1000">1000 FCFA</option>
                        <option value="2000">2000 FCFA</option>
                        <option value="2500">2500 FCFA</option>
                    </select>

                    <div id="yup5" class="col-12 pl-1" >
                        <div class="form-group">
                            <div class="row">
                             <div class="col-4">
                                 <label style="color: #80b435;" >
                                        Depense faite pour la commande*
                                </label>
                                </div>
                              <div class="col-6">
                            <input id="depp" type="number" class="form-control" name="dep" placeholder="" required>
                        </div>

                        </div>
                    </div>

                    </div>
                    
                </div>    
                
                  

        </div>

   <button type="button"  class="btn btn-outline-success" id="qaqa" title="Valider" data-toggle="modal" data-target="#myModoui" onclick="fraiss();">Valider</button>
       
             
                  </div>
         
                </div>    

          <div class="modal" id="myModoui">
                  <div class="modal-dialog">
                    <div class="modal-content">
                    
                      <!-- Modal Header -->
                      <div class="modal-header" style="background-color: #80b435;">
                        <h4 class="modal-title">INFORMATIONS</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                      </div>
                      
                      <!-- Modal body -->
                      <div class="modal-body">
                            <h4 class="modal-title" style="color: #80b435;" >Information Commande</h4>
                              <table  id="cartttc"  border="1" class="table cart-table space-30"   >
                                      <thead>
                                          <tr style="background-color: #80b435;" >
                                              <th style="text-align: center;">Produits</th>
                                                  <!-- <th  style="text-align: center;">Nom</th> -->
                                                  <th  style="text-align: center;">Prix</th>
                                                  <th  style="text-align: center;">Quantité</th>
                                                  <th style="text-align: center;">  Total</th>
                                                  <!-- <th  style="text-align: center;" >Supprimer</th> -->
                                          </tr>
                                      </thead>
                                      <tbody id="cartBodies">
                    
                                      </tbody>
                    
                       
                                  </table>

                                  <table  id="cartttc"  border="1" class="table cart-table space-30"   >
                                        <thead>
                                            <tr style="background-color: #80b435;" >
                                                <th style="text-align: center;">Livraison</th>
                                                    <!-- <th  style="text-align: center;">Nom</th> -->
                                                    <th  style="text-align: center;">Total</th>
                                                    <th  style="text-align: center;">Depense</th>
                                                    <th style="text-align: center;">  Benefice</th>
                                                    <!-- <th  style="text-align: center;" >Supprimer</th> -->
                                            </tr>
                                        </thead>
                                        <tbody id="zzzzo">
                      
                                        </tbody>
                      
                         
                                    </table>
                                  <!-- <div id="zzzzo">
                                    </div> -->

                                  <h6 class="modal-title" style="color: #80b435;">Information Clients</h6>

                                  <table  id="clients"  border="1" class="table cart-table space-30"   >
                                        <thead>
                                            <tr style="background-color: #80b435;">
                                                <th style="text-align: center;">nom</th>
                                                <th  style="text-align: center;">Telephone</th>
                                                <th  style="text-align: center;">Adresse</th>
                                                    
                                            </tr>
                                        </thead>
                                        <tbody id="clientss">
                      
                                        </tbody>
                      
                         
                                    </table>                                    
                          
                      </div>
                      
                      <!-- Modal footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                          
                        <button id="clickMeyou"  style="margin-top: 1%;" class="btn btn-success" title="valider" type="submit">Valider</button>
                  
                      </div>
                      
                    </div>
                  </div>
                </div>

      </form>
     
       {% else %}
     
       <h3>Aucune commande n'est enregistrée</h3>
     
       {% endif %} 

</div>



<style type="text/css">
    #cache, #cacheprix, #noncache{
    display: none;
    }

    .msg{
            padding-left:300px ;
        }
      
      .succes{
            color: green;
        }
        .danger{
            color: red;
        }
    
</style>
    

    <style type="text/css">
        #b1, #b2, #b3 {
        display: none;
        }
        
        </style>


<script type=text/javascript>
    $( document ).ready(function() {
        $("input[type='radio']").click( function() {
            var mylisteq = []
            var poissonsq = [{'categorie': 'Dorade moyen', 'prix': 2500}, {'categorie': 'Sompate bu mak', 'prix': 2700}, {'categorie': 'Thiof au four', 'prix': 4500},{'categorie': 'Thiof G', 'prix': 4000}, {'categorie': 'Sardinelle(Yaboy)', 'prix': 1300}, {'categorie': 'Bande', 'prix': 1800}, {'categorie': 'Filet de dorade', 'prix': 6900}, {'categorie': 'Diey', 'prix': 2700}, {'categorie': 'Dorade bu mak', 'prix': 2800}, {'categorie': 'Barracuda(Seudde)', 'prix': 3800}, {'categorie': 'Sompate moyen', 'prix': 2000}]
            var pouletsq = [{'categorie': 'Poulet de 1,9kg à 2kg', 'prix': 3000}, {'categorie': 'Poulet de 1,5kg à 1,6kg', 'prix': 2750}, {'categorie': 'Poulet de 1,7 à 1,8', 'prix': 3000}]
            var viandemoutonq = [{'categorie': 'Viande mouton', 'prix':3400}, {'categorie': 'Côtelette(farr) mouton', 'prix':3400}, {'categorie': 'Epaule mouton', 'prix':3400}, {'categorie': 'Foie mouton', 'prix':3500}, {'categorie': 'Carcasse de mouton de 13 kg', 'prix':50000}, {'categorie': 'Gigot mouton', 'prix':3400}, {'categorie': 'Mouton de 18 kg', 'prix':70000}, {'categorie': 'Pied de mouton', 'prix':150}]
            var viandeboeufq = [{'categorie': 'Viande boeuf', 'prix': 3000}, {'categorie': 'Côtelette boeuf', 'prix': 3000}, {'categorie': 'Colis de bœuf', 'prix': 3000}, {'categorie': 'Epaule boeuf', 'prix': 3000}, {'categorie': 'Viande sans os de boeuf', 'prix': 3800}, {'categorie': 'Faux filet boeuf', 'prix': 3000}, {'categorie': 'Laxass', 'prix': 100}, {'categorie': 'Queue de boeuf', 'prix': 2900}, {'categorie': 'Foie de boeuf', 'prix': 3000}, {'categorie': 'Pied de boeuf', 'prix': 1900}, {'categorie': 'Foie de boeuf', 'prix': 3000}, {'categorie': 'Abats boeuf', 'prix': 1400}, {'categorie': 'Faux filet boeuf', 'prix': 3000}]            
            var crevettesq = [{'categorie': 'cameron', 'prix': 14000}, {'categorie': 'Gambass num:2', 'prix': 9000}, {'categorie': 'camaron', 'prix': 14000}, {'categorie': 'Gambass num:3', 'prix': 7000}, {'categorie': 'Gambass num:1', 'prix': 11000}, {'categorie': 'Crevette', 'prix': 3000}, {'categorie': 'Crevette', 'prix': 4500}]            
            var dindeq = [{'categorie': 'dinde entiére', 'prix': 4250}]
            var pigeonq = [{'categorie': 'pigeons', 'prix': 1900}, {'categorie': 'pigeons prés à consommer', 'prix': 2000}]
            var tabletteq = [{'categorie': 'tablette', 'prix': 3000}]            


        var q = $("input[name='options']:checked").val()
        $('#pet-select').children('option:not(:first)').remove();
        $('#pet').children('option:not(:first)').remove();
        if (q == 'poissons') {
            mylisteq = poissonsq
    }else{
            if (q == 'poulets') {
                mylisteq = pouletsq
            }
            else{
                if (q == 'viandemouton') {
                    mylisteq = viandemoutonq
                }
            else{
                if (q == 'viandeboeuf') {
                    mylisteq = viandeboeufq
                    
                }else{
                if (q == 'crevette') {
                    mylisteq = crevettesq
                    
                }else{
                if (q == 'dinde') {
                    mylisteq = dindeq
                    
                }else{
                if (q == 'pigeon') {
                    mylisteq = pigeonq
                    
                }else{
                if (q == 'tablette') {
                    mylisteq = tabletteq
                    
                }
            }
            }
            }
            }
            }

            }
            
            } 
            

            for (var i in mylisteq) {
                var d = mylisteq[i]
                $("#pet-select").append("<option value="+ d.categorie +">" + d.categorie + "</option>");
                $("#pet").append("<option value="+ d.prix +">" + d.prix + "</option>");
        }
        
        });
    });
</script>


<script>
    function showButtons () { $('#b1, #b2, #b3').show(); $('#cacheprix').show();}

    function showButtons1 () { $('#noncache').show();}
 

//   Afficher sur le tableau, chaque produit de la commande enregistré en utilisant local storage

var cart = [];
$(function () {
    if (localStorage.cart)
    {
        cart = JSON.parse(localStorage.cart);
        showCart();
    }
});

function addToCart() {
    // var price = $("#products").val();
    var name = $("#pet-select option:selected").text();
    var price = $("#pet option:selected").val();
    var qty = $("#quantity").val();
    // var phot = $("#phottId").val();
    // var empt = document.forms["form1"]["text1"].value;
    if (qty == "" || price == "" || name == "")
    {
        alert("Vous avez oublié à enregistrer une information");
        return false;
    }
    else 
    {
        // update qty if product is already present
        for (var i in cart) {
            if(cart[i].Product == name)
            {
                cart[i].Qty = qty;
                cart[i].Photo = phot;
                showCart();
                saveCart();
                return;
            }
        }
        // create JavaScript Object
        var item = { Product: name,  Price: price, Qty: qty }; 
        cart.push(item);
        saveCart();
        showCart();
    }
}

function deleteItem(index){
    cart.splice(index,1); // delete item at index
    showCart();
    saveCart();
}

function saveCart() {
    if ( window.localStorage)
    {
        localStorage.cart = JSON.stringify(cart);
    }
}

function showCart() {
    if (cart.length == 0) {
        $("#cart").css("visibility", "hidden");
        return;
    }
    var dell = [];
    for (var i in cart) {
        var item = cart[i]; 
        var string1 = { val2:item.Product , val3:item.Price , val4:item.Qty , val5:item.Qty * item.Price};
        
        dell.push(string1)
    }
    sendFormData = JSON.stringify(dell);

    $("#cart").css("visibility", "visible");
    $('#cache').show();
    $("#cartBody").empty(); 
    for (var i in cart) {
        var item = cart[i]; 
        
        var row = "<tr><input type='hidden' name='qqq' value='"+sendFormData+"' /><td id='td1'>" + item.Product + "</td><td id='td2'>" +
                        item.Price + "</td><td id='td3'>" + item.Qty + "</td><td id='td4'>"
                        + item.Qty * item.Price + "</td><td>"
                        + "<button onclick='deleteItem(" + i + ")'>Supprimer</button></td></tr>";
        $("#cartBody").append(row);

        var mycommande = "<input type='hidden' name='ttt' value='"+sendFormData+"' />";
        $("#yes").append(mycommande);
    }
}



// **************************************************************
function showCarttt() {
$("#carttt").css("visibility", "visible");
$("#cartBodyyy").empty();
$("#zzz").empty();

var table = document.getElementById('cart');
    var del = [];
    var tots = 0;
    for (var i = 1; i < table.rows.length; i++) {
        if (table.rows[i].cells.length) {
        //   var photo = (table.rows[i].cells[0].textContent.trim());
            var produit = (table.rows[i].cells[0].textContent.trim());
            var prix = (table.rows[i].cells[1].textContent.trim());
            var qty = (table.rows[i].cells[2].textContent.trim());
            var total = (table.rows[i].cells[3].textContent.trim());
        //   var string1 = photo + produit + prix + qty + total;
            var string1 = {val2:produit , val3:prix , val4:qty , val5:total};
            tots = tots + Number(total);
           
        
            del.push(string1)

            var row = "<tr><td id='td1'>" + produit + "</td><td id='td2'>" +
                    prix + "</td><td id='td3'>" + qty + "</td><td id='td4'>"
                        + total + "</td><td></tr>"
                        ;
        $("#cartBodyyy").append(row);
            
        }}

        var e = document.getElementById("popo");
        var h = document.getElementById("dep");
        var tout = Number(e.options[e.selectedIndex].value) + tots;
        var benef = tout - Number(h.value)
        var strUser = "<tr><td id='td1'>" + e.options[e.selectedIndex].value + "</td><td id='td2'>" +
                tout + "</td><td id='td3'>" + h.value + "</td><td id='td4'>"
                        + benef + "</td></tr>"
                        ;
        // var strUser = "<h5>Livraison: " + e.options[e.selectedIndex].value + " " + "FCFA       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;               Total : "+ tout +" </h5>";
        $("#zzz").append(strUser);

       
        // <h3>Livraison:</h3>
    }



// ************************************* cette fonction permet de recuperer le montant de la livraison et le mettre dans la div avec id="frais" en hidden

function fraiss() {
    // var fais = e.options[e.selectedIndex].value;
    // var yos = "<input type='hidden' name='fraisss' value='"+fais+"' />";
    // $("#frais").append(yos);


$("#cartttc").css("visibility", "visible");
$("#cartBodies").empty();
$("#zzzzo").empty();
$("#clients").css("visibility", "visible");
$("#clientss").empty();

var table = document.getElementById('cart');
    var del = [];
    var tots = 0;
    for (var i = 1; i < table.rows.length; i++) {
        if (table.rows[i].cells.length) {
        //   var photo = (table.rows[i].cells[0].textContent.trim());
            var produit = (table.rows[i].cells[0].textContent.trim());
            var prix = (table.rows[i].cells[1].textContent.trim());
            var qty = (table.rows[i].cells[2].textContent.trim());
            var total = (table.rows[i].cells[3].textContent.trim());
        //   var string1 = photo + produit + prix + qty + total;
        
            var string1 = {val2:produit , val3:prix , val4:qty , val5:total};
            tots = tots + Number(total);
           
        
            del.push(string1)

            var row = "<tr><td id='td1'>" + produit + "</td><td id='td2'>" +
                    prix + "</td><td id='td3'>" + qty + "</td><td id='td4'>"
                        + total + "</td><td></tr>"
                        ;
        $("#cartBodies").append(row);
            
        }}

        
        var e = document.getElementById("popoo");
        var liv = e.options[e.selectedIndex].value;
        var h = document.getElementById("depp");
        if(liv == ""){
            alert("Vous n'avez pas encore enregistré les frais de livraison de la commande.");
            return false;
        }
        if(h.value == ""){
            alert("Vous n'avez pas encore enregistré les Dépenses de la commande.");
            return false;
        }
        
        var tout = Number(e.options[e.selectedIndex].value) + tots;
        var benef = tout - Number(h.value)
        var strUser = "<tr><td id='td1'>" + e.options[e.selectedIndex].value + "</td><td id='td2'>" +
                tout + "</td><td id='td3'>" + h.value + "</td><td id='td4'>"
                        + benef + "</td></tr>"
                        ;
        // var strUser = "<h5>Livraison: " + e.options[e.selectedIndex].value + " " + "FCFA       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;               Total : "+ tout +" </h5>";
        $("#zzzzo").append(strUser);

        var prenommm = document.getElementById("prenomm").value;
        var phone = document.getElementById("phone").value;
        var adresse = document.getElementById("adresse").value;
    
        var row = "<tr><td id='td1'>" + prenommm + "</td><td id='td2'>" +
                    phone + "</td><td id='td4'>"
                        + adresse + "</td><td></tr>"
                        ;
        $("#clientss").append(row);

        var lii = "<input type='hidden' name='livr' value='"+liv+"' />";
        $("#frais").append(lii);

}


//  Verifier si le tableau est vide sinon supprimer le contenu

document.getElementById("clickMe").onclick = function () {

        if ($('#cartBody tr').length == 0) {
        alert("Vous n'avez pas encore enregistré une nouvelle commande.")
        return false;
        }
       

        if (localStorage.length > 0){
            localStorage.clear();
         };
        };


document.getElementById("clickMeyou").onclick = function () {
var e = document.getElementById("popoo");
var h = document.getElementById("depp");
var liv = e.options[e.selectedIndex].value;
if(liv == ""){
    alert("Vous n'avez pas encore enregistré les frais de livraison de la commande.");
    return false;
}
if( h.value== ""){
    alert("Vous n'avez pas encore enregistré les dépenses de la commande.");
    return false;
}
if ($('#cartttc tr').length == 0) {
alert("Vous n'avez pas encore enregistré une nouvelle commande.")
return false;
}


if (localStorage.length > 0){
    localStorage.clear();
 };
};



</script>

</body>
</html>
{% endblock content %}
