{% include 'header.html' %}

        <div class="container">
            <div class="banner-header banner-lbook3 space-40">
                <img src='{{url_for("static",filename="assets/images/viandepoulet2.jpg")}}' alt="Banner-header">
                <div class="text">
                    <p><a href="{{url_for('accueil')}}" title="Accueil">Accueil</a><i class="fa fa-caret-right"></i>Tous Produits</p>
                </div>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="{{ category }} " role="alert">
                        <span>{{ message }}</span>
                        
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
            </div>
        </div>
      
        <!-- End wrap-breadcrumb -->
        <div class="container">
                <div class="title-text-v2">
                        <h3 style="color: #80b435;">Tous Nos Produits</h3>  
              </div>

                <div class="featured-products home_2 new-arrivals lastest">
                        
                    <ul class="tabs " style="padding-left: 15%;" >             
                             
                             <button ><li  rel="tab_01" value="{{url_for('poissons')}}"><a href="{{url_for('poissons')}}" title="Poissons" > POISSONS</a></li></button>
                            
                                    <button   ><li rel="tab_02" value="{{url_for('poulets')}}"><a href="{{url_for('poulets')}}" title="Poulets">POULETS</a></li></button>
                                               
                   
                                    <button ><li  rel="tab_02" value="{{url_for('dindes')}}"><a href="{{url_for('dindes')}}" title="Dindes">DINDES</a></li></button>
                        
                                <button  ><li  rel="tab_02" value="{{url_for('crevettes')}}"><a href="{{url_for('crevettes')}}" title="Crevettes">CREVETTES</a></li></button>
                                <button  ><li rel="tab_03" value="{{url_for('pigeons')}}"><a href="{{url_for('pigeons')}}" title="pigeons">PIGEONS</a></li></button>
 
              
                                    <button   ><li rel="tab_03" value="{{url_for('viandeboeuf')}}"><a href="{{url_for('viandeboeuf')}}" title="Viandes">VIANDES BŒUF</a></li></button>
                                               
                        
                            <button ><li  rel="tab_03" value="{{url_for('viandemouton')}}"><a href="{{url_for('viandemouton')}}" title="Viandes">VIANDES MOUTON</a></li></button>
                                       
                 
                        <button  ><li rel="tab_03" value="{{url_for('tablettes')}}"><a href="{{url_for('tablettes')}}" title="tablette">TABLETTES D'OEUFS</a></li></button>
                                   
             
                  
                              
        
                                    <!-- <li class="item" rel="tab_03" value="{{url_for('viandemouton')}}"><a href="{{url_for('viandemouton')}}" title="Viandes">VIANDES</a></li> -->
                                </ul>
                                
                                
                    <div class="tab-container space-10">
                        <div id="tab_1" class="tab-content">
                               
                            <div class="products hover-shadow ver2 border-space-product border-space-product">
                                {% for row in users%}
                                <div class="product">
                                    <div class="product-images">
                                        <a href="detail&{{row[3]}}" title="product-images">
                                            <!-- <img src="../static/images/{{row.0}}" width="120" height="120" alt="Photo"> <br> -->
                                            <img class="primary_image" src='../static/images/{{row.0}}' width="300" height="200" alt=""/>
                                            <!-- <img class="secondary_image" src='../static/images/{{row.0}}' alt=""/> -->
                                        </a>
                                        <div class="action">
                                            <a class="add-cart" href="detail&{{row[3]}}" title="Ajouter panier"></a>
                                            <!-- <a class="wish" href="#" title="Wishlist"></a> -->
                                            <a class="zoom" href="detail&{{row[3]}}" title="details"></a>
                                        </div>
                                        <!-- End action -->
                                    </div><br><br><br><br><br>
                                    <a href="detail&{{row[3]}}" title="nom produit"><p class="product-title">{{row.1 | truncate(15)}}</p></a>
                                    <p class="product-price-old">{{row.5}}</p>
                                    <p class="product-price">{{row.2}} FCFA/{{row.4}}</p>
                                    <a class="link-footer" href="detail&{{row[3]}}" title="Détails">Détails <i class="fa fa-long-arrow-right"></i></a>

                                </div>
                                {% endfor %}
                                <!-- End item -->
                                
                                <!-- End item -->
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_2" class="tab-content">
                            <div class="products hover-shadow ver2 border-space-product">
                               
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_3" class="tab-content">
                            <div class="products ver2 hover-shadow border-space-product">
                                
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_4" class="tab-content">
                            <div class="products ver2 hover-shadow border-space-product">
                                
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_5" class="tab-content">
                            <div class="products ver2 hover-shadow border-space-product">
                              
                                
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                    </div>
                </div>
                
            </div>
        <!-- end tab product all -->
        <div class="pages">
            {{ pagination.links }}
        </div>

<style>

.succes{
        color: red;
        font-size: 20px;
        }
.danger{
    color: red;
    font-size: 40px;
}
</style>
{% include 'footer.html' %}
<div>
        <pagination class="pagination-sm" total-items="15" items-per-page="15" max-size="15"></pagination>
            
</div>
