<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/fontawesome-free/css/all.min.css")}}'>
    <link rel="shortcut icon" href='{{url_for("static",filename="assets/images/LogoSenNdawal.png")}}'>
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css")}}'>
    <!-- iCheck -->
    <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/icheck-bootstrap/icheck-bootstrap.min.css")}}'>
    <!-- JQVMap -->
    <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/jqvmap/jqvmap.min.css")}}'>
    <!-- Theme style -->
    <link rel="stylesheet" href='{{url_for("static",filename="statics/dist/css/adminlte.min.css")}}'>
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/overlayScrollbars/css/OverlayScrollbars.min.css")}}'>
    <!-- Daterange picker -->
    <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/daterangepicker/daterangepicker.css")}}'>
    <!-- summernote -->
    <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/summernote/summernote-bs4.css")}}'>
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <!-- Hotjar Tracking Code for https://africmode.com/ -->
</head>
<style>
    #container{
        width:50%;
        height: 100%;
        margin:0 auto;
        margin-top:10%;
    }
    /* Bordered form */
form {
    width:80%;
    height: 70%;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
</style>
<body>


    <div id="container">
        <!-- zone de connexion -->
        <div class="msg">
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="{{ category }} " role="alert">
              <span>{{ message }}</span>
              
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
                <form class="login-form" action="{{ url_for('bonpassword') }}" method="POST">
                    <h1 style="color:#80b435;">Changer Votre Mot De Passe</h1>

                    <label style="text-align: center;" class="control-label" for="inputemail"> Taper votre mot de passe</label>
            <input type="text" class="form-control" name="passworddd1" placeholder=" Taper Ici le mot de passe" id="password" required>
           
            <label class="control-label" for="inputemail"><b>répéter votre mot de passe</b></label>

            <input type="text" class="form-control" name="passworddd2" placeholder="Répéter le Ici" id="password" required>  

            <button  class="btn btn-outline-success" type="submit" class="link-v1 rt" data-toggle="modal" data-target="#exampleModal{{message}}">Enregister</button>
          
        </form>

    </div>


</body>
<style>
    .succes{
      color: green;
    }
    .danger{
        color: rgb(241, 27, 12);
    }
</style>
</html>