
{% include 'header.html' %}

        <div class="main-content">
            <div class="container">
                <div class="banner-header banner-lbook3">
                    <img src='{{url_for("static",filename="assets/images/viandepoulet2.jpg")}}' alt="Banner-header">
                    <div class="text">
                        <h3>Informations</h3>
                        <p><a href="{{url_for('accueil')}}" title="Accueil">Accueil</a><i class="fa fa-caret-right"></i>Informations</p>
                    </div>
                </div>
            </div>
            <div class="container container-ver2 space-padding-tb-30">
                    
            </div>
                <!-- End container -->
            <div class="cart-box-container check-out">
                <div class="container container-ver2">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="title-brand">MON ADRESSE</h3>
                            <form class="form-horizontal">
                                <div class="form-group col-md-6">
                                    <label for="inputfname" class=" control-label">PRENOM <span class="color">*</span></label>                            
                                    <input type="text" placeholder="Mettez votre prenom..." id="inputfname" class="form-control">  
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="inputlname" class=" control-label">NOM <span class="color">*</span></label>                            
                                    <input type="text" placeholder="Mettez votre nom..." id="inputlname" class="form-control">  
                                </div>
                                
                                <div>
                                    <div class="form-group col-md-6">
                                        <label for="inputemail" class=" control-label">Email<span class="color">*</span></label>                            
                                        <input type="text" placeholder="Mettez votre email..." id="inputemail" class="form-control">  
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputphone" class=" control-label">TELEPHONE<span class="color">*</span></label>                            
                                        <input type="text" placeholder="Mettez votre telephone..." id="inputphone" class="form-control">  
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputcountry1" class=" control-label">REGION<span class="color">*</span></label>
                                    <select id="inputcountry1" name="inputcountry1" class="country form-control">
                                        <option>COUNTRY 2</option>
                                        <option selected="selected">COUNTRY 1</option>
                                        <option>COUNTRY 3</option>
                                        <option>COUNTRY 4</option>
                                    </select>
                                </div> 
                                <div class="form-group">
                                    <label for="inputstreet" class=" control-label">ADRESSE<span class="color">*</span></label>                            
                                    <input type="text" placeholder="Enter your street address..." id="inputstreet" class="form-control space-20">  
                                    <!-- <input type="text" placeholder="Enter the apartment, floor, suite, etc..." id="inputapartment" class="form-control">  -->
                                </div>                        
                                <!-- <div class="form-group">
                                    <label for="inputcountry" class=" control-label">Town/City<span class="color">*</span></label>                            
                                    <input type="text" placeholder="Enter your Town..." id="inputcountry" class="form-control space-20">
                                </div> -->
                                <!-- <div>
                                    <div class="form-group col-md-6">
                                        <label for="inputfState" class=" control-label">COUNTY <span class="color">*</span></label>                            
                                        <input type="text" placeholder="Select your county..." id="inputfState" class="form-control">  
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="inputpostcode" class=" control-label">POSTCODE <span class="color">*</span></label>                            
                                        <input type="text" placeholder="Enter your postcode..." id="inputpostcode" class="form-control">  
                                    </div>    
                                </div>  -->
                                <span class="form-check space-50">Créer un compte?</span>
                            </form>
                            
                            
                        </div>
                        <!-- End col-md-8 -->
                        <div class="col-md-6 space-30">
                            <div class="box">
                                <h3 class="title-brand">VOTRE COMMANDE</h3>
                                <div class="info-order">
                                    <div class="product-name">
                                        <ul>
                                            <li class="head">
                                                <span class="name">NOM PRODUITS</span>
                                                <span class="qty"><b>QUANTITE (KG)</b></span>
                                                <span class="total"><b>TOTAL</b></span>
                                            </li>
                                            <li>
                                                <span class="name">Modern Chair</span>
                                                <span class="qty">01</span>
                                                <span class="total">$520.00</span>
                                            </li>
                                            <li>
                                                <span class="name">Toldbod Lamp</span>
                                                <span class="qty">02</span>
                                                <span class="total">$190.00</span>
                                            </li>
                                            <li>
                                                <span class="name">Getama Sofa</span>
                                                <span class="qty">03</span>
                                                <span class="total">$270.00</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- End product-name -->
                                    <ul class="product-order">
                                        <li>
                                            <span class="left">CART SUBTOTAL</span>
                                            <span class="right">$980.00</span>
                                        </li>
                                        <li>
                                            <span class="left">SHIPPING & HANDLING</span>
                                            <span class="right">Free Shipping</span>
                                        </li>
                                        <li>
                                            <span class="left">ORDER TOTAL</span>
                                            <span class="right brand">$980.00</span>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End info-order -->
                                <div class="payment-order box float-left">
                                
                                </div>
                                <a class="link-v1 box lh-50 rt full" href="#" title="PLACE ORDER">PLACE ORDER</a>
                            </div>
                        </div>
                    </div>
                    <!-- End row -->
                </div>
                <!-- End container -->
            </div>
            <!-- End cat-box-container -->
        </div>
{% include 'footer.html' %}
