{% extends 'mycommande.html' %}

{% block content %}
<script type="text/javascript">
  history.pushState(null, null, location.href);
  history.back();
  history.forward();
  window.onpopstate = function () { history.go(1);};
</script>

    <!-- Sidebar -->
    <div class="sidebar" style="background-color:#80b435;">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <div style="color: aliceblue">
                <p > {{commnonlivrer[0].10}} &nbsp; {{commnonlivrer[0].11}}</p>

            </div>
          <!-- <img src='{{url_for("static",filename="statics/dist/img/user2-160x160.jpg")}}' class="img-circle elevation-2" alt="User Image"> -->
       
        </div>
        <!-- {% for d in moi%} -->
        <div class="info">
            
              <!-- <a href="#" class="d-block">{{nom}}</a> -->
            
        </div>
        <!-- {%endfor %} -->
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2" style="background-color:#80b435;">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item has-treeview">
            <a href="{{url_for('commandelivrer')}}" class="btn btn-outline-success" role="button" title="livrées" style="background-color:#80b435; color: white; border: white;"> <p style="color: white;">Commandes livrées</p> </a>
          </li>

          <li class="nav-item has-treeview">
            <a href="{{url_for('commandenonlivrer')}}" class="btn btn-outline-success" role="button" title="Non livrées" style="background-color:#80b435; color: white; border: white;">Commandes non livrées</a>   
          </li>

          <li class="nav-item has-treeview">
            <a href="{{url_for('catalog')}}" class="btn btn-outline-success" role="button" title="Faire Commandes" style="background-color:#80b435; color: white; border: white;">Faire une commande</a>   
          </li>
          
          <br>
          <li class="nav-item has-treeview">
            <a href="{{url_for('logout')}}" class="nav-link">
              <i style="color: white;" class="fas fa-sign-out-alt"></i>
              <p style="color: white;">
                Déconnexion
              </p>
            </a>
            
          </li>
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
      

      
    </div>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          
        </div><!-- /.container-fluid -->
      </section>
  <!-- Content Wrapper. Contains page content -->

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="{{ category }} " role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="msg">{{ msggz }}</div>

<section class="content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Tableau des commandes non livrées</h3>
                  </div>
                  <div class="card-body table-responsive p-0">
                      <table class="table table-hover">
                        <thead style="background-color: #80b435;">
                            <tr>
                                <th style="border: 1px solid black;">photo1</th>
                                <th style="border: 1px solid black;">nom</th>
                                <th style="border: 1px solid black;">prix unitaire</th>
                                <th style="border: 1px solid black;">quantite</th>
                                <th style="border: 1px solid black;">prix total</th>
                                <th style="border: 1px solid black;">date de commande</th>
                                
                                                      
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in commnonlivrer%}
                            
                            <tr>
                                <td style="border: 1px solid black;"><img src="../static/images/{{row.2}}" width="120" height="120" alt="Photo"> </td>
                                <td style="border: 1px solid black;">{{row.1}}</td>
                                <td style="border: 1px solid black;">{{row.3}}</td>
                                <td style="border: 1px solid black;">{{row.5}}</td>
                                <td style="border: 1px solid black;">{{row.4}}</td>
                                <td style="border: 1px solid black;">{{row.9}}</td>
                            </tr>
                        
                            {% endfor %}
                        </tbody>
                            
                            
                        </table>
                    </div>
<br><br>

<div class="card-header">
  <h3 class="card-title">Tableau récapitulatif:</h3>
</div>

                    <div class="card-body table-responsive p-0">
                      <table class="table table-hover">
                        <thead style="background-color: #80b435;">
                            <tr>
                                <th style="border: 1px solid black;">montant total des produits</th>
                                <th style="border: 1px solid black;">frais de livraison</th>
                                <th style="border: 1px solid black;">Montant total à payer</th>
                              </tr>
                            </thead>
                            <tbody>
                                
                                <tr>
                                  <td style="border: 1px solid black;">{{ss}} Fcfa</td>
                                  <td style="border: 1px solid black;">{{commnonlivrer[-1].12}} Fcfa</td>
                                  <td style="border: 1px solid black;">{{tous}} Fcfa</td>
                                </tr>
                        
                              </tbody>
                                  
                              </table>
                          </div>
                    
                          <br><br>
                    
                  </div>
                </div>
              </div>
            </div>
          </section>


  <style>
  
  .succes{
            color: rgb(170, 4, 120);
        }
  .danger{
            color: red;
        }

  </style>
{% endblock content %}