{% include 'header.html' %}
<div class="container">
    <div class="banner-header banner-lbook3 space-30">
        <img src='{{url_for("static",filename="assets/images/viandepoulet2.jpg")}}' alt="Banner-header">
        <div class="text">
            <h3>Connexion</h3>
            <p><a href="{{url_for('accueil')}}" title="Accueil">Accueil</a><i class="fa fa-caret-right"></i>Connexion</p>
        </div>
    </div>
</div>


<div class="container container-ver2">
    <div class="page-login box space-50">
        <div class="row">
            <div class="col-md-6 sign-in space-30">

                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="{{ category }} " role="alert">
                <span>{{ message }}</span> 
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                
                
              <div class="modal-body">
                                        
                  
   <form class="login-formm" action="{{ url_for('code') }}" method="POST" >

             <p>Mettez le code ici.</p>
                <div class="form-group">
                    <input type="text" class="form-control col-6" name="codess" placeholder="code" id="unsername" required>
                </div>
                <button  type = "submit"  class = "link-v1 rt"  data-toggle = "modal"  data-target = "#exampleModal {{message}}" > Valider </button>
                    <!-- <div class="text-center"> <a class="link-v1 lh-20 margin-right-50  bg-brand" data-toggle="modale" href="#myModale" >réinitialiser mot de passe</a></div> -->
            <!-- </div> -->
                                
                
        <!-- </div> -->
        </form>                         
               </div>
              
                    
             
        </div>
            <!-- End col-md-6 -->
            
            <!-- End col-md-6 -->
        </div>
    </div>
</div>

    <style>
    
    .succes{
        color: green    ;
    }
    
    .danger{
            color: red;
        }
    </style>



{% include 'footer.html' %}