{% extends 'chef.html' %}

{% block content %}
{% if totalprod|length !=0 %}
<h3>Rapport total</h3>
<p><p></p></p>
<div class="card-body table-responsive p-0">
    <table class="table table-hover">
      <thead style="background-color: #80b435;">
          <tr>
              <th style="border: 1px solid black;">Nbr commandes</th>
              <th style="border: 1px solid black;">ventes</th>
              <th style="border: 1px solid black;">Dépense totale produits</th>
              <th style="border: 1px solid black;">Bénéfice produits</th>
              <th style="border: 1px solid black;">%Benefice produits</th>

              
            </tr>
          </thead>
          <tbody>
              <tr>
                <td style="border: 1px solid black;">{{totalprod[0]}}</td>
                <td style="border: 1px solid black;">{{totalprod[1]}} FCFA</td>
                <td style="border: 1px solid black;">{{totalprod[2]}} FCFA</td>
                <td style="border: 1px solid black;">{{totalprod[3]}} FCFA</td>
                <td style="border: 1px solid black;">{{totalprod[5]}}%</td>

              </tr>
            </tbody>
                
            </table>
        </div>
<br><br><br>
        <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <thead style="background-color: #80b435;">
                  <tr>
                      <th style="border: 1px solid black;">Autres dépenses</th>
                      <th style="border: 1px solid black;">Dépense totale</th>
                      <th style="border: 1px solid black;">Benefice total</th>
                      <th style="border: 1px solid black;">%Benefice Total</th>
                     
        
                      
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td style="border: 1px solid black;">{{totalprod[4]}}</td>
                        <td style="border: 1px solid black;">{{totalprod[6]}} FCFA</td>
                        <td style="border: 1px solid black;">{{totalprod[7]}} FCFA</td>
                        <td style="border: 1px solid black;">{{totalprod[8]}}%</td>

        
                      </tr>
                    </tbody>
                        
                    </table>
                </div>

{%endif%}
<br><br><br>
{% if users|length !=0 %}

<div class="content">
    <h3>Rapport journalier</h3>
    <div class="card-body table-responsive p-0">
        <table class="table table-hover">
          <thead style="background-color: #80b435;">
              <tr>
                  <th style="border: 1px solid black;">Date</th>
                  <th style="border: 1px solid black;">Nbr commandes</th>
                  <th style="border: 1px solid black;">ventes</th>
                  <th style="border: 1px solid black;">Dépenses produits</th>
                  <th style="border: 1px solid black;">Bénéfices</th>
                  
                </tr>
              </thead>
              <tbody>
                  {% for row in users%}
                  <tr>
                    <td style="border: 1px solid black;">{{row.0}}</td>
                    <td style="border: 1px solid black;">{{row.1}}</td>
                    <td style="border: 1px solid black;">{{row.2}} FCFA</td>
                    <td style="border: 1px solid black;">{{row.3}} FCFA</td>
                    <td style="border: 1px solid black;">{{row.4}} FCFA</td>
                  </tr>
                  {%endfor%}
                </tbody>
                    
                </table>
            </div>
          
  </div>

    </div>

{% endif %}

<nav class="pagination align-center" style="  width: 55px;">
    {{ pagination.links }}
</nav>
<style>

.section1{
	background-color:#11181e;
	width:50%;
	float:left;
	height:50vh;
	border-right: 1vw solid #F5E5D6; 
  box-sizing: border-box;
  margin:0;
  padding:0;	
}
.section2{
	background-color:#11181e;
	width:50%;
	float:left;
	height:50vh;
	margin:0;
	padding:0;
  box-sizing: border-box;
}

.section3{
	background-color:#11181e;
	width:50%;
	float:left;
	height:50vh;
	border-right: 1vw solid #F5E5D6; 
    box-sizing: border-box;
    margin:0;
    padding:0;	
}

.section4{
	background-color:#11181e;
	width:50%;
	float:left;
	height:50vh;
	margin:0;
	padding:0;
  box-sizing: border-box;
}

</style>





                      
{% endblock content %}