{% extends 'rolemarkting.html' %}

{% block content %}

<section class="content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="" style="color: #80b435; text-align:center" t>Listes des commandes Commandes</h4>
                  </div>
                  {% if new_commande|length !=0 %}
                  <div class="card-body table-responsive p-0">
                   
                      <table class="table table-hover">
                        <thead>
                            <tr style="background-color: #80b435;">
                                <th>nom client</th>
                                <th>phone</th>
                                <th>numero commande</th>
                                <th>Information</th>


                                                      
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in new_commande%}
                            
                            <tr>
                                <!-- <td><img src="../static/images/{{row.1}}" width="50" height="90" alt="Photo"> </td> -->
                                <td>{{row.1}}&nbsp;{{row.2}}</td>
                                <td>{{row.3}}</td>
                                <td>{{row.0}}</td>
                                
                                
                                
                                
                                <td><a href="/detaillantchef/{{row.0}}" class="btn btn-success">detail</a></td>
                                <!-- <td><a href="/appel/{{row.0}}" class="btn btn-primary"  onclick="return confirm('Est ce que vous avez déja appeller?');">appeller</a></td>
                                <td> <a href="/livr/{{row.0}}" class="btn btn-danger" onclick="return confirm('Est ce que vous avez déja livré?');">livrer</a></td>
                                <td> <a href="/supprim/{{row.0}}" class="btn btn-danger" onclick="return confirm('Etes vous sùre de vouloir supprimer?');">Supprimer</a></td> -->

                              </tr>
                        
                            {% endfor %}
                        </tbody>
                            
                            
                        </table>
                        
                    </div>
                    {% else %}
                      <h1> Toutes les commandes en ligne sont validées.  </h1>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </section>

          <style>
                .succes{
                  color: green;
                }
                .danger{
                    color: rgb(241, 27, 12);
                }
            </style>
{% endblock content %}