{% extends 'heardercommande.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sen Ndawal</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>


<div class="container">
  <!-- Button to Open the Modal -->

  <div class="msg">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="{{ category }} " role="alert">
          <span>{{ message }}</span>
          
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
</div>

<section class="content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title" style="text-align: center;">Commandes En Ligne</h3>
              </div>
              {% if new_commandes|length == 0 %}
              <h1> Il n'y a pas encore de nouvelle commande. </h1>
              {% else %}
              <!-- {{new_commandes}} -->
              <div class="card-body table-responsive p-0">
                  <table class="table table-hover">
                    <thead>
                        <tr style="background-color: #80b435;">
                            <th>nom client</th>
                            <th>phone</th>
                            <th>numero commande</th>
                            <th></th>
                            <th></th>
                            <th> Actions</th>
                            <th></th>



                                                  
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in new_commandes%}
                        
                        <tr>
                            <!-- <td><img src="../static/images/{{row.1}}" width="50" height="90" alt="Photo"> </td> -->
                            <td>{{row.1}}&nbsp;{{row.2}}</td>
                            <td>{{row.3}}</td>
                            <td>{{row.0}}</td>
                            
                            
                            
                            
                            <td><a href="/detaillant/{{row.0}}" class="btn btn-success">detail</a></td>
                            <td><a href="/appel/{{row.0}}" class="btn btn-primary" id="dx"  onclick="changeColor()">appeller</a></td>
                            <td> <a href="/livr/{{row.0}}" class="btn btn-danger" >livrer</a></td>
                            <td> <a href="/supprim/{{row.0}}" class="btn btn-danger" onclick="return confirm('Etes vous sùre de vouloir supprimer?');">Supprimer</a></td>

                            

                          </tr> 

                          
                    
                        {% endfor %}
                    </tbody>
                        
                        
                    </table>
                </div>

                
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </section>

      <style>
            .succes{
              color: green;
            }
            .danger{
                color: rgb(241, 27, 12);
            }
        </style>

<script>

function changeColor() { 
  confirm('Est ce que vous avez déja appeller?');
  var coler = document.getElementById("dx"); 
    coler.style.background = 'yellow';
} 

</script>

  
{% endblock content %}
