{% extends 'comtablegeneral.html' %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
  
<!-- <head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head> -->

<body>

    <div class="msg">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="{{ category }} " role="alert">
          <span>{{ message }}</span>
          
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

<div class="container">
  <h2></h2>
  <!-- Button to Open the Modal -->
  
     
  <button style="margin-top: -3%;" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal">
    Créer un(e) caissier(e) </button>

  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header"  style="background-color:#80b435;">
          <h4 class="modal-title" style="text-align: center;">Créer un(e) caissier(e)</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          

            <form class="login-form" action="{{ url_for('creercaissier') }}" method="POST">
                <label style="color:#80b435;" class="control-label" for="inputemail">PRENOM</label>
                <input type="text" class="form-control" name="prenomc" placeholder="prenom" id="prenom" value="{{ request.form['prenomc'] }}" required>
      
                <label style="color:#80b435;" class="control-label" for="inputemail">NOM</label>
                <input type="text" class="form-control" name="nomc" placeholder="nom" id="nom" value="{{ request.form['nomc'] }}" required>

                <label style="color:#80b435;" class="control-label" for="inputemail">TELEPHONE</label>
                <!-- <input type="text" class="form-control" name="telephonec" placeholder="telephone" id="telephone" required> -->
                <input type="tel" class="form-control" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                name="telephonec" placeholder="telephone" value="{{ request.form['telephonec'] }}" required>  
      
                <label  style=color:#80b435;" class="control-label" for="inputemail">DATE D'Adhésion</label>
                <input type="date" class="form-control" name="datenaissc" placeholder="date_naiss" id="date_naiss" value="{{ request.form['datenaissc'] }}" required>
      
                <label style="color:#80b435;" class="control-label" for="inputemail">ADRESSE</label>
                <input type="text" class="form-control" name="adressec" placeholder="adresse" id="adresse" value="{{ request.form['adressec'] }}" required>
      
                <label style="color:#80b435;" class="control-label" for="inputemail">CNI</label>
                <input type="text" class="form-control" name="cnic" placeholder="cni" id="cni" value="{{ request.form['cnic'] }}" required>

                <label style="color:#80b435;" class="control-label" for="inputemail">EMAIL</label>
                <input type="email" class="form-control" name="mailc" placeholder="mail" id="mail" value="{{ request.form['mailc'] }}" required>
               
                <label style="color:#80b435;" class="control-label" for="inputsalaire">Salaire</label>
                <input type="number" class="form-control" name="salairec" placeholder="salaire" id="salaire" value="{{ request.form['salairec'] }}" required>
                
                <label for="pet-select">Boutiques</label>
                <select style="color:#80b435;" name="boutique" id="pet-selectq">
                    <option value="">--Choisir une boutique--</option>
                    <option value="EFSGuediawaye">EFSGuediawaye</option>
                    <option value="EFSDakar">EFSDakar</option>
                    
                </select>
                <p></p>
                
                <button  style="background-color:#80b435; margin-top:3%" class="btn btn-success" type="submit"  data-toggle="modal" data-target="#exampleModal{{message}}">Enregister</button>
            </form>
            <!-- End form -->


        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  
  

</div >
<section class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="" style="font-size: 50px; color: #80b435; text-align: center;">Liste Des Caisier(e)s</h3>
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                      <tr style="background-color: #80b435;">
                          <th>Prénom</th>
                          <th>nom</th>
                          <th>Téléphone</th>
                          <th>Action</th>

                                                
                      </tr>
                  </thead>
                  {% for row in users %}
                  <tbody>
                      
                      <tr>
                          <td> {{row[1]}} </td>
                          <td> {{row[2]}} </td>
                          <td> {{row[3]}} </td>
                          
                          <td>
                            <a href="pageCaissier/{{row[0]}}" class="btn btn-outline-success" role="button" title="Messages">Suivi Caissier</a>  

                          </td>

                      </tr>
                  
                  </tbody>

                  {% endfor %}
                      
                      
                  </table>
              </div>
        </div>
      </div>
    </section>

    <style>

    .msg{
            padding-left:300px ;
        }
      
      .succes{
            color: green;
        }
        .danger{
            color: red;
        }

    </style>
<nav class="pagination align-center" style="  width: 55px;">
    {{ pagination.links }}
</nav>
{% endblock content %}
