<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sen Ndawal</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/fontawesome-free/css/all.min.css")}}'>
  <link rel="shortcut icon" href='{{url_for("static",filename="assets/images/LogoSenNdawal.png")}}'>
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css")}}'>
  <!-- iCheck -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/icheck-bootstrap/icheck-bootstrap.min.css")}}'>
  <!-- JQVMap -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/jqvmap/jqvmap.min.css")}}'>
  <!-- Theme style -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/dist/css/adminlte.min.css")}}'>
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/overlayScrollbars/css/OverlayScrollbars.min.css")}}'>
  <!-- Daterange picker -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/daterangepicker/daterangepicker.css")}}'>
  <!-- summernote -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/summernote/summernote-bs4.css")}}'>
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!-- Hotjar Tracking Code for https://africmode.com/ -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write("<script src='{{url_for('static', filename='js/jquery-3.5.1.min.js') }}'>\x3C/script>")</script>
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:1731571,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light" >
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{url_for('accueil')}}" class="btn btn-outline-success  mr-2" >Accueil</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{url_for('comptable')}}" class="btn btn-outline-success  mr-2" role="button" title="Lister">Lister Caissiers</a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="btn btn-outline-success  mr-2" role="button" title="depenses" data-toggle="modal" data-target="#myModaldep">Enregister Dépenses</a>  
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{url_for('visualcompt')}}" class="btn btn-outline-success  mr-2" role="button" title="Lister">Visualisation</a>
           </li>
     
    </ul>
  

  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4" >
    <!-- Brand Logo -->
    <a href="{{url_for('accueil')}}" class="brand-link">

      <!-- <img src='{{url_for("static",filename="img/Logo Afric Mode.png")}}' class="img-circle elevation-2" width = "200" height = "50" alt="User Image"> -->
        <h4>Sen Ndawal</h4>

    </a>

    <!-- Sidebar -->
    <div class="sidebar" style="background-color:#80b435;">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <div style="color: aliceblue">

            </div>
          <!-- <img src='{{url_for("static",filename="statics/dist/img/user2-160x160.jpg")}}' class="img-circle elevation-2" alt="User Image"> -->
       
        </div>
        <!-- {% for d in moi%} -->
        <div class="info">
            
              <!-- <a href="#" class="d-block">{{nom}}</a> -->
            
        </div>
        <!-- {%endfor %} -->
      </div>

      <!-- Sidebar Menu -->
      <!-- <div style="color: aliceblue">
        <p>Commandes totals: {{comm}}</p>
        <p>Commandes Enregistrée: {{commnonapp}}</p>
        <p>Commandes Validée: {{commnonliv}}</p>
      </div> -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          
          <li class="nav-item has-treeview">
            <a href="{{url_for('comptable')}}" class="btn btn-outline-success " role="button" title="Lister">Lister Caissiers</a>
          </li>

          <li class="nav-item has-treeview">
            <a href="#" class="btn btn-outline-success" role="button" title="depenses" data-toggle="modal" data-target="#myModaldep">Enregister Dépenses</a>  
          </li>

          <li class="nav-item has-treeview">
            <a href="{{url_for('visualcompt')}}" class="btn btn-outline-success" role="button" title="Lister">Visualisation</a>
          </li>
          
          <br>
          <li class="nav-item has-treeview">
            <a href="{{url_for('logout')}}" class="nav-link">
              <i class="fas fa-sign-out-alt"></i>
              <p>
                Déconnexion
              </p>
            </a>
            
          </li>
         
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
      

      
    </div>
    <!-- /.sidebar -->
  </aside>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
            </div>
            <!--  -->
          </div>
        </div><!-- /.container-fluid -->
      </section>
  <!-- Content Wrapper. Contains page content -->

  <!-- GESTION DES DÉPENSES    ********************    GESTION DES DÉPENSES  ***  GESTION DES DÉPENSES -->

<div class="modal" id="myModaldep">
    <div class="modal-dialog">
      <div class="modal-content">
      
        <!-- Modal Header -->
        <div class="modal-header"  style="background-color:#80b435;">
          <h4 class="modal-title" style="text-align: center;">Enregister une dépense</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          

            <form class="login-form" action="{{ url_for('depenses') }}" method="POST" enctype="multipart/form-data">

              <div class="form-group" style="color: #80b435;">
                          
                          
                <input type="radio" name="options" id="option1" class="opt" value="poissons" required > Poisson </input>
                <input type="radio" name="options" id="option2" class="opt" value="poulets"> Poulet </input>
                <input type="radio" name="options" id="option3" class="opt" value="viandemouton"> Viande mouton </input>
                <input type="radio" name="options" id="option4" class="opt" value="viandeboeuf"> Viande boeuf </input>
                <input type="radio" name="options" id="option5" class="opt" value="dinde"> Dindes </input>
                <input type="radio" name="options" id="option6" class="opt" value="crevette"> Crevette </input>
                <input type="radio" name="options" id="option7" class="opt" value="pigeons"> Pigeons </input>
                <input type="radio" name="options" id="option8" class="opt" value="tablette"> Tablettes </input>
              </div>
              
              <div class="form-group" style="color: #80b435;">
                <label for="recipient-name" class="col-form-label">Produit:</label>
                <select name="produit" id="pet-select" required>
                    <option value="">--Choisir un produit--</option>
                </select>
              </div>


                <label style="color:#80b435;" class="control-label" for="inputemail">Montant unitaire</label>
                <input type="number" class="form-control" name="montant" placeholder="Montant" id="prenom" value="{{ request.form['montant'] }}" required>
      
                <label  style="color:#80b435;" class="control-label" for="inputemail">Quantité/Nombre</label>
                <input type="number" class="form-control" name="nombre" placeholder="quantité" id="date_naiss" value="{{ request.form['nombre'] }}" required>
      <p></p>
                
                <label for="pet-select">Boutiques</label>
                <select style="color:#80b435;" name="boutique" id="pet-selectb">
                    <option value="">--Choisir une boutique--</option>
                    <option value="EFSGuediawaye">EFSGuediawaye</option>
                    <option value="EFSDakar">EFSDakar</option>
                    
                </select>
<p></p>
                <label  style="color:#80b435;" class="control-label" for="inputemail">Frais transport</label>
                <input type="number" class="form-control" name="transport" placeholder="quantité" id="transp" value="{{ request.form['transport'] }}" required>
                <p></p>
                <label style="color:#80b435;" class="control-label" for="inputemail">Justification de la dépense</label>
                <!-- <input type="text" class="form-control" name="nomc" placeholder="nom" id="nom" value="{{ request.form['nomc'] }}" required> -->
                <textarea placeholder="Justification" name="Comment" id="message" class="form-control"></textarea>

                <p></p>
                      
                
                <button  style="background-color:#80b435; margin-top:3%" class="btn btn-success" type="submit"  data-toggle="modal" data-target="#exampleModal{{message}}" onclick="return confirm('Avez vous bien vérifié le montant et la quantité de la dépense avant la validation?');">Enregister</button>
            </form>
            <!-- End form -->


        </div>
        
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>

<!-- FIN GESTION DES DÉPENSES *******************    FIN GESTION DES DÉPENSES ***  FIN GESTION DES DÉPENSES -->
<script type=text/javascript>
  $( document ).ready(function() {
      $("input[type='radio']").click( function() {
          var mylisteq = []
          var poissonsq = [{'categorie': 'Dorade_moyen', 'prix': 2500}, {'categorie': 'Sompate', 'prix': 2700}, {'categorie': 'Thiof', 'prix': 4300}, {'categorie': 'Todjé', 'prix': 2900}, {'categorie': 'Sardinelle(Yaboy)', 'prix': 1300}, {'categorie': 'Bande', 'prix': 1700}, {'categorie': 'Filet_de_dorade', 'prix': 6900}, {'categorie': 'Diey', 'prix': 2600}, {'categorie': 'Dorade_bu_mak', 'prix': 2700}, {'categorie': 'Barracuda(Seudde)', 'prix': 3600}, {'categorie': 'Diéregne', 'prix': 2000}, {'categorie': 'Cassaw', 'prix': 2800}, {'categorie': 'Crevette', 'prix': 4500}, {'categorie': 'Niaw_nekh', 'prix': 2400}, {'categorie': 'Niaw_nekh', 'prix': 2400}, {'categorie': 'Thon_blanc', 'prix': 2300}, {'categorie': 'Sompate', 'prix': 2700}]
          var pouletsq = [{'categorie': 'Poulet_entier', 'prix': 3500},{'categorie': 'Dinde', 'prix': 4250}, {'categorie': 'Poulet_entier', 'prix': 2750}, {'categorie': 'Poulet_entier', 'prix': 3000}, {'categorie': 'Poulet_entier', 'prix': 3500}, {'categorie': 'Poulet_entier', 'prix': 3000}]
          var viandemoutonq = [{'categorie': 'Viande_mouton', 'prix':3400}, {'categorie': 'Côtelette(farr)_mouton', 'prix':3400}, {'categorie': 'Epaule_mouton', 'prix':3400}, {'categorie': 'Foie_mouton', 'prix':3500}, {'categorie': 'Carcasse_de_mouton_de_13_kg', 'prix':50000}, {'categorie': 'Gigot_mouton', 'prix':3400}, {'categorie': 'Mouton_de_18_kg', 'prix':70000}, {'categorie': 'Pied_de_mouton', 'prix':150}]
          var viandeboeufq = [{'categorie': 'Viande_boeuf', 'prix': 3000}, {'categorie': 'Côtelette_boeuf', 'prix': 3000}, {'categorie': 'Colis_de_bœuf', 'prix': 3000}, {'categorie': 'Epaule_boeuf', 'prix': 3000}, {'categorie': 'Viande_sans_os_de_boeuf', 'prix': 3800}, {'categorie': 'Faux_filet_boeuf', 'prix': 3000}, {'categorie': 'Laxass', 'prix': 100}, {'categorie': 'Queue_de_boeuf', 'prix': 2900}, {'categorie': 'Foie_de_boeuf', 'prix': 3000}, {'categorie': 'Pied_de_boeuf', 'prix': 1900}, {'categorie': 'Foie_de_boeuf', 'prix': 3000}, {'categorie': 'Abats_boeuf', 'prix': 1400}, {'categorie': 'Faux_filet_boeuf', 'prix': 3000}]            
          var crevettesq = [{'categorie': 'cameron', 'prix': 14000}, {'categorie': 'Gambass_num:2', 'prix': 9000}, {'categorie': 'camaron', 'prix': 14000}, {'categorie': 'Gambass_num:3', 'prix': 7000}, {'categorie': 'Gambass_num:1', 'prix': 11000}, {'categorie': 'Crevette', 'prix': 3000}, {'categorie': 'Crevette', 'prix': 4500}]            
          var dindeq = [{'categorie': 'dinde_entiére', 'prix': 4250}]
          var pigeonq = [{'categorie': 'pigeons', 'prix': 1900}, {'categorie': 'pigeons_déjà_néttoyés', 'prix': 2000}]
          var tabletteq = [{'categorie': 'tablette', 'prix': 3000}]            


      var q = $("input[name='options']:checked").val()
      $('#pet-select').children('option:not(:first)').remove();
      $('#pet').children('option:not(:first)').remove();
      if (q == 'poissons') {
          mylisteq = poissonsq
  }else{
          if (q == 'poulets') {
              mylisteq = pouletsq
          }
          else{
              if (q == 'viandemouton') {
                  mylisteq = viandemoutonq
              }
          else{
              if (q == 'viandeboeuf') {
                  mylisteq = viandeboeufq
                  
              }else{
              if (q == 'crevette') {
                  mylisteq = crevettesq
                  
              }else{
              if (q == 'dinde') {
                  mylisteq = dindeq
                  
              }else{
              if (q == 'pigeons') {
                  mylisteq = pigeonq
                  
              }else{
              if (q == 'tablette') {
                  mylisteq = tabletteq
                  
              }
          }
          }
          }
          }
          }

          }
          
          } 
          

          for (var i in mylisteq) {
              var d = mylisteq[i]
              $("#pet-select").append("<option value="+ d.categorie +">" + d.categorie + "</option>");
              // $("#pet").append("<option value="+ d.prix +">" + d.prix + "</option>");
      }
      
      });
  });
</script>

  {% block content  %} 
  
  
  
  {% endblock content%}
      </div>
          
      
      
      
          <style>
              .k{
                  color: green;
              }
          </style>

        </div>
      </div>

    </div>
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2020-2021 <a href="{{url_for('accueil')}}">sendawal.com</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0
    </div>
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src='{{url_for("static",filename="statics/plugins/jquery/jquery.min.js")}}'></script>
<!-- jQuery UI 1.11.4 -->
<script src='{{url_for("static",filename="statics/plugins/jquery-ui/jquery-ui.min.js")}}'></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src='{{url_for("static",filename="statics/plugins/bootstrap/js/bootstrap.bundle.min.js")}}'></script>
<!-- ChartJS -->
<script src='{{url_for("static",filename="statics/plugins/chart.js/Chart.min.js")}}'></script>
<!-- Sparkline -->
<script src='{{url_for("static", filename="statics/plugins/sparklines/sparkline.js")}}'></script>
<!-- JQVMap -->
<script src='{{url_for("static",filename="statics/plugins/jqvmap/jquery.vmap.min.js")}}'></script>
<script src='{{url_for("static",filename="statics/plugins/jqvmap/maps/jquery.vmap.usa.js")}}'></script>
<!-- jQuery Knob Chart -->
<script src='{{url_for("static",filename="statics/plugins/jquery-knob/jquery.knob.min.js")}}'></script>
<!-- daterangepicker -->
<script src='{{url_for("static",filename="statics/plugins/moment/moment.min.js")}}'></script>
<script src='{{url_for("static",filename="statics/plugins/daterangepicker/daterangepicker.js")}}'></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src='{{url_for("static",filename="statics/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js")}}'></script>
<!-- Summernote -->
<script src='{{url_for("static",filename="statics/plugins/summernote/summernote-bs4.min.js")}}'></script>
<!-- overlayScrollbars -->
<script src='{{url_for("static",filename="statics/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js")}}'></script>
<!-- AdminLTE App -->
<script src='{{url_for("static",filename="statics/dist/js/adminlte.js")}}'></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src='{{url_for("static",filename="statics/dist/js/pages/dashboard.js")}}'></script>
<!-- AdminLTE for demo purposes -->
<script src='{{url_for("static",filename="statics/dist/js/demo.js")}}'></script>
</body>
</html>
