{% include 'header.html' %}

        <!-- <div class="container">
            <div id="googleMap">
            </div>
        </div> -->
        <!-- End google map -->

        <div class="cc">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="{{ category }} " role="alert">
                <span>{{ message }}</span>
                
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}

        </div>



        <div class="container container-ver2">
            <div class="page-contact">
                <div class="head" style="margin-top: -15%;">
                    <div class="item">
                        <!-- <div class="icon">
                            <span class="pe-7s-map-marker"></span>
                        </div> -->
                        <div class="text">
                            <p>Ecole Police,</p>
                            <p>Immeuble Scalène Mermoz lot B, Rue KA 05,Dakar</p>
                        </div>
                    </div>
                    <!-- End item -->
                    <div class="item">
                        <div class="icon">
                            <span class="pe-7s-global"></span>
                        </div>
                        <div class="text">
                            <p>sendawal.com</p>
                            <p>senndawal2020@gmail.com</p>
                        </div>
                    </div>
                    <!-- End item -->

                    <div class="item">
                        <div class="icon">
                            <span class="pe-7s-call"></span>
                        </div>
                        <div class="text"> 
                            <p>Portable: (+221) 78 358 05 37 </p>
                            <p>Portable: (+221) 76 452 20 67</p>
                        </div>
                    </div>
                    <!-- End item -->
                </div>
                <!-- End head -->
                <div class="content-text center">
                    <h3>Contactez-nous</h3>
                    <p>Envoyer un Message</p>
                    <form class="form-horizontal space-50" action="{{ url_for('contact') }}" method="POST">
                        <div class="form-group col-md-6">
                            <input type="text" placeholder="Nom*" name="nom" id="inputName" class="form-control">
                        </div>
                        <div class="form-group col-md-6">
                            <input type="text" placeholder="Prénom*" name="prenom" id="inputsumary" class="form-control">
                        </div>
                        <div class="form-group col-md-12">
                            <input type="email" placeholder="Email*" name="mail" id="inputemail" class="form-control">
                        </div>
                        <div class="form-group">
                            <textarea placeholder="Message" name="Comment" id="message" class="form-control"></textarea>
                        </div>
                        <div class="box align-left">
                                <button type="submit" class="link-v1 rt" data-toggle="modal" data-target="#exampleModal{{message}}">Envoyer</button>
                            <!-- <a title="Envoyé" href="#" class="link-v1 rt">Envoyé</a> -->
                        </div>
                    </form>
                </div>
                <!-- End content-text -->
            </div>
        </div>
        <!-- End container -->
        <footer id="footer" class="footer-v3 align-left">
            <div class="container container-ver2">
                <div class="footer-inner">
                    <div class="row">
                        <div class="col-md-5 col-sm-3">
                            <h3 class="title-footer">Qui sommes nous?</h3>
                            Nous sommes des jeunes entrepreneurs qui participent au développement de notre continent africain plus particulièrement de notre pays qu'est le Sénégal.
                            Nous réfléchissons et proposons des solutions optimales digitales face aux différents problèmes que vivent les africains.
                            Dans ce sens, Sen Ndawal est né et vise à aider la population de s'approvisionner facilement et rapidement des produits comme le poulet, la viande, le poisson,... sans effectuer un moindre déplacement.
                            <a class="link-footer" href="{{url_for('contact')}}" title="plus d'infos">plus d'informations <i class="fa fa-long-arrow-right"></i></a>
                        </div>
                        
                        <div class="col-md-3 col-sm-3">
                            <h3 class="title-footer">Réseaux sociaux</h3>
                            <div class="social space-30">
                                <a href="#" title="t"><i class="fa fa-twitter"></i></a>
                                <a href="#" title="f"><i class="fa fa-facebook"></i></a>
                                <a href="#" title="y"><i class="fa fa-youtube-play"></i></a>
                                <a href="#" title="i"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-3">
                            <h3 class="title-footer">Contact</h3>
                            <span class="pe-7s-map-marker"> Ecole Police, Immeuble Scalène Mermoz lot B,<br><br> &nbsp; &nbsp; Rue KA 05, Dakar</span><br><br>
                            <span class="pe-7s-call"> (+221) 78 358 05 37 / 76 452 20 67</span> <br><br>
                            <span class="pe-7s-mail"> senndawal2020@gmail.com</span>
                        </div>
                    </div>
                    <!-- End row -->
                </div>
                <!-- End footer-inner -->
            </div>
            <!-- End container -->
            <div class="footer-bottom box">
                <div class="container container-ver2">
                    <div class="box bottom">
                            <p class="float-left">Copyright &copy;2020 Sen - Ndawal - All Rights Reserved.</p>
                            <div class="float-right">
                            <ul class="menu-bottom-footer">
                                <li><a href="{{url_for('contact')}}" title="Contactez-nous">Contactez-nous</a></li>
                                
                                <li><a href="#" title="Site Map">Site Map</a></li>
                            </ul>
                            
                            <!-- End language -->
                        </div>
                    </div>
                </div>
                <!-- End container -->
            </div>
        </footer>
    </div>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/bootstrap.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/owl.carousel.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/jquery.themepunch.revolution.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/jquery.themepunch.plugins.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/engo-plugins.js")}}'></script>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/map-icons.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/store.js")}}'></script>
    <script type="text/javascript">
        if ($("#googleMap").length) {
            // Center
            var center = new google.maps.LatLng(21.0311448, 105.7640188);

            // Map Options      
            var mapOptions = {
                zoom: 15,
                center: center,
                scrollwheel: false,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                styles: [{
                    "featureType": "landscape",
                    "stylers": [{
                        "saturation": -100
                    }, {
                        "lightness": 65
                    }, {
                        "visibility": "on"
                    }]
                }, {
                    "featureType": "poi",
                    "stylers": [{
                        "saturation": -100
                    }, {
                        "lightness": 51
                    }, {
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "road.highway",
                    "stylers": [{
                        "saturation": -100
                    }, {
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "road.arterial",
                    "stylers": [{
                        "saturation": -100
                    }, {
                        "lightness": 30
                    }, {
                        "visibility": "on"
                    }]
                }, {
                    "featureType": "road.local",
                    "stylers": [{
                        "saturation": -100
                    }, {
                        "lightness": 40
                    }, {
                        "visibility": "on"
                    }]
                }, {
                    "featureType": "transit",
                    "stylers": [{
                        "saturation": -100
                    }, {
                        "visibility": "simplified"
                    }]
                }, {
                    "featureType": "administrative.province",
                    "stylers": [{
                        "visibility": "off"
                    }]
                }, {
                    "featureType": "water",
                    "elementType": "labels",
                    "stylers": [{
                        "visibility": "on"
                    }, {
                        "lightness": -25
                    }, {
                        "saturation": -100
                    }]
                }, {
                    "featureType": "water",
                    "elementType": "geometry",
                    "stylers": [{
                        "hue": "#ffff00"
                    }, {
                        "lightness": -25
                    }, {
                        "saturation": -97
                    }]
                }],
            };
            var map = new google.maps.Map(document.getElementById('googleMap'), mapOptions);
            var image = 'assets/images/google-map-icon.png';
            var marker = new Marker({
                map: map,
                position: new google.maps.LatLng(21.0311448, 105.7640188),
                icon: image
            });
        }
    </script>
    <style>
        .page-contact{
            padding-top: 200px;
        }

        .succes{
            color:green;
        }
        .danger{
            color: red;
        }
    </style>
    </body>
        
</html>

