{% extends 'heardercommande.html' %}
{% block content %}
<!-- {{details}} -->
<div class="modal-header" style="background-color: #80b435;">
    <h4 class="modal-title">INFORMATIONS</h4>
  </div>
  <br><br>
<div class="card-body table-responsive p-0">
    <table class="table table-hover">
      <thead>
          <tr style="background-color: #80b435;">
              <th>nom client</th>
              <th>phone</th>
              <th>adresse</th>
              <th>valeur commande</th>
              <th> frais livraison</th>
              <th></th>



                                    
          </tr>
      </thead>
      <tbody>
          {% for row in details%}
          
          <tr>
              <td>{{row.1}}&nbsp;{{row.2}}</td>
              <td>{{row.3}}</td>
              <td>{{row.4}}</td>
              <td>{{row.5}}</td>
              <td>{{row.6}}</td>
              

            </tr> 

            
      
          {% endfor %}
      </tbody>
          
          
      </table>
  </div>
  <br><br>
<form action="{{ url_for('enregistrdepensecommande') }}" method="POST" enctype="multipart/form-data">
    <!-- Modal Header -->
    
    
    <!-- Modal body -->
    <div class="modal-body">
          <h4 class="modal-title" style="color: #80b435;" >Depenses Commande</h4>
            
          <div class="form-group">
              <input id="dep" type="number" class="form-control" name="dep" placeholder="Depense faite pour la commande*" required>
              
            </div>
                                                  
        
    </div>
    
    <!-- Modal footer -->
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
        
      <button id="clickMeyou"  style="margin-top: 1%;" class="btn btn-success" title="valider" type="submit" onclick="return confirm('Est ce que vous avez déja livré?');">Valider</button>
    </div>
    </form>

{% endblock content %}