{% extends 'chef.html' %}

{% block content %}


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="{{ category }} " role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="msg">{{ msggz }}</div>
<section class="content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                <div class="card">


                    <h3>Client</h3>
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                          <thead style="background-color: #80b435;">
                              <tr>
                                  <th style="border: 1px solid black;">Nom</th>
                                  <th style="border: 1px solid black;">numero</th>
                                  <th style="border: 1px solid black;">zone livraison</th>
                                  <th style="border: 1px solid black;">date commande</th>
                                  <th style="border: 1px solid black;">date à livrer</th>
                                </tr>
                              </thead>
                              <tbody>
                                  {% for row in myclient%}
                                  <tr>
                                    <td style="border: 1px solid black;">{{row.0}}&nbsp;{{row.1}}</td>
                                    <td style="border: 1px solid black;">{{row.2}}</td>
                                    <td style="border: 1px solid black;">{{row.3}}</td>
                                    <td style="border: 1px solid black;">{{row.4}}</td>
                                    <td style="border: 1px solid black;">{{row.5}}</td>
                                  </tr>
                                  {%endfor%}
                                </tbody>
                                    
                                </table>
                            </div>

<br>
                  <div class="card-header">
                    <h3 class="card-title">Detail commande</h3>
                  </div>
                  <div class="card-body table-responsive p-0">
                      <table class="table table-hover">
                        <thead style="background-color: #80b435;">
                            <tr>
                                <th style="border: 1px solid black;">produit</th>
                                <th style="border: 1px solid black;">nom</th>
                                <th style="border: 1px solid black;">prix unit</th>
                                <th style="border: 1px solid black;">quantite</th>
                                <th style="border: 1px solid black;">prix tot</th>
                                

                                                      
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in details%}
                            
                            <tr>
                              <td style="border: 1px solid black;"><img src="../static/images/{{row.2}}" width="120" height="120" alt="Photo"> </td>
                              <td style="border: 1px solid black;">{{row.1}}</td>
                                <td style="border: 1px solid black;">{{row.3}}</td>
                                <td style="border: 1px solid black;">{{row.4}}</td>
                                <td style="border: 1px solid black;">{{row.5}}</td>                                
                              </tr>
                        
                            {% endfor %}
                        </tbody>
                            
                            
                        </table>
                    </div>
                  </div>


                  <div class="card-header">
                    <h3 class="card-title">Montant à payer:</h3>
                  </div>
                  
                                      <div class="card-body table-responsive p-0">
                                        <table class="table table-hover">
                                          <thead style="background-color: #80b435;">
                                              <tr>
                                                  <th style="border: 1px solid black;">montant total des produits</th>
                                                  <th style="border: 1px solid black;">frais de livraison</th>
                                                  <th style="border: 1px solid black;">Montant total à payer</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                  <tr>
                                                    <td style="border: 1px solid black;">{{details[-1].7}} Fcfa</td>
                                                    <td style="border: 1px solid black;">{{details[-1].6}} Fcfa</td>
                                                    <td style="border: 1px solid black;">{{details[-1].8}} Fcfa</td>
                                                  </tr>
                                                </tbody>
                                                    
                                                </table>
                                            </div>



                </div>
              </div>
            </div>
          </section>

          <style>
                .succes{
                  color: green;
                }
                .danger{
                    color: rgb(241, 27, 12);
                }
            </style>

{% endblock content %}