{% include 'header.html' %}


        <div class="container">
            <div class="banner-header banner-lbook3 space-30">
                <img src='{{url_for("static",filename="assets/images/viandepoulet2.jpg")}}' alt="Banner-header">
                <div class="text">
                    <h3>Details Produit</h3>
                    <p><a href="{{url_for('accueil')}}" title="Accueil">Accueil</a><i class="fa fa-caret-right"></i>Détails Produit</p>
                </div>
            </div>
        </div>
        <!-- End container -->
        
        <div class="blog-post-container blog-page blog-list-width">
            <div class="container container-ver2">
                {% for row in dieun %}
                <div class="row">
                    <div class="blog-post-item left">
                        <div class="blog-post-image hover-images">
                            <a href="#" title="Post"><img src="../static/images/{{row.1}}" width="200px;" height="200px;"  alt=""></a>
                        </div>  
                        <div class="text" style="box-shadow: none;">                          
                            <h3><a href="#" title="Nom Produit">{{row.2}}</a></h3>
                            <!-- encien prix: <p class="product-price-old">{{row.7}}</p> -->
                            <h3>Prix : {{row.3}} FCFA/{{row.6}}</h3>
                            <p class="content">Description : <br>{{row.4}}... </p>
                            <a class="link-v1 lh-20 margin-right-10 space-60 bg-brand" href="/panierprods/{{row.0}}"   title="Ajouter au Panier">Ajouter au panier</a>
                        </div>
                            <!-- End text -->
                    </div>
                    
                        
                        <!-- End text -->
                    </div>
                </div>
                {% endfor %}
            </div>
            
        </div>
            <!-- End container -->  
  
            <!-- End blog -->
            <div class="container">
                <div class="title-text-v2">
                    <h3>Nos Autres Produits</h3>
                </div>
                <div class="featured-products home_2 new-arrivals lastest">
                    <ul class="tabs tabs-title">
                        
                    </ul>
                    <div class="tab-container space-10">
                        <div id="tab_1" class="tab-content">
                            <div class="products hover-shadow ver2 border-space-product border-space-product">
                                {% for row in users%}
                                <div class="product">
                                    <div class="product-images">
                                        <a href="detail&{{row[0]}}" title="images-produits">
                                            <!-- <img src="../static/images/{{row.0}}" width="120" height="120" alt="Photo"> <br> -->
                                            <img class="primary_image" src='../static/images/{{row.1}}' width="300" height="200" alt=""/>
                                            <!-- <img class="secondary_image" src='../static/images/{{row.0}}' alt=""/> -->
                                        </a>
                                        <div class="action">
                                            <a href="detail&{{row[0]}}" class="add-cart" data-toggle="modal" href="#myModal" title="Ajouter panier"></a>
                                            <!-- <a class="wish" href="#" title="Wishlist"></a> -->
                                            <a class="zoom" href="detail&{{row[0]}}" title="Details"></a>
                                        </div>
                                        <!-- End action -->
                                    </div><br><br><br><br><br>
                                    <a href="detail&{{row[0]}}" title="nom produit"><p class="product-title">{{row.2 | truncate(15)}}</p></a>
                                    <p class="product-price-old">{{row.4}}</p>
                                    <p class="product-price">{{row.3}} FCFA/{{row.5}}</p>
                                    <a class="link-footer" href="detail&{{row[0]}}" title="Détails">Détails <i class="fa fa-long-arrow-right"></i></a>
            
                                </div>
                                {% endfor %}
                                <!-- End item -->
                                
                                <!-- End item -->
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_2" class="tab-content">
                            <div class="products hover-shadow ver2 border-space-product">
                               
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_3" class="tab-content">
                            <div class="products ver2 hover-shadow border-space-product">
                                
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_4" class="tab-content">
                            <div class="products ver2 hover-shadow border-space-product">
                                
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_5" class="tab-content">
                            <div class="products ver2 hover-shadow border-space-product">
                              
                                
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                    </div>
                </div>
                
                <div class="pages">
                    {{ pagination.links }}
                </div>

            </div>

    
    <div>
        <pagination class="pagination-sm" total-items="15" items-per-page="15" max-size="15"></pagination>                      
    </div>

<style>
.textss{
    margin-left: 450px;
}
.color-brand{
    margin-top: 150px;
}

.pages{
padding-left: 550px;
/* padding-top: 500px; */
}
.succes{
        color: rgb(170, 4, 120);
        }
.danger{
    color: red;
}

/*#classModal{}*/

.modal-body {
  overflow-x: auto;
}


</style>



{% include 'footer.html' %}
