{% extends 'rolemarkting.html' %}

{% block content %}


<!-- {{new_commande}} -->

<div class="container">
        <!-- {{moin24}}
        {{mytotal}}
        {{lecaisier}}
         -->
         <div class="section1">
                <div>
                    <canvas id="mixed-chart" width="800" height="450"></canvas>
                </div>
         </div>
         <div class="section2">
            <div>
                <canvas id="mixed-chartit" width="800" height="450"></canvas>
            </div>
         </div>
        
      </div >


      <style>
      
      .section1{
	background-color:#11181e;
	width:50%;
	float:left;
	height:50vh;
	border-right: 1vw solid #F5E5D6; 
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.section2{
	background-color:#11181e;
	width:50%;
	float:left;
	height:50vh;
	margin:0;
	padding:0;
  box-sizing: border-box;
}
      
      </style>

    

      <script>
      
    new Chart(document.getElementById("mixed-chart"), {
    type: 'bar',
    data: {
      labels: [{%for val in tous[0] %} "{{val}}", {%endfor%}],
      datasets: [{
          label: "commandes",
          type: "bar",
          backgroundColor: 'rgb(0,255,0)',
            
          data: [{%for val in tous[1] %} "{{val}}", {%endfor%}],
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Commandes du client par mois'
      },
      legend: { display: false }
    }
});

// 
new Chart(document.getElementById("mixed-chartit"), {
    type: 'pie',
    data: {
      labels: [{%for val in myvalue %} "{{val[0]}}", {%endfor%}],
      datasets: [{
        label: "produits-client",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#321456", "#326812"],
        data: [{%for val in myvalue %} "{{val[2]}}", {%endfor%}]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Les produits les plus achetés par le client.'
      }
    }
});
// 

      
      </script>

{% endblock content %}