{% extends 'chef.html' %}

{% block content %}

<section class="content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
              </div>
{% if lecaissier|length !=0 %}
                      <table class="table table-hover">
                        <thead>
                            <tr style="background-color: #80b435;" >
                                <th>Prénom</th>
                                <th>CNI</th>
                                <th>Email </th>
                                <th>Date naissance</th>
                                <th>Adresse</th>
      
                                                      
                            </tr>
                            
                        </thead>
                        {% for row in lecaissier %}
                        <tbody>
                            <tr>
                                <td>{{row[1]}} {{row[2]}}</td>
                                <td> {{row[6]}} </td>
                                <td> {{row[4]}}</td>
                                <td> {{row[7]}}</td>
                                <td> {{row[5]}}</td>
                                
                            </tr>
                        </tbody>
                        {% endfor %}
                            
                            
                        </table>
                        {% else %}
                            <h2>Vous avez pas d'information sur ce caissier.</h2>
                        {% endif %}


                        <br><br>
                        {% if myvalue|length != 0 %}
                        <div class="row">
                            <div  class="col-12">
                           <div>
                            <canvas id="myChart"></canvas>
                           </div>
                    </div>

                        <div  class="col-12">

                            <div>
                                <canvas id="myChartnbr"></canvas>
                            </div>
                    </div>
                    </div>
                        {% else %}
                        <h4> Ce caissier n'a pas encore validé une commande. </h4>
                        {% endif %}



                    </div>
                </div>
              </div>
            </div>
          </section>


<style>
          
.section1{
	background-color:#11181e;
	width:100%;
	float:left;
	height:50vh;
	border-right: 1vw solid #F5E5D6; 
    box-sizing: border-box;
    margin:0;
    padding:0;	
}
.section2{
	background-color:#11181e;
	width:50%;
	float:left;
	height:50vh;
	margin:0;
	padding:0;
  box-sizing: border-box;
}
          </style>


<script>



var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: [{%for val in myvalue %} "{{val[0]}}", {%endfor%}],
        datasets: [{
            label: 'vente',
            backgroundColor: 'rgb(0,255,0)',
            borderColor: 'rgb(255, 99, 132)',
            data: [{%for val in myvalue %} "{{val[2]}}", {%endfor%}]
        }]
    },

    // Configuration options go here
    options: {
        title: {
      display: true,
      text: 'Evolution vente par jour'
    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
    }
});


var ctx = document.getElementById('myChartnbr').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: [{%for val in myvalue %} "{{val[0]}}", {%endfor%}],
        datasets: [{
            label: 'vente',
            backgroundColor: 'rgb(0,255,0)',
            borderColor: 'rgb(255, 99, 132)',
            data: [{%for val in myvalue %} "{{val[1]}}", {%endfor%}]
        }]
    },

    // Configuration options go here
    options: {
        title: {
      display: true,
      text: 'Nombre de ventes par jour'
    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
    }
});



</script>


{% endblock content %}