{% include 'header.html' %}
<div class="container container-ver2" >
      <div class="title-text-v2 title-brand">
      <h2>Finaliser votre achat</h2>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                  {% for category, message in messages %}
                  <div class="{{ category }} " role="alert">
                    <span>{{ message }}</span>
                    
                  </div>
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
      
                  <table  border="1" class="table cart-table space-30" style=" width:100%;">
                    <thead>
                        <tr>
                            <th  class="product-photo" style="text-align: center;">Produit</th>
                            <th   style="text-align: center;">Nom</th>
                            <th  style="text-align: center;">Prix</th>
                            <th   style="text-align: center;">Quantité</th>
                            <th   style="text-align: center;">Total</th>
                        </tr>
                    </thead>
                    <tbody >
                        {% for row in mypanier %}
                        <tr>
                            <td><img class="primary_image" src='../static/images/{{row[0].0}}' width="100" height="100" alt=""/></td>
                            <td>{{row.1}}</td>
                            <td>{{row.2}}</td>
                            <td>{{row.3}}</td>
                            <td>{{row.4}}</td>
                        </tr>
                    {% endfor %}
                    
                    </tbody>
     
     </table>
     <div class="row-total">
        <div class="float-left" >
            <h3> Prix Total Des Produits choisis</h3>
        </div>
        <!--End align-left-->
        <div class="float-right">
            <p>{{tot}} FCFA</p><br>
        </div>
        <p class="float-right" style="margin-top: 3%;">Frais de livraison non inclus pour le moment</p>

        <!--End align-right-->
     </div>
               <p style="margin-top: -1%;">
                *les frais de livraison sont calculés en fonction de la quantité des produits et du mode de livraison. <br style="margin-top: -1%;">
                NB: Les livraisons durant le weekend sont beaucoup moins chers.
                <br><br><br>
            </p>
            <div>
                <h3  class="title-text-v2 title-brand "> INFORMATIONS POUR LA LIVRAISON </h3>
            </div>
               <div class="row">

                    <form id="forms" class="form-horizontal" action="{{url_for('frompanier')}}" method="POST" enctype="multipart/form-data">
                              
                        <div class="col-md-6" style="margin-left: 5%;">
                            <div class="group box space-20">
                                <label class="control-label" for="inputprenom">PRENOM *</label>
                                <input class="form-control" pattern=".*\S.*" name="prenom" type="text" placeholder="Mettez votre prenom" id="inputprenom" value="{{ request.form['prenom'] }}" required>
                            </div>
                            <div class="group box">
                                <label class="control-label" for="inputemail">NOM *</label>
                                <input class="form-control" pattern=".*\S.*" name="nom" type="text" placeholder="Mettez votre nom" id="inputnom" value="{{ request.form['nom'] }}" required>
                                <!-- <input class="form-control" type="text" placeholder="Password" id="inputpass">  -->
                        </div>
                            <div class="group box space-20">
                                <label class="control-label" for="inputemail">TELEPHONE *</label>
                                <input type="tel" class="form-control" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                                name="telephone" placeholder="Mettez votre telephone" value="{{ request.form['telephone'] }}" required>
                                <!-- <input class="form-control" type="text" placeholder="Your email" id="inputemail"> -->
                            </div>
                            <div class="group box">
                                <label class="control-label" for="inputemail">Adresse de livraison *</label>
                                <input type="text" name="add" class="form-control" placeholder="EX: Departement/commune/quartier/..." required> <br><br><br><br><br>

                                <!-- <input class="form-control" type="text" placeholder="Password" id="inputpass">  -->
                            </div>

                    </div>
                        
                        <!-- <div class="col-md-4" style="margin-top: -2%;">
                               <h3> <label  for="check1"  style="font-size: 15; color: #80b435;" >Adresse de livraison : </h3>
                                <input type="text" name="add" class="form-control" placeholder="EX: Departement/commune/quartier/..." required> <br><br><br><br><br>
                               </div> -->
                               <div class="col-md-4">
                                   <div class="row">
                                        <div class="col-4" style="margin-top: 5%; text-align:center">
                                        <h5><label style="font-size: 20px; color: #80b435;"> CHOISISSEZ VOTRE MODE DE LIVRAISON :</label></h5>
  
                                        <!-- &nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; -->
                                        <input id="radio-techy" type="radio" name="category" value="weekend"  required/>Se faire livrer durant le weekend
                                        <input id="radio-non-techy" type="radio" name="category" value="sous24" />Se faire livrer sous 24h
                                        </div>
                                      <div class="col-4" style="margin-top: 10%; text-align:center">
                                          {% if qqte <= 10 %}
                                          <div id="select-div" class="tech"  >
                                            <h5> <label for="" style="font-size: 20px; color: #80b435;; text-align:center;"> CHOISISSEZ VOTRE ZONE DE LIVRAISON</label></h5>
                                            <select onchange="showOptions(this)" id="techy"  style="margin-left:80px;" name="valchoose1" style="width: 180px;" required>
                                                <option id="0" value="0" selected>Choisir le prix de livraison</option>
                                                <option id="1000" value="1500">Dakar:1500Fcfa </option>
                                                <option id="1000" value="1000">pikine ou Guediawaye:1000Fcfa </option>
                                                <option id="1500" value="1500">Rufisque:1500Fcfa </option>
                                            </select>
                                            <select onchange="showOptions(this)"  style="margin-left:80px;" id="non-techy" name="valchoose2" required>
                                                <option id="0" value="0" selected>Choisir le prix de livraison</option>
                                                <option id="1500" value="1500">Dakar:1500Fcfa </option>
                                                <option id="1500" value="1500">pikine ou Guediawaye:1500Fcfa </option>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
                                                <option id="2000" value="2000">Rufisque:2000Fcfa </option>
                                            </select>
                                          </div>
                                            {% else%}
    
                                            <div id="select-div" class="tech" >
                                              <h3> <label for="" style="font-size: 20px; color: #80b435; text-align:center;"> CHOISISSEZ VOTRE ZONE DE LIVRAISON</label></h3>
    
                                                <select onchange="showOptions(this)" style="margin-left:80px;" id="techy" name="valchoose1" required>
                                                    <option id="0" value="0">Choisir le prix de livraison</option>
                                                    <option id="1500" value="1500">Dakar:1500Fcfa </option>
                                                    <option id="1500" value="1500">pikine ou Guediawaye:1500Fcfa </option>
                                                    <option id="2000" value="2000">Rufisque:2000Fcfa </option>
                                                </select>
                                                <select onchange="showOptions(this)" style="margin-left:80px;" id="non-techy" name="valchoose2" required>
                                                    <option id="0"  value="0" >Choisir le prix de livraison</option>
                                                    <option id="2000" value="2000">Dakar:2000Fcfa </option>
                                                    <option id="2000" value="2000">pikine ou Guediawaye:2000Fcfa </option>
                                                    <option id="2500" value="2500">Rufisque:2500Fcfa </option>
                                                </select>
                                            </div>
                                            
                                          {% endif %}
                                      </div>
                                   </div>
                                

                                   
                                   
                           
                                </div>
                                <br>
                                <div style="margin-top: 20%; text-align:center" >                                   
                                    <button id="valide" class="link-v1 lh-20  space-60 bg-brand"   type="submit"  >Finaliser Commande</button>
                                </div>
                        
                    </form>
                    
                </div>
     </div>

<style>

.succes{
        color: rgb(170, 4, 120);
        }
.danger{
        color: red;
        font-size: 20px;
        }
.col-md-8{
    padding-left: 145px;
}

#select-div select {
    display:none;
}

#select-div.tech #techy {
    display:block;
}

#select-div.non-tech #non-techy {
    display:block;
}


</style>

<script>

    var techButton = document.getElementById('radio-techy');
    var nonTechButton = document.getElementById('radio-non-techy');
    
    techButton.onclick = function () {
        document.getElementById('select-div').className = 'tech';
    }
    nonTechButton.onclick = function () {
        document.getElementById('select-div').className = 'non-tech';
    }
    
// *******************************************************
var valuess = 0;

function showOptions(s) {
//   alert(s[s.selectedIndex].value); // get value
 valuess = s[s.selectedIndex].value;

  }

  var submitvalide = document.getElementById('valide');

submitvalide.onclick = function () {
    if(valuess == 0){
        alert("Merci de choisir votre zone de livraison");
        return false;
    }
    else{

        return true;
    }
    // alert(valuess);
    // return false;
}



//   alert(s[s.selectedIndex].id); // get id


// submitvalide();

// var submitvalide = document.getElementById('valide');

// submitvalide.onclick = function () {
//     $("#non-techy").change(function() {
//     var id = $(this).children(":selected").attr("id");
//     if(id == '0'){
//         alert("c'est pas bon");
//     }
//     else{
//         alert("good");
//     }
//     // alert(id);
    
//     });
//     return false;
//     // var nontechy = document.getElementById("non-techy").selectedIndex;
//     // alert(document.getElementsByTagName("option")[nontechy].value);
    
//     }






//     $(document).ready(function () {
//     $("#forms").submit(function (e) {
//         var x = document.getElementById("non-techy").selectedIndex;
//         if (document.getElementsByTagName("option")[x].value==0) {
//             alert('Choisissez svp le prix du transport');
//             return false;
//         }
//         else{
//             return true;
//         }
//         // e.preventDefault(e);
//     });
//     // $("#non-techy").change(function () {
//     //     $("#update-form").submit();
//     //     return false;
//     // });
// });

// $(document).ready(function () {
//     $("#forms").submit(function (e) {
//         var x = document.getElementById("techy").selectedIndex;
//         alert(document.getElementsByTagName("option")[x].value)
//         if (document.getElementsByTagName("option")[x].value=="0") {
//             alert('Choisissez svp le prix du transport');
//             return false;
//         }
//         else{
//             alert(document.getElementsByTagName("option")[x].value)
//             return true;
//         }
//         // e.preventDefault(e);
//     });
//     // $("#techy").change(function () {
//     //     $("#update-form").submit();
//     //     return false;
//     // });
// });


    // function myFunction() {
    // var x = document.getElementById("non-techy").selectedIndex;
    // if (document.getElementsByTagName("option")[x].value==0){
    //     alert("non");
    //     return false;
    // }
    // // alert(document.getElementsByTagName("option")[x].value);
    // }

    // function myFunction() {
    // var x = document.getElementById("techy").selectedIndex;
    // if (document.getElementsByTagName("option")[x].value==0){
    //     alert("non")
    //     return false;
    // }
    // // alert(document.getElementsByTagName("option")[x].value);
    // }
</script>


{% include 'footer.html' %}
