<footer id="footer" class="footer-v3 align-left">
    <div class="container container-ver2">
        <div class="footer-inner">
            <div class="row">
                <div class="col-md-5 col-sm-3">
                    <h3 class="title-footer">Qui sommes nous?</h3>
                    Nous sommes des jeunes entrepreneurs qui participent au développement de notre continent africain plus particulièrement de notre pays qu'est le Sénégal.
                    Nous réfléchissons et proposons des solutions optimales digitales face aux différents problèmes que vivent les africains.
                    Dans ce sens, Sen Ndawal est né et vise à aider la population de s'approvisionner facilement et rapidement des produits frais comme le poulet, la viande, le poisson,... sans effectuer un moindre déplacement.
                    <a class="link-footer" href="{{url_for('contact')}}" title="plus d'infos">plus d'informations <i class="fa fa-long-arrow-right"></i></a>
                </div>
                
                <div class="col-md-3 col-sm-3">
                    <h3 class="title-footer">Réseaux sociaux</h3>
                    <div class="social space-30">
                        <a href="https://twitter.com/NdawalSen" target="_blank" title="t"><i class="fa fa-twitter"></i></a>
                        <a href="http://facebook.com/Sen-Ndawal-101316011623587" target="_blank" title="f"><i class="fa fa-facebook"></i></a>
                        <a href="#" target="_blank" title="y"><i class="fa fa-youtube-play"></i></a>
                        <a href="https://www.linkedin.com/in/sen-ndawal-sen-ndawal-6aa8b81b1/" target="_blank" title="i"><i class="fa fa-linkedin"></i></a>
                    </div>
                    <div style="padding-left: 20%; margin-top: -5%;">
                            <a  href="https://play.google.com/store/apps/details?id=com.sen.dawal.apps" target="_blank"> <img  style="width: 50%; height: 25%;" src="static/images/logo_play_store.jpg" alt=""></a>
                    
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h3 class="title-footer">Contact</h3>
                    <span class="pe-7s-map-marker"> Ecole Police, Immeuble Scalène Mermoz lot B,<br><br> &nbsp; &nbsp; Rue KA 05, Dakar</span><br><br>
                    <span class="pe-7s-call"> (+221) 78 358 05 37 / 76 452 20 67</span> <br><br>
                    <span class="pe-7s-mail"> senndawal2020@gmail.com</span>
                </div>
            </div>
            <!-- End row -->
        </div>
        <!-- End footer-inner -->
    </div>
    <!-- End container -->
    <div class="footer-bottom box">
        <div class="container container-ver2">
            <div class="box bottom">
                    <a  class="float-left" href="{{url_for('chef')}}">C</a>
                    <p class="float-left">opyright &copy;2020 Sen - Ndawal - All Rights Reserved.</p>
                    <div class="float-right">
                    <ul class="menu-bottom-footer">
                        <li><a href="{{url_for('contact')}}" title="Contactez-nous">Contactez-nous</a></li>
                        <!-- <li><a href="#" title="Site Map">Site Map</a></li> -->
                    </ul>
                    
                    <!-- End language -->
                </div>
            </div>
        </div>
        <!-- End container -->
    </div>
</footer>
        </div>
        </div>
    <!-- End wrappage -->
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/bootstrap.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/owl.carousel.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/engo-plugins.js")}}'></script>
    
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/jquery.mousewheel.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/slick.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/jquery.zoom.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/store.js")}}'></script>

    <!-- panier -->

    <script type='text/javascript' src='{{url_for("static",filename="js/jquery.mycart.js")}}'></script>
    <script type='text/javascript' src='{{url_for("static",filename="panier.js")}}'></script>
        
    </body>
        
</html>

