<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

    
</head>
<body>
        <!-- <canvas id="myChart"></canvas>
        <br><br><br><br>
        <canvas id="myChart2"></canvas>
        <br><br><br><br> -->
        
            <!-- {{liste4}} -->

        <div class="row">
                <div class="col-12" >
                  <div class="section1" style="width: 100%;">
                    <div>
                      <canvas id="myChart" width="800" height="250"></canvas>
                    </div>
                </div>
              </div>
            </div>
          
              <div class="row" style="margin-top: 8%;">
                <div class="col-12" >
                  <div class="section2" style="width: 100%;">
                    <div>
                      <canvas id="myChart2" width="800" height="250"></canvas>
                    </div>
                  </div>
                </div>
                </div>
            <div>
                    <canvas id="myChart3"></canvas>
            </div>
            <br><br><br><br>
            <div id="chartdiv"></div>
</body>


<script>
var ctx = document.getElementById('myChart2').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
        labels: [{%for val in liste2[0] %} "{{val}}", {%endfor%}],
        datasets: [{
            label: 'Nouveaux et anciens visiteurs',
            backgroundColor: 'rgb(127, 255, 0)',
            borderColor: 'rgb(255, 99, 132)',
            data: [{%for val in liste2[1] %} "{{val}}", {%endfor%}]
        }]
    },

    // Configuration options go here
    options: {}
});


var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'horizontalBar',

    // The data for our dataset
    data: {
        labels: [{%for val in liste1[0] %} "{{val}}", {%endfor%}],
        datasets: [{
            label: 'Nombre de visiteurs en fonction de la ville',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [{%for val in liste1[1] %} "{{val}}", {%endfor%}]
        }]
    },

    // Configuration options go here
    options: {}
});



var ctx = document.getElementById('myChart3').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: [{%for val in liste3[0] %} "{{val}}", {%endfor%}],
        datasets: [{
            label: 'Nombre de visiteurs en fonction de la date',
            backgroundColor: 'rgb(100, 149, 237)',
            borderColor: 'rgb(255, 99, 132)',
            data: [{%for val in liste3[1] %} "{{val}}", {%endfor%}]
        }]
    },

    // Configuration options go here
    options: {}
});

</script>


<!-- Styles -->
<style>
        #chartdiv {
          width: 100%;
          height: 500px;
          overflow: hidden;
          position: relative;
        }
        
        .map-marker {
            /* adjusting for the marker dimensions
            so that it is centered on coordinates */
            margin-left: -8px;
            margin-top: -8px;
            box-sizing: border-box;
        }
        .map-marker.map-clickable {
            cursor: pointer;
        }
        .pulse {
            width: 10px;
            height: 10px;
            border: 5px solid #f7f14c;
            -webkit-border-radius: 30px;
            -moz-border-radius: 30px;
            border-radius: 30px;
            background-color: #716f42;
            z-index: 10;
            position: absolute;
            box-sizing: border-box;
        }
        .map-marker .dot {
            border: 10px solid #fff601;
            background: transparent;
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            border-radius: 60px;
            height: 50px;
            width: 50px;
            -webkit-animation: pulse 3s ease-out;
            -moz-animation: pulse 3s ease-out;
            animation: pulse 3s ease-out;
            -webkit-animation-iteration-count: infinite;
            -moz-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            position: absolute;
            top: -20px;
            left: -20px;
            z-index: 1;
            opacity: 0;
            box-sizing: border-box;
        }
        @-moz-keyframes pulse {
           0% {
              -moz-transform: scale(0);
              opacity: 0.0;
           }
           25% {
              -moz-transform: scale(0);
              opacity: 0.1;
           }
           50% {
              -moz-transform: scale(0.1);
              opacity: 0.3;
           }
           75% {
              -moz-transform: scale(0.5);
              opacity: 0.5;
           }
           100% {
              -moz-transform: scale(1);
              opacity: 0.0;
           }
          }
          @-webkit-keyframes "pulse" {
           0% {
              -webkit-transform: scale(0);
              opacity: 0.0;
           }
           25% {
              -webkit-transform: scale(0);
              opacity: 0.1;
           }
           50% {
              -webkit-transform: scale(0.1);
              opacity: 0.3;
           }
           75% {
              -webkit-transform: scale(0.5);
              opacity: 0.5;
           }
           100% {
              -webkit-transform: scale(1);
              opacity: 0.0;
           }
        }
        </style>
        
        <!-- Resources -->
        <script src="https://cdn.amcharts.com/lib/4/core.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/maps.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/geodata/worldLow.js"></script>
        <script src="https://cdn.amcharts.com/lib/4/themes/animated.js"></script>
        
        <!-- Chart code -->
        <script>
        am4core.ready(function() {
        
        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end
        
        // Create map instance
        var chart = am4core.create("chartdiv", am4maps.MapChart);
        
        // Set map definition
        chart.geodata = am4geodata_worldLow;
        
        // Set projection
        chart.projection = new am4maps.projections.Miller();
        
        // Create map polygon series
        var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());
        
        // Exclude Antartica
        polygonSeries.exclude = ["AQ"];
        
        // Make map load polygon (like country names) data from GeoJSON
        polygonSeries.useGeodata = true;
        
        // Configure series
        var polygonTemplate = polygonSeries.mapPolygons.template;
        polygonTemplate.tooltipText = "{name}";
        polygonTemplate.fill = chart.colors.getIndex(0).lighten(0.5);
        
        // Create hover state and set alternative fill color
        var hs = polygonTemplate.states.create("hover");
        hs.properties.fill = chart.colors.getIndex(0);
        
        // Add image series
        var imageSeries = chart.series.push(new am4maps.MapImageSeries());
        imageSeries.mapImages.template.propertyFields.longitude = "longitude";
        imageSeries.mapImages.template.propertyFields.latitude = "latitude";
        imageSeries.data = [{%for val in liste4 %} 
        {
          "title": "{{val[2]}}",
          "latitude": {{val[1]}},
          "longitude": {{val[0]}}
        },
         {%endfor%}]; 
        
        // add events to recalculate map position when the map is moved or zoomed
        chart.events.on( "ready", updateCustomMarkers );
        chart.events.on( "mappositionchanged", updateCustomMarkers );
        
        // this function will take current images on the map and create HTML elements for them
        function updateCustomMarkers( event ) {
          
          // go through all of the images
          imageSeries.mapImages.each(function(image) {
            // check if it has corresponding HTML element
            if (!image.dummyData || !image.dummyData.externalElement) {
              // create onex
              image.dummyData = {
                externalElement: createCustomMarker(image)
              };
            }
        
            // reposition the element accoridng to coordinates
            var xy = chart.geoPointToSVG( { longitude: image.longitude, latitude: image.latitude } );
            image.dummyData.externalElement.style.top = xy.y + 'px';
            image.dummyData.externalElement.style.left = xy.x + 'px';
          });
        
        }
        
        // this function creates and returns a new marker element
        function createCustomMarker( image ) {
          
          var chart = image.dataItem.component.chart;
        
          // create holder
          var holder = document.createElement( 'div' );
          holder.className = 'map-marker';
          holder.title = image.dataItem.dataContext.title;
          holder.style.position = 'absolute';
        
          // maybe add a link to it?
          if ( undefined != image.url ) {
            holder.onclick = function() {
              window.location.href = image.url;
            };
            holder.className += ' map-clickable';
          }
        
          // create dot
          var dot = document.createElement( 'div' );
          dot.className = 'dot';
          holder.appendChild( dot );
        
          // create pulse
          var pulse = document.createElement( 'div' );
          pulse.className = 'pulse';
          holder.appendChild( pulse );
        
          // append the marker to the map container
          chart.svgContainer.htmlElement.appendChild( holder );
        
          return holder;
        }
        
        }); // end am4core.ready()
        </script>
        
        




</html>