 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async src="https://www.googletagmanager.com/gtag/js?id=G-E40FY2L626"></script>
            <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-E40FY2L626');
            </script>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/css/bootstrap.css")}}'/>
        <link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/css/style.css")}}'/>
        <link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/vendor/owl-slider.css")}}'/>
        <link rel="stylesheet" type="text/css" href='{{url_for("static",filename="assets/vendor/settings.css")}}'/>
        <link rel="shortcut icon" href='{{url_for("static",filename="assets/images/LogoSenNdawal.png")}}' />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,500,700,300' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src='{{url_for("static",filename="assets/js/jquery-3.2.0.min.js")}}'></script>
        <script type="text/javascript" src='{{url_for("static",filename="js/dieun.js")}}'></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<!-- PARTIES PANIERS -->

<style>
    td { text-align :center}
</style>
    <!-- <script src="jquery-1.11.2.js"></script> -->
    <script src="https://code.jquery.com/jquery-1.11.2.js" integrity="sha256-WMJwNbei5YnfOX5dfgVCS5C4waqvc+/0fV7W2uy3DyU=" crossorigin="anonymous"></script>

<!-- route pour envoyer les données vers le fichier py, en l'utilisant on y ajoute le lien de la fonction -->
    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
        
    <!-- FIN PARTIES PANIERS -->
        
        <title>Sen Ndawal</title>
    </head>
    <body>
    <div class="awe-page-loading">
         <div class="awe-loading-wrapper">
            <div class="awe-loading-icon">
               <img src='{{url_for("static",filename="assets/images/LogoSenNdawal.png")}}' alt="images">
               <!-- <h3>Sen-Ndawal</h3> -->
            </div>
            <div class="progress">
               <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
         </div>
      </div> 
      <form action="{{ url_for('search') }}" method="post" autocomplete="off" >  
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;" >
            <div class="modal-dialog modal-lg" >
                <div class="modal-content popup-search" >
                    <button type="button" class="close" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i></button>
                    <div class="modal-body">
                        <div class="input-group">
                            <input type="text" class="form-control control-search" name="vals"  placeholder="Chercher un produit...">
                            <button class="button_search" type="submit">Search</button>
                        </div>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </form>
    <!-- End pushmenu -->
    <div class="wrappage">
        <header id="header" class="header-v3 header-v2">
            <div id="topbar" class="topbar-ver2">
                <div class="container container-ver2">
                    <div class="inner-topbar box">
                        <div class="float-left" >
                            <p><img src='{{url_for("static",filename="assets/images/icon-phone-header.png.png")}}' alt="icon"> Appeler <span> +221-78 358 05 37</span></p>
                        </div>
                      
                    </div>
                </div>
                <!-- End container -->
            </div>
            <!-- End topbar -->
            <div class="header-top">
                <div class="container container-ver2">
                    <div class="box">
                        <p class="icon-menu-mobile"><i class="fa fa-bars" ></i></p>
                        <div  class="float-right">
                    </div>
                        <div class="logo">
                            <a href="{{url_for('accueil')}}" title="Sen-Ndawal">
                                <img src='{{url_for("static",filename="assets/images/LogoSenNdawal_Site.png")}}' style="margin-top: -5%;" alt="images">
                            </a>
                        </div>
                        <div class="logo-mobile">
                            <a href="{{url_for('accueil')}}" title="Sen-Ndawal">
                            <img src='{{url_for("static",filename="assets/images/LogoSenNdawal_Site.png")}}' alt="images">
                                
                            </a>
                        </div>
                        
                     
                        <div  class="float-right" >
                            <div  class="search dropdown" data-toggle="modal" data-target=".bs-example-modal-lg" style="margin-right:30%; margin-top:-1%;">
                                <i class="icon"></i>
                            </div>
                            <!-- End hover-menu -->
                        </div>
                        <div class="box-right" style="margin-top: 10;">
                            <div class="cart hover-menu">
                                <!-- <p class="icon-cart" title="Add to cart">
                                    <i class="icon"></i>
                                    <span class="cart-count">2</span>
                                </p> -->
                            
                            </div>
                            
                        </div>
                        <!-- <marquee><font color="#FF0000">Commandez dès maintenant, les livraisons vont débuter ce lundi 06 juillet 2020</font></marquee> -->
                        <nav class="mega-menu">
                        
                        <!-- Brand and toggle get grouped for better mobile display -->
                          <ul class="nav navbar-nav" id="navbar">
                                

                            <li class="level1 active "><a href="{{url_for('accueil')}}" title="Accueil">Accueil</a></li>
                                
                            <li class="level1 active dropdown"><a href="{{url_for('catalog')}}" title="Produits">Produits</a>
                            
                                <ul class="menu-level-1 dropdown-menu">
                                    <li class="level2" value="{{url_for('poissons')}}"><a href="{{url_for('poissons')}}" title="Poissons" > POISSONS</a></li>
                                    <li class="level2" value="{{url_for('poulets')}}"><a href="{{url_for('poulets')}}" title="Poulets">POULETS</a></li>
                                    <li class="level2" value="{{url_for('dindes')}}"><a href="{{url_for('dindes')}}" title="Dindes">DINDES</a></li>
                                    <li class="level2" value="{{url_for('crevettes')}}"><a href="{{url_for('crevettes')}}" title="Crevettes">CREVETTES</a></li>
                                    <li class="level2" value="{{url_for('viandemouton')}}"><a href="{{url_for('viandemouton')}}" title="Viandes">VIANDES MOUTON</a></li>
                                    <li class="level2" value="{{url_for('viandeboeuf')}}"><a href="{{url_for('viandeboeuf')}}" title="Viandes">VIANDES BŒUF</a></li>
                                    <li class="level2" value="{{url_for('tablettes')}}"><a href="{{url_for('tablettes')}}" title="Tablettes">TABLETTES D'OEUFS</a></li>

                                </ul>
                            
                              <!-- End Dropdow Menu -->
                            </li>
                            <li class="level1"><a href="{{url_for('about')}}" title="À propos">À Propos</a></li>
                            <!-- <li class="level1"><a href="blog_details.html" title="collections">Blog</a></li> -->
                            <li class="level1"><a href="{{url_for('contact')}}" title="Contact">Contact</a></li>
                          </ul>
                        </nav>
                    </div>
                </div>
                <!-- End container -->
            </div>
            <!-- End header-top -->
        </header><!-- /header -->

        