{% include 'header.html' %}

            <div class="tp-banner-container hidden-dot ver1">
            <div class="tp-banner" >
                <ul>    <!-- SLIDE  -->
                    <!-- SLIDE  -->
                    <li data-transition="random" data-slotamount="6" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src='{{url_for("static",filename="assets/images/viande1.jpg")}}'  alt="Futurelife-home2-slideshow"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
                        
                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption color-ea8800 customin randomrotateout font-ro tp-resizeme size-130 weight-300 uppercase"
                            data-x="585"
                            data-y="245"
                            data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                            data-speed="500"
                            data-start="2000"
                            data-easing="Power4.easeOut"
                            data-splitin="chars"
                            data-splitout="none"
                            data-elementdelay="0.1"
                            data-endelementdelay="0.1"
                            style="z-index: 3">Sen Ndawal
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption color-white font-ros weight-400 skewfromleft customout size-30 letter-spacing-2"
                            data-x="505"
                            data-y="403"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1600"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 4" > Restez chez vous et faites votre commande de produits frais!
                        </div>
                        <!-- Sen Ndawal, votre marché virtuel au Sénégal -->
                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption skewfromleft customout font-roc link-1 bg-brand color-white height-40 size-16"
                            data-x="865"
                            data-y="460"
                            data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                            data-speed="800"
                            data-start="1500"
                            data-easing="Power4.easeOut"
                            data-endspeed="300"
                            data-endeasing="Power1.easeIn"
                            data-captionhidden="on"
                            style="z-index: 5"><a href="{{url_for('about')}}" title="View Shop" class="">voir Details</a>
                        </div>
                        <!-- LAYER NR. 8s -->
                    </li>
                    <!-- SLIDER -->
                    
                    <!-- SLIDER-->
                    <li data-transition="random" data-slotamount="6" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src='{{url_for("static",filename="assets/images/viandepoulet2.jpg")}}'  alt="Futurelife-home2-slideshow"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption color-white customin randomrotateout font-ros tp-resizeme size-60 text-shadow"
                             data-x="350"
                             data-y="305"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="500"
                             data-start="2000"
                             data-easing="Power4.easeOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index: 3">Sen Ndawal, votre marché virtuel au Sénégal
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption color-black font-ros weight-300 skewfromleft customout size-30 letter-spacing-2 text-shadow"
                             data-x="505"
                             data-y="390"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1600"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">Faites vos commandes et nous vous livrons en toute sécurité.
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption skewfromleft customout border-white font-roc link-1 height-40 size-16"
                             data-x="865"
                             data-y="460"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 5"><a href="{{url_for('about')}}" title="View Shop" class="">voir Details</a>
                        </div>
                        <!-- LAYER NR. 8s -->
                    </li>

                    <!--SLIDER-->
                     <!-- SLIDER-->
                     
                    <!-- SLIDER-->
                    <li data-transition="random" data-slotamount="6" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src='{{url_for("static",filename="assets/images/fruit_mer.jpg")}}'  alt="Futurelife-home2-slideshow"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption color-white customin randomrotateout font-ros tp-resizeme size-60 text-shadow"
                             data-x="350"
                             data-y="305"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:50;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="500"
                             data-start="2000"
                             data-easing="Power4.easeOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index: 3" >Ak Sen Ndawal, vos produits frais viennent à vous !
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption color-black font-ros weight-300 skewfromleft customout size-30 letter-spacing-2 text-shadow"
                             data-x="505"
                             data-y="390"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1600"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">Faites vos commandes et nous vous livrons en toute sécurité.
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption skewfromleft customout border-white font-roc link-1 height-40 size-16"
                             data-x="865"
                             data-y="460"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 5"><a href="{{url_for('about')}}" title="View Shop" class="">voir Details</a>
                        </div>
                        <!-- LAYER NR. 8s -->
                    </li>

                    <!--SLIDER-->
                     <!--SLIDER-->

                    <!-- SLIDE  -->
                    <li data-transition="random" data-slotamount="6" data-masterspeed="1000" >
                        <!-- MAIN IMAGE -->
                        <img src='{{url_for("static",filename="assets/images/viandepoulet4.png")}}'  alt="Futurelife-home2-slideshow"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">

                        <!-- LAYER NR. 9 -->
                        <div class="tp-caption color-white customin randomrotateout font-ros tp-resizeme size-50 text-shadow"
                             data-x="250"
                             data-y="305"
                             data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="500"
                             data-start="2000"
                             data-easing="Power4.easeOut"
                             data-splitin="chars"
                             data-splitout="none"
                             data-elementdelay="0.1"
                             data-endelementdelay="0.1"
                             style="z-index: 3" >Faites vos commandes et nous vous livrons  en toute sécurité
                        </div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption color-white font-ros weight-300 skewfromleft customout size-20 letter-spacing-2 text-shadow"
                             data-x="605"
                             data-y="390"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1600"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 4">
                        </div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption skewfromleft customout border-white font-roc link-1 height-40 size-16"
                             data-x="865"
                             data-y="460"
                             data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                             data-speed="800"
                             data-start="1500"
                             data-easing="Power4.easeOut"
                             data-endspeed="300"
                             data-endeasing="Power1.easeIn"
                             data-captionhidden="on"
                             style="z-index: 5"><a href="{{url_for('about')}}" title="View Shop" class="">voir Details</a>
                        </div>
                        <!-- LAYER NR. 8s -->
                    </li>
                    <!-- SLIDER -->

                </ul>
                <div class="tp-bannertimer"></div>
            </div>
        </div>
        <!-- End container -->
        <div class="container container-ver2 space-30">
              <p style="font-size: 20px; color: #80b435; text-align:center"> Les differentes étapes à suivre </p> 
            <div class="shipping-v2 home3-shiping space-30">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <img src='{{url_for("static",filename="assets/images/iconrecherche1.png")}}' width="50px;" height="50px;" alt="images">
                    <h3>RECHERCHE</h3>
                    <p>Faites la recherche</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <img src='{{url_for("static",filename="assets/images/iconcommandev.png")}}' width="50px;" height="50px;" alt="images">
                    <h3>COMMANDE</h3>
                    <p>Commandez vos produits</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <img src='{{url_for("static",filename="assets/images/motolivr.jpg")}}' width="50px;" height="50px;" alt="images">
                    <h3>LIVRAISON</h3>
                    <p>Nous vous livrons au meilleur délai</p>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <img src='{{url_for("static",filename="assets/images/iconpaillementv.png")}}' width="50px;" height="50px;" alt="images">
                    <h3>PAIMENT</h3>
                    <p>Et vous payez aprés la livraison</p>
                </div>
            </div>
            <!-- End container -->
        </div>
            <!-- End Shiping version2  -->
            <div class="container">
                     

                    <div class="container">
                            <div class="title-text-v2">
                                    <div class="col-3">
                                            <h3>Nos Produits</h3>
                
                                     </div>
                           
                                
                            <div class="featured-products home_2 new-arrivals lastest">
                                    
                                    <ul class="tabs">             
                                         
                                         <button ><li  rel="tab_01" value="{{url_for('poissons')}}"><a href="{{url_for('poissons')}}" title="Poissons" > POISSONS</a></li></button>
                                        
                                        <button   ><li rel="tab_02" value="{{url_for('poulets')}}"><a href="{{url_for('poulets')}}" title="Poulets">POULETS</a></li></button>
                                                    
                        
                                        <button ><li  rel="tab_02" value="{{url_for('dindes')}}"><a href="{{url_for('dindes')}}" title="Dindes">DINDES</a></li></button>
                                    
                                        <button  ><li  rel="tab_02" value="{{url_for('crevettes')}}"><a href="{{url_for('crevettes')}}" title="Crevettes">CREVETTES</a></li></button>
                                                    
                                        <button  ><li rel="tab_03" value="{{url_for('pigeons')}}"><a href="{{url_for('pigeons')}}" title="pigeons">PIGEONS</a></li></button>

                                        <button   ><li rel="tab_03" value="{{url_for('viandeboeuf')}}"><a href="{{url_for('viandeboeuf')}}" title="Viandes">VIANDES BŒUF</a></li></button>
                                                           
                                    
                                        <button ><li  rel="tab_03" value="{{url_for('viandemouton')}}"><a href="{{url_for('viandemouton')}}" title="Viandes">VIANDES MOUTON</a></li></button>
                                                   
                             
                                        <button  ><li rel="tab_03" value="{{url_for('tablettes')}}"><a href="{{url_for('tablettes')}}" title="tablette">TABLETTES D'OEUFS</a></li></button>
      
                         
                              
                                          
                    
                                                <!-- <li class="item" rel="tab_03" value="{{url_for('viandemouton')}}"><a href="{{url_for('viandemouton')}}" title="Viandes">VIANDES</a></li> -->
                                            </ul>
                                            
                                            
                                <div class="tab-container space-10">
                                    <div id="tab_1" class="tab-content">
                                      
                            <div class="products hover-shadow ver2 border-space-product border-space-product">
                                {% for row in users%}
                                <div class="product">
                                    <div class="product-images">
                                        <a href="detail&{{row[3]}}" title="product-images">
                                            <!-- <img src="../static/images/{{row.0}}" width="120" height="120" alt="Photo"> <br> -->
                                            <img class="primary_image" src='../static/images/{{row.0}}' width="300" height="200" alt=""/>
                                            <!-- <img class="secondary_image" src='../static/images/{{row.0}}' alt=""/> -->
                                        </a>
                                        <div class="action">
                                            <a class="add-cart" href="detail&{{row[3]}}" title="Ajouter panier"></a>
                                            <!-- <a class="wish" href="#" title="Wishlist"></a> -->
                                            <a class="zoom" href="detail&{{row[3]}}" title="Details"></a>
                                        </div>
                                        <!-- End action -->
                                    </div><br><br><br><br><br>
                                    <a href="detail&{{row[3]}}" title="nom produit"><p class="product-title">{{row.1 | truncate(13) }}</p></a>
                                    <p class="product-price-old">{{row.4}}</p>
                                    <p class="product-price">{{row.2}} FCFA/{{row.5}}</p>
                                    <a class="link-footer" href="detail&{{row[3]}}" title="Détails">Détails <i class="fa fa-long-arrow-right"></i></a>

                                </div>
                                
                                {% endfor %}
                                
                                <!-- End item -->
                                
                                <!-- End item -->
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        
                        <!-- End tab-content -->
                        <div id="tab_2" class="tab-content">
                            <div class="products hover-shadow ver2 border-space-product">
                               
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_3" class="tab-content">
                            <div class="products ver2 hover-shadow border-space-product">
                                
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_4" class="tab-content">
                            <div class="products ver2 hover-shadow border-space-product">
                                
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                        <div id="tab_5" class="tab-content">
                            <div class="products ver2 hover-shadow border-space-product">
                              
                                
                            </div>
                            <!-- End product-tab-content products -->
                        </div>
                        <!-- End tab-content -->
                    </div>
                </div>
                
            </div>
            <!-- End container-ver2 -->
            <!--End bg-slider-->
    <nav class="pagination align-center" style="  width: 55px;">
        {{ pagination.links }}
    </nav>
           
            <!-- <div class="pages">
                {{ pagination.links }}
            </div> -->
    <div id="back-to-top">
        <i class="fa fa-long-arrow-up"></i>
    </div>
    
        
    <footer id="footer" class="footer-v3 align-left">
           
        <div class="container container-ver2">
                <div style="padding-left: 25%; margin-top: -5%;">
                        <a  href="https://play.google.com/store/apps/details?id=com.sen.dawal.apps" target="_blank"> <img  style="width: 30%; height: 15%;" src="static/images/logo_play_store.jpg" alt=""></a>
                
                </div>
            <div class="footer-inner">
                <div class="row">
                    <div class="col-md-5 col-sm-3">
                        <h3 class="title-footer">Qui sommes nous?</h3>
                        Nous sommes des jeunes entrepreneurs qui participent au développement de notre continent africain plus particulièrement de notre pays qu'est le Sénégal.
                        Nous réfléchissons et proposons des solutions optimales digitales face aux différents problèmes que vivent les africains.
                        Dans ce sens, Sen Ndawal est né et vise à aider la population de s'approvisionner facilement et rapidement des produits frais comme le poulet, la viande, le poisson,... sans effectuer un moindre déplacement.
                        <a class="link-footer" href="{{url_for('contact')}}" title="plus d'infos">plus d'informations <i class="fa fa-long-arrow-right"></i></a>
                    </div>
                    
                    <div class="col-md-3 col-sm-3">
                        <h3 class="title-footer">Réseaux sociaux</h3>
                        <div class="social space-30">
                            <a href="https://twitter.com/NdawalSen" target="_blank" title="t"><i class="fa fa-twitter"></i></a>
                            <a href="http://facebook.com/Sen-Ndawal-101316011623587" target="_blank" title="f"><i class="fa fa-facebook"></i></a>
                            <a href="#" target="_blank" title="y"><i class="fa fa-youtube-play"></i></a>
                            <a href="https://www.linkedin.com/in/sen-ndawal-sen-ndawal-6aa8b81b1/" target="_blank" title="i"><i class="fa fa-linkedin"></i></a>
                        </div>
                        <div style="padding-left: 20%; margin-top: -5%;">
                                <a  href="https://play.google.com/store/apps/details?id=com.sen.dawal.apps" target="_blank"> <img  style="width: 50%; height: 25%;" src="static/images/logo_play_store.jpg" alt=""></a>
                        
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h3 class="title-footer">Contact</h3>
                        <span class="pe-7s-map-marker"> Ecole Police, Immeuble Scalène Mermoz lot B,<br><br> &nbsp; &nbsp; Rue KA 05, Dakar</span><br><br>
                        <span class="pe-7s-call"> (+221) 78 358 05 37 / 76 452 20 67</span> <br><br>
                        <span class="pe-7s-mail"> senndawal2020@gmail.com</span>
                    </div>
                </div>
                <!-- End row -->
            </div>
            <!-- End footer-inner -->
        </div>
        <!-- End container -->
        <div class="footer-bottom box">
            <div class="container container-ver2">
                <div class="box bottom">
                        <a  class="float-left" href="{{url_for('chef')}}">C</a>
                        <p class="float-left">opyright &copy;2020 Sen - Ndawal - All Rights Reserved.</p>
                        <div class="float-right">
                        <ul class="menu-bottom-footer">
                            <li><a href="{{url_for('contact')}}" title="Contactez-nous">Contactez-nous</a></li>
                            <!-- <li><a href="#" title="Site Map">Site Map</a></li> -->
                        </ul>
                        
                        <!-- End language -->
                    </div>
                </div>
            </div>
            <!-- End container -->
        </div>
    </footer>
        
    </div>
    <!-- End wrappage -->
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/bootstrap.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/owl.carousel.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/jquery.themepunch.revolution.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/jquery.themepunch.plugins.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/engo-plugins.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/slick.min.js")}}'></script>
    <script type="text/javascript" src='{{url_for("static",filename="assets/js/store.js")}}'></script>
    
   

<script>
        var name=localStorage.getItem("val");
    </script>  
    </body>
    </html>