{% extends 'chef.html' %}

{% block content %}

<div class="msg">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="{{ category }} " role="alert">
      <span>{{ message }}</span>
      
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<section class="content">
        <div class="container-fluid">
          <div class="row">
              
                
            <div class="col-12">

              <!-- <div class="card"> -->
                  
                  <a href="#" class="btn btn-outline-success" role="button" title="creer un investisseur" data-toggle="modal" data-target="#myModalinvestiss"  >CREER UN INVESTISSEUR</a>  
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



                  <a href="#" class="btn btn-outline-success" role="button" title="supprimer un investisseur" data-toggle="modal" data-target="#myModalinvestisseursup"  >SUPPRIMER UN INVESTISSEUR</a>  
                  <p></p>
                <!-- </div> -->
               
            </div>

            {% if investisseur|length !=0 %}
                      <table class="table table-hover">
                        <thead>
                            <tr style="background-color: #80b435;" >
                                <th>Prénom Nom</th>
                                <th>Téléphone </th>
                                <th>Mail</th>
                                <th>Adresse </th>
                                <th>CNI </th>
                                <th>Pourcentage</th> 
                                <th>Montant</th>
                                <th>Membre CA</th>  
                                    
                            </tr>
                            
                        </thead>
                        {% for row in investisseur %}
                        <tbody>
                            <tr>
                                <td>{{row[0]}}&nbsp;&nbsp; {{row[1]}}</td>
                                <td>{{row[2]}} </td>
                                <td> {{row[3]}}</td>
                                <td> {{row[4]}} </td>
                                <td> {{row[5]}} </td>
                                <td> {{row[6]}} </td>
                                <td> {{row[7]}} </td>
                                <td> {{row[8]}} </td>
                                
                            </tr>
                        </tbody>
                        {% endfor %}
                            
                            
                        </table>
                        {% else %}
                            <h2>Sendawal n'a pas encore d'investisseurs.</h2>
                        {% endif %}
            
          </div>

          </section>






              <div class="modal" id="myModalinvestiss">
                <div class="modal-dialog">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header"  style="background-color:#80b435;">
                      <h4 class="modal-title" style="text-align: center;">Créer un investisseur</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                      
            
                        <form class="login-form" action="{{ url_for('chefinvestisseur') }}" method="POST">
                            <label style="color:#80b435;" class="control-label" for="inputemail">PRENOM</label>
                            <input type="text" class="form-control" name="prenomc" placeholder="prenom" id="prenom" value="{{ request.form['prenomc'] }}" required>
                  
                            <label style="color:#80b435;" class="control-label" for="inputemail">NOM</label>
                            <input type="text" class="form-control" name="nomc" placeholder="nom" id="nom" value="{{ request.form['nomc'] }}" required>
            
                            <label style="color:#80b435;" class="control-label" for="inputemail">TELEPHONE</label>
                            <!-- <input type="text" class="form-control" name="telephonec" placeholder="telephone" id="telephone" required> -->
                            <input type="tel" class="form-control" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                            name="telephonec" placeholder="telephone" value="{{ request.form['telephonec'] }}" required>  
                  
                            <label  style="color:#80b435;" class="control-label" for="inputemail">Mot de passe</label>
                            <input type="text" class="form-control" name="motpass" placeholder="mot de pass" id="mot_de_pass" value="{{ request.form['motpass'] }}" required>
                  
  
                            <label  style="color:#80b435;" class="control-label" for="inputemail">DATE D'Adhésion</label>
                            <input type="date" class="form-control" name="datenaissc" placeholder="date_naiss" id="date_naiss" value="{{ request.form['datenaissc'] }}" required>
                  
                            <label style="color:#80b435;" class="control-label" for="inputemail">ADRESSE</label>
                            <input type="text" class="form-control" name="adressec" placeholder="adresse" id="adresse" value="{{ request.form['adressec'] }}" required>
                  
                            <label style="color:#80b435;" class="control-label" for="inputemail">CNI</label>
                            <input type="text" class="form-control" name="cnic" placeholder="cni" id="cni" value="{{ request.form['cnic'] }}" required>
            
                            <label style="color:#80b435;" class="control-label" for="inputemail">EMAIL</label>
                            <input type="email" class="form-control" name="mailc" placeholder="mail" id="mail" value="{{ request.form['mailc'] }}" required>
                  
                            <label style="color:#80b435;" class="control-label" for="inputmontant">Montant Versé</label>
                            <input type="number" class="form-control" name="montantc" placeholder="montant versé" id="montant" value="{{ request.form['montant'] }}" required>
                            
                            <label style="color:#80b435;" class="control-label" for="inputpourcentage">Pourcentage</label>
                            <input type="number" class="form-control" name="pourcentagec" placeholder="pourcentage" id="pourcentage" value="{{ request.form['pourcentage'] }}" required>
                            
                            <label style="color:#80b435;" class="control-label" for="inputconsadm">Conseil Administration</label>
                            <select id="products" name="conseiladminc" class="link-v1 lh-50 bg-brand" required>
                              <option value="">?</option>
                              <option value="non">non</option>
                              <option value="oui">oui</option>
                          </select>
                            
                            <button  style="background-color:#80b435; margin-top:3%" class="btn btn-success" type="submit"  data-toggle="modal" data-target="#exampleModal{{message}}">Enregister</button>
                        </form>
                        <!-- End form -->
            
            
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    
                  </div>
                </div>
              </div>

              <div class="modal" id="myModalinvestisseursup">
                <div class="modal-dialog">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header"  style="background-color:#80b435;">
                      <h4 class="modal-title" style="text-align: center;">Mettez d'abord les infos de l'investisseur</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                      
            
                        <form class="login-form" action="{{ url_for('suppriminvestisseur') }}" method="POST">
                            <label style="color:#80b435;" class="control-label" for="inputemail">Téléphone</label>
                            <input type="text" class="form-control" name="phonesupp" placeholder="telephone" id="prenom" value="{{ request.form['prenomc'] }}" required>
                  
                            <label style="color:#80b435;" class="control-label" for="inputemail">CNI</label>
                            <input type="text" class="form-control" name="cnisupp" placeholder="cni" id="nom" value="{{ request.form['nomc'] }}" required>
            
                            
                            
                            
                            <button  style="background-color:#80b435; margin-top:3%" class="btn btn-success" type="submit"  data-toggle="modal" data-target="#exampleModal{{message}}" onclick="return confirm('Etes vous sùre de vouloir supprimer cet investisseur?');">Enregister</button>
                        </form>
                        <!-- End form -->
            
            
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    
                  </div>
                </div>
              </div>





          <style>
                .succes{
                  color: green;
                }
                .danger{
                    color: rgb(241, 27, 12);
                }
            </style>
{% endblock content %}