{% extends 'headercommandeaissier.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<div class="container">
  <!-- {{new_commande}} -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                <div class="card">

                    <button type="button" style="color: rgba(0, 0, 0, 0.945);" class="btn btn-outline-success" data-toggle="modal" data-target="#myModal">commandes non encore validées par le comptable</button>
                    <p style="background-color: #80b435;"></p>
                    <button type="button"  style="color: rgb(39, 36, 36);" class="btn btn-outline-success" data-toggle="modal" data-target="#myModalvis">Visualisation</button>

                  
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog">
                      
                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <!-- <h4 class="modal-title">Modal Header</h4> -->
                          </div>
                          <div class="modal-body">
                            
                              <h6 class="" style="font-size: 50px; color: #80b435; text-align: center;">Commandes Non encore validées</h6>
                              {% if moin24|length !=0 %}
                              <div class="card-body table-responsive p-0">
                                
                                <table class="table table-hover">
                                  <thead>
                                      <tr style="background-color: #80b435;" >
                                          <th>Date</th>
                                          <th>Ventes</th> 
                                          <th>Depenses</th> 
                                          <th>Benefices</th>
                                          <th>Action</th>                                          
                                      </tr>
                                  </thead>
                                  <tbody>
                                      {% for row in moin24 %}
                                      <tr>
                                          <td> {{row[4]}} </td>
                                          <td> {{row[10]}}  </td>
                                          <td> {{row[12]}}  </td>
                                          <td> {{row[13]}} </td>
                                          <td><a href="/mydetailtodaye/{{row.0}}" class="btn btn-success">detail commande</a></td>
                                      </tr>
                                      {% endfor %}
                                  
                                  </tbody>
                                      
                                      
                                  </table>
                                  
                                  {% if mytotal|length !=0 %} 
                                    <h4>Total: <i  style="color:#ecac4a;" >{{mytotal[-1].0}}</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Benefices: <i  style="color:#ecac4a;" >{{mytotal[-1].1}}</i></h4>
                                  {%endif%}
                              </div>
                              {% else %}
                                <h2>Vous avez déja validé vos commandes précedentes avec le comptable.</h2>
                              {% endif %}

                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                        
                      </div>
                    </div>
                    
                  </div>
                  <div>

                    <!-- <a href="{{url_for('comptable')}}" class="btn btn-outline-success" role="button" title="Lister">Toutes mes Commandes</a> -->
                    {% if lecaisier|length !=0 %}
                    <a href="/ttemycommandes/{{lecaisier[0][2]}}" class="btn btn-outline-success" role="button" title="Messages">Toutes mes Commandes déja validées</a>  
                    {% endif %}
                </div>  
                    <!-- <a href="#" class="btn btn-outline-success" role="button" title="Lister">-24h</a> -->

                    <h3 class="" style="font-size: 50px; color: #80b435; text-align: center;">Liste Des Commandes Enregistrées</h3>
                    <div class="card-body table-responsive p-0">
                      <table class="table table-hover">
                        <thead>
                            <tr style="background-color: #80b435;" >
                                <th>Date</th>
                                <th>Ventes</th>
                                <th> Type commande </th>
                                <th> Information </th>

      
                                                      
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in new_commande %}
                            <tr>
                                <td> {{row[4]}} </td>
                                <td> {{row[10]}} FCFA </td>
                                <td> {{row[11]}} </td>
                                <td><a href="/mydetail/{{row.0}}" class="btn btn-success">detail commande</a></td>
                            </tr>
                            {% endfor %}
                        
                        </tbody>
                            
                            
                        </table>
                    </div>

                    
                    
              </div>
            </div>
          </section>
          
</div >

 <!-- Modal -->
 <div class="modal fade" id="myModalvis" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <!-- <h4 class="modal-title">Modal Header</h4> -->
      </div>
      <div class="modal-body">
        
          <h5 class="" style="font-size: 50px; color: #80b435; text-align: center;">Visualisation</h5>
          <canvas id="myChart"></canvas>
          <canvas id="myChart2"></canvas>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
    
  </div>
</div>
<script>

var ctx = document.getElementById('myChart').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: [{%for val in myvalue %} "{{val[0]}}", {%endfor%}],
        datasets: [{
            label: 'Evolution vente par jour',
            backgroundColor: 'rgb(0,255,0)',
            borderColor: 'rgb(255, 99, 132)',
            data: [{%for val in myvalue %} "{{val[2]}}", {%endfor%}]
        }]
    },

    // Configuration options go here
    options: {
      title:{
                        text: "camabere"

                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
    }
});


var ctx = document.getElementById('myChart2').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: [{%for val in myvalue %} "{{val[0]}}", {%endfor%}],
        datasets: [{
            label: 'Evolution commandes par jour',
            backgroundColor: 'rgb(0,255,0)',
            borderColor: 'rgb(255, 99, 132)',
            data: [{%for val in myvalue %} "{{val[1]}}", {%endfor%}]
        }]
    },

    // Configuration options go here
    options: {
      title:{
                        text: "camabere"

                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
    }
});

</script>

{% endblock content %}
