{% extends 'admingeneral.html' %}

{% block content %}


<section class="content">
    <div class="container-fluid">
      <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <div class="yes">
                        <a href="{{ url_for('ajoutprod') }}" class="btn btn-outline-primary" role="button" title="Ajouter">Ajouter produits</a>
                </div>
                <h3 class="card-title">Tableau de validation</h3>
              </div>
                  <h1>Il n'y a pas encore de produits publiés</h1>
            </div>
          </div>
        </div>
      </section>
<style>
.yes{
    margin-left: 850px;
}
</style>
{% endblock content %}