{% include 'header.html' %}

        <div class="container">
            <div class="banner-header banner-lbook3 space-30">
                <img src='{{url_for("static",filename="assets/images/viandepoulet2.jpg")}}' alt="Banner-header">
                <div class="text">
                    <h3 style="color: #80b435;">Connexion</h3>
                    <p><a href="{{url_for('accueil')}}" title="Accueil">Accueil</a><i class="fa fa-caret-right"></i>Connexion</p>
                </div>
            </div>
        </div>
        <!-- End banner -->
        <div class="container container-ver2">
            <div class="page-login box space-50">
                <div class="row">
                    <div class="col-md-6 sign-in space-30">
                        <h3>Se connecter</h3>
                        <p>Bonjour, Bienvenue sur votre compte.</p>
                        
                        <!-- End social -->
                        <form class="login-form" action="{{ url_for('login') }}" method="POST">
                            <label class="control-label" for="inputemail">TELEPHONE *</label>
                  <input type="text" class="form-control" name="telephon" placeholder="telephone" id="username" required>
                  {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                  {% for category, message in messages %}
                  <div class="{{ category }} " role="alert">
                    <span>{{ message }}</span>
                    
                  </div>
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
                  <div class="form-group">
                    <label for="password" class="text-uppercase">Mot de passe</label>
                    <input type="password" class="form-control" name="password" placeholder="mot de passe" id="password-field" required>
                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    
                    </div>
                            <!-- <div class="group box">
                                <label class="control-label" for="inputemail">PASSWORD *</label>
                                <input class="form-control" type="text" placeholder="Password" id="inputpass"> 
                            </div> -->
                            <div class="remember">
                                <!-- <input id="remeber" type="checkbox" name="check" value="remeber">
                                <label for="remeber" class="label-check">Rester connecté !</label> -->

                                <a class="float-right" href="#myModal" data-toggle="modal" data-target="#myModal" title="Mot de passe oublié" style="margin-top: 2%;">Mot de passe oublié ?</a>
                              </div>           
                            <!-- <button type="submit" class="btn btn-login float-right" data-toggle="modal" data-target="#exampleModal{{message}}">Se connecter</button> -->

                            <button type="submit" class="link-v1 rt" data-toggle="modal" data-target="#exampleModal{{message}}">Se connecter</button>
                        </form>
                        <!-- End form -->

            <!-- pop -->

            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h6 class="modal-title" id="myModalLabel" style="text-align: center;">réinitialiser votre mot de passe</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="{{ category }} " role="alert">
                      <span>{{ message }}</span>
                      
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                  </div>
                  <form class="login-formm" action="{{ url_for('motpassoublier') }}" method="POST">

                  <div class="modal-body">
                    <div id="forgot_pw">
                      <div class="form-group">
                        <input type="email" class="form-control" name="emailforgot" id="email_forgot" placeholder="Mettez votre mail"  required>
                      </div>
                      <div class="form-group">
                        <input type="text" class="form-control" name="telephonforget" placeholder="Mettez votre n telephone" id="username" required>
                      </div>
                      <p>Vérifier votre boite mail un code vous sera envoyer.</p>

                        <button type="submit" class="link-v1 rt" data-toggle="modal" data-target="#exampleModal{{message}}" style="width: 100px; height: 40px;  " >Valider</button>

                        <button type="button" class="btn btn-default" data-dismiss="modal" style="width: 100px; height: 40px;margin-left: 200px; ">Close</button>
                      
                          <!-- <div class="text-center"> <a class="link-v1 lh-20 margin-right-50  bg-brand" data-toggle="modale" href="#myModale" >réinitialiser mot de passe</a></div> -->
                    </div>
                  </div>
                </form>
                  
                </div>
              </div>
            </div>
            <!-- and pop -->
                       <div class="modal fade" id="myModale" >
                        <div class="modal-dialog" style="width:50%; margin-top:-3%">
                            <div class="modal-content" >
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal1" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title"></h4>
                                </div>
                              
                             
                               
              <div class="modal-body">
                                            
                      <div id="forgot_pw">
                        <div class="form-group">
                         <input type="texte" class="form-control" name="" id="" placeholder="Taper ce code"  required>
                        </div>
            
                      <div class="text-center"><input type="submit" value="valider" class="btn_1"></div>
                   </div>
                                                
                   </div>
                                
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                     </div><!-- /.modal -->
                                
                </div>
                    <!-- End col-md-6 -->
                    <div class="col-md-6">
                        <div class="register box space-50">
                            <!-- <h3>Créer un compte</h3> -->
                            <br><br><br><br><br><br>

                            <p style="margin-left: 70px; color:black;"><h3>Créer votre compte sen ndawal facilement!</h3></p>
                            <br><br><br><br><br><br><br>
                            
                            <!-- <button type="submit" class="link-v1 rt">Créer compte</button> -->

                        </div>
                        <!-- End register -->
                        
                    </div>
                    <!-- End col-md-6 -->
                </div>
            </div>
        </div>

<style>
        .col-md-6{
                padding-left: 50px;
            }        
        .succes{
            color: green;
        }
        .danger{
            color: red;
        }
        .field-icon {
                  float: right;
                  margin-left: -25px;
                  margin-top: -25px;
                  position: relative;
                  z-index: 2;
                }
    </style>
<script>
function myFunction() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
$(".toggle-password").click(function() {

  $(this).toggleClass("fa-eye fa-eye-slash");
  var input = $($(this).attr("toggle"));
  if (input.attr("type") == "password") {
    input.attr("type", "text");
  } else {
    input.attr("type", "password");
  }
  });
</script>
        {% include 'footer.html' %}
