{% include 'header.html' %}

        <div class="container">
            <div class="banner-header banner-lbook3 space-30">
                <img src='{{url_for("static",filename="static/images/viandepoulet2.jpg")}}' alt="Banner-header">
                <div class="text">
                    <h3>Connexion</h3>
                    <p><a href="{{url_for('accueil')}}" title="Accueil">Accueil</a><i class="fa fa-caret-right"></i>Connexion</p>
                </div>
            </div>
        </div>
        <!-- End banner -->
        <div class="container container-ver2">
            <div class="page-login box space-50">
                <div class="row">
                    <div class="col-md-6 sign-in space-30">
                        <h3>Se connecter</h3>
                        <p>Bonjour, Bienvenue à votre compte.</p>
                        
                        <!-- End social -->
                        <form class="login-form" action="{{ url_for('login') }}" method="POST">
                            <label class="control-label" for="inputemail">TELEPHONE *</label>
                  <input type="text" class="form-control" name="telephon" placeholder="telephone" id="username" required>
                  {% with messages = get_flashed_messages(with_categories=true) %}
                  {% if messages %}
                  {% for category, message in messages %}
                  <div class="{{ category }} " role="alert">
                    <span>{{ message }}</span>
                    
                  </div>
                  {% endfor %}
                  {% endif %}
                  {% endwith %}
                  <div class="form-group">
                    <label for="password" class="text-uppercase">Mot de passe</label>
                    <input type="password" class="form-control" name="password" placeholder="mot de passe" id="password-field" required>
                    <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    
                    </div>
                            <!-- <div class="group box">
                                <label class="control-label" for="inputemail">PASSWORD *</label>
                                <input class="form-control" type="text" placeholder="Password" id="inputpass"> 
                            </div> -->
                            <div class="remember">
                                <input id="remeber" type="checkbox" name="check" value="remeber">
                                <label for="remeber" class="label-check">Rester connecté !</label>
                                <a class="help" href="#" title="help ?">Mot de passe oublié ?</a>   
                            </div>           
                            <!-- <button type="submit" class="btn btn-login float-right" data-toggle="modal" data-target="#exampleModal{{message}}">Se connecter</button> -->

                            <button type="submit" class="link-v1 rt" data-toggle="modal" data-target="#exampleModal{{message}}">Se connecter</button>
                        </form>
                        <!-- End form -->
                    </div>
                    <!-- End col-md-6 -->
                    <div class="col-md-6">
                        <div class="register box space-50">
                            <!-- <h3>Créer un compte</h3> -->
                            <br><br><br><br><br><br>

                            <p style="margin-left: 70px; color:black;"><h3>Créer votre compte senpoisson facilement!</h3></p>
                            <br><br><br><br><br><br><br>
                            
                            <!-- <button type="submit" class="link-v1 rt">Créer compte</button> -->
                            <a href="{{ url_for('Inscription_clients') }}" style="margin-left: 60px;" class="link-v1 rt">Créer compte</a>

                        </div>
                        <!-- End register -->
                        
                    </div>
                    <!-- End col-md-6 -->
                </div>
            </div>
        </div>

<style>
        .col-md-6{
                padding-left: 50px;
            }        
        .succes{
            color: rgb(170, 4, 120);
        }
        .danger{
            color: red;
        }
        .field-icon {
                  float: right;
                  margin-left: -25px;
                  margin-top: -25px;
                  position: relative;
                  z-index: 2;
                }
    </style>
<script>
function myFunction() {
  var x = document.getElementById("password");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
$(".toggle-password").click(function() {

  $(this).toggleClass("fa-eye fa-eye-slash");
  var input = $($(this).attr("toggle"));
  if (input.attr("type") == "password") {
    input.attr("type", "text");
  } else {
    input.attr("type", "password");
  }
  });
</script>
    {% include 'footer.html' %}
