{% extends 'rolemarkting.html' %}

{% block content %}


<!-- {{new_commande}} -->

<div class="container">
       
         <p></p>

  <a href="https://sendawal-dashboard-for-mobile.vercel.app/" target="_blank" class="btn btn-outline-success" role="button" title="commandes application">Commandes Application</a>  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="{{url_for('commmarkting')}}"  class="btn btn-outline-success" role="button" title="commandes application">Commandes En Ligne</a>  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="{{url_for('marktingclient')}}"  class="btn btn-outline-success" role="button" title="commandes application">Infos clients</a>  
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <a href="{{url_for('markting')}}" class="btn btn-outline-success" role="button" title="commandes application">Infos commandes</a>  
 <p></p><p></p><p><p></p></p>
         <div class="row">

          <div class="col-12">
            <div class="section1" style="width: 100%;">
              <div>
                  <canvas id="mixed-chart" width="800" height="270"></canvas>
              </div>
       </div>
          </div>
        </div>
        <div class="row" style="margin-top: 8%;">

          <div class="col-12">
            <div class="section2" style="width: 100%;">
              <div>
                  <canvas id="mixed-chartfreq" width="800" height="250"></canvas>
              </div>
           </div>
          </div>
         </div>
        
        
         
        <div>
          <section class="content" style="margin-top: 3%;">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-header">
                          <h3 class="" style="font-size: 50px; color: #80b435; text-align: center;"> Les clients</h3>
                          <div class="card-body table-responsive p-0">
                            {% if users|length !=0 %}
                            <table class="table table-hover">
                              <thead>
                                  <tr style="background-color: #80b435;" >
                                    <th>Prenom</th>
                                    <th>Nom</th>
                                    <th>Téléphone</th>
                                    <th>Adresse </th>
                                    <th>Action</th>
        
                                                            
                                  </tr>
                                  
                              </thead>
                              {% for row in users %}
                              <tbody>
                                  <tr>
                                      <td>{{row[1]}}</td>
                                      <td>{{row[2]}}</td>
                                      <td> {{row[3]}} </td>
                                      <td> {{row[4]}}</td>
                                      <td><a href="/detailclient/{{row.3}}" class="btn btn-success">detail</a></td>

                                      
                                      
                                  </tr>
                              </tbody>
                              {% endfor %}
                                  
                                  
                              </table>
                              {% else %}
                                  <h2>Aucun client n'est enregistrée</h2>
                              {% endif %}
                              
                          </div>
                    </div>
                  </div>
                </section>
            </div>
      </div >


      <style>
      
      .section1{
	background-color:#11181e;
	width:50%;
	float:right;
	height:50vh;
	border-right: 1vw solid #F5E5D6; 
    box-sizing: border-box;
    margin:0;
    padding:0;
    clear:both;	
}
.section2{
	background-color:#11181e;
	width:50%;
	float:none;
	height:50vh;
	margin:0;
	padding:0;
  box-sizing: border-box;
  clear:both;
}
      
      </style>

    

      <script>
      
    new Chart(document.getElementById("mixed-chart"), {
    type: 'bar',
    data: {
      labels: [{%for val in tous[0] %} "{{val}}", {%endfor%}],
      datasets: [{
          label: "commandes",
          type: "bar",
          backgroundColor: 'rgb(0,255,0)',
            
          data: [{%for val in tous[1] %} "{{val}}", {%endfor%}],
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Commandes totales de chaque client'
      },
      legend: { display: false }
    }
});

new Chart(document.getElementById("mixed-chartfreq"), {
    type: 'bar',
    data: {
      labels: [{%for val in frequance[0] %} "{{val}}", {%endfor%}],
      datasets: [{
          label: "commandes",
          type: "bar",
          backgroundColor: 'rgb(0,255,0)',
            
          data: [{%for val in frequance[1] %} "{{val}}", {%endfor%}],
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Fréquance de chaque client'
      },
      legend: { display: false }
    }
});
      
      </script>

  <nav class="pagination align-center" style="  width: 55px;">
    {{ pagination.links }}
</nav>
{% endblock content %}