{% extends 'chef.html' %}

{% block content %}


{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
    {% for category, message in messages %}
        <div class="{{ category }} " role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="msg">{{ msggz }}</div>

<section class="content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h4 class="" style="color: #80b435; text-align:center" >Tableau des messages</h4>
                  </div>
                  <div class="card-body table-responsive p-0">
                      <table class="table table-hover">
                        <thead>
                            <tr style="background-color: #80b435;">
                                <th>nom</th>
                                <th>prenom</th>
                                <th>mail</th>
                                <th>message</th>                        
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in mess%}
                            
                            <tr>
                                <td>{{row.0}}</td>
                                <td>{{row.1}}</td>
                                <td>{{row.2}}</td>
                                <td>{{row.3}}</td>
                            </tr>
                        
                            {% endfor %}
                        </tbody>
                            
                            
                        </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <style>
                .succes{
                  color: green;
                }
                .danger{
                    color: rgb(241, 27, 12);
                }
            </style>

{% endblock content %}