<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Sen Ndawal</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Font Awesome -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/fontawesome-free/css/all.min.css")}}'>
  <link rel="shortcut icon" href='{{url_for("static",filename="assets/images/LogoSenNdawal.png")}}'>

  <!-- <link rel="shortcut icon" href='{{url_for("static",filename="statics/assets/images/icon.ico")}}'> -->
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bbootstrap 4 -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css")}}'>
  <!-- iCheck -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/icheck-bootstrap/icheck-bootstrap.min.css")}}'>
  <!-- JQVMap -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/jqvmap/jqvmap.min.css")}}'>
  <!-- Theme style -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/dist/css/adminlte.min.css")}}'>
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/overlayScrollbars/css/OverlayScrollbars.min.css")}}'>
  <!-- Daterange picker -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/daterangepicker/daterangepicker.css")}}'>
  <!-- summernote -->
  <link rel="stylesheet" href='{{url_for("static",filename="statics/plugins/summernote/summernote-bs4.css")}}'>
  <!-- Google Font: Source Sans Pro -->
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <!-- Hotjar Tracking Code for https://africmode.com/ -->
 
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{url_for('accueil')}}" class="nav-link">Accueil</a>
      </li>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{url_for('commandelivrer')}}" class="btn btn-outline-primary" role="button" title="livrées" style="background-color:#80b435; color: white; border: white;">Commandes livrées</a>
      </li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <li class="nav-item d-none d-sm-inline-block">
        <a href="{{url_for('commandenonlivrer')}}" class="btn btn-outline-primary" role="button" title="Non livrées" style="background-color:#80b435; color: white; border: white;">Commandes non livrées</a>   
      </li>

    </li> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <li class="nav-item d-none d-sm-inline-block">
      <a href="{{url_for('catalog')}}" class="btn btn-outline-primary" role="button" title="Faire Commandes" style="background-color:#80b435; color: white; border: white;">Faire une commande</a>   
    </li>


     
    </ul>

    <!-- SEARCH FORM -->
    

  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4" style="background-color:#80b435;">
    <!-- Brand Logo -->
    <a href="{{url_for('accueil')}}" class="brand-link" >

      <!-- <img src='{{url_for("static",filename="img/Logo Afric Mode.png")}}' class="img-circle elevation-2" width = "200" height = "50" alt="User Image"> -->
        <h4>Sen Ndawal</h4>

    </a>


{% block content  %} {% endblock content%}



<style>
        .succes{
          color: green;
        }
        .danger{
            color: rgb(241, 27, 12);
        }
    </style>



</div>   
<style>
.k{
color: green;
}
</style>

</div>
</div>

</div>
</div>


<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
<!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src='{{url_for("static",filename="statics/plugins/jquery/jquery.min.js")}}'></script>
<!-- jQuery UI 1.11.4 -->
<script src='{{url_for("static",filename="statics/plugins/jquery-ui/jquery-ui.min.js")}}'></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
$.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src='{{url_for("static",filename="statics/plugins/bootstrap/js/bootstrap.bundle.min.js")}}'></script>
<!-- ChartJS -->
<script src='{{url_for("static",filename="statics/plugins/chart.js/Chart.min.js")}}'></script>
<!-- Sparkline -->
<script src='{{url_for("static", filename="statics/plugins/sparklines/sparkline.js")}}'></script>
<!-- JQVMap -->
<script src='{{url_for("static",filename="statics/plugins/jqvmap/jquery.vmap.min.js")}}'></script>
<script src='{{url_for("static",filename="statics/plugins/jqvmap/maps/jquery.vmap.usa.js")}}'></script>
<!-- jQuery Knob Chart -->
<script src='{{url_for("static",filename="statics/plugins/jquery-knob/jquery.knob.min.js")}}'></script>
<!-- daterangepicker -->
<script src='{{url_for("static",filename="statics/plugins/moment/moment.min.js")}}'></script>
<script src='{{url_for("static",filename="statics/plugins/daterangepicker/daterangepicker.js")}}'></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src='{{url_for("static",filename="statics/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js")}}'></script>
<!-- Summernote -->
<script src='{{url_for("static",filename="statics/plugins/summernote/summernote-bs4.min.js")}}'></script>
<!-- overlayScrollbars -->
<script src='{{url_for("static",filename="statics/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js")}}'></script>
<!-- AdminLTE App -->
<script src='{{url_for("static",filename="statics/dist/js/adminlte.js")}}'></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src='{{url_for("static",filename="statics/dist/js/pages/dashboard.js")}}'></script>
<!-- AdminLTE for demo purposes -->
<script src='{{url_for("static",filename="statics/dist/js/demo.js")}}'></script>
</body>
</html>