{% extends 'headercommandeaissier.html' %}
{% block content %}
<div class="container">
  <!-- {{details}}
  {{moi}}
  {{myclient}} -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h3 class="" style="font-size: 50px;  text-align: center;">Liste Des Commandes Enregistrées</h3>
                    <div class="card-body table-responsive p-0">
                      <table class="table table-hover">
                        <thead>
                            <tr style="background-color: #80b435;" >
                                <th>Produit</th>
                                <th>Nom</th>
                                <th>prix unitaire</th>
                                <th>qty</th>
                                <th>total</th>
                                <!-- <th>livraison</th> -->
                                
      
                                                      
                            </tr>
                        </thead>
                        {% for row in details%}
                          <tbody>
                              <td style="border: 1px solid black;"><img src="../static/images/{{row.2}}" width="120" height="120" alt="Photo"> </td>
                              <td style="border: 1px solid black;">{{row.1}}</td>
                              <td style="border: 1px solid black;">{{row.3}}</td>
                              <td style="border: 1px solid black;">{{row.4}}</td>
                              <td style="border: 1px solid black;">{{row.5}}</td>
                              <!-- <td style="border: 1px solid black;">{{row.6}}</td>  -->
                          </tbody>
                        {% endfor %}
                            
                            
                        </table>
                        
                    </div>
                    
              </div>
                    {% if details|length !=0 %}
                      <h4>livraison: {{details[0][6]}} FCFA </h4>
                    {% endif %}
              <div class="card-header">
                    <h3 class="" style="font-size: 50px;  text-align: center;">Client</h3>
                    <div class="card-body table-responsive p-0">
                      <table class="table table-hover">
                        <thead>
                            <tr style="background-color: #80b435;" >
                                <th>Nom</th>
                                <th>adresse</th>                     
                            </tr>
                        </thead>
                        {% for row in myclient%}
                          <tbody>
                              <td style="border: 1px solid black;">{{row.0}} {{row.1}}</td>
                              <td style="border: 1px solid black;">{{row.3}}</td>
                          </tbody>
                        {% endfor %}
                            
                            
                        </table>
                    </div>
              </div>
            </div>
          </section>
</div >

{% endblock content %}
