{% extends 'heardercaissier.html' %}

{% block content %}
<div class="container">
  <!-- {{moin24}}
  {{mytotal}}
  {{lecaisier}}
   -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <h5 style="color:#80b435;">  Caissier : {{lecaisier[0][0]}} {{lecaisier[0][1]}}
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      {% if lecaisier|length !=0 %}
                      <a href="/ttecommandes/{{lecaisier[0][2]}}" class="btn btn-outline-success" role="button" title="Messages">Toutes les commandes validées</a>  
                      {% endif %}
                    </h5>
                    <h3 class="" style="font-size: 50px; color: #80b435; text-align: center;"> Commandes non encore validée</h3>
                    <div class="card-body table-responsive p-0">
                      {% if moin24|length !=0 %}
                      <table class="table table-hover">
                        <thead>
                            <tr style="background-color: #80b435;" >
                                <th>Date</th>
                                <th>Type de commande</th>
                                <th>Total </th>
                                <th>Depenses </th>
                                <th>Benefice </th>
                                <th>Action</th>
      
                                                      
                            </tr>
                            
                        </thead>
                        {% for row in moin24 %}
                        <tbody>
                            <tr>
                                <td>{{row[4]}} </td>
                                <td> {{row[11]}} </td>
                                <td> {{row[10]}}</td>
                                <td> {{row[12]}}</td>
                                <td> {{row[13]}}</td>
                                <td>
                                  <a href="/caissierdetailtodaye/{{row.0}}" class="btn btn-outline-success" role="button" title="Messages">Detail</a>  
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                            
                            
                        </table>
                        {% else %}
                            <h2 style="text-align: center;">Ce caissier n'a pas encore validé ou enregistré une commande aujourd'hui.</h2>
                        {% endif %}
                        {% if mytotal|length !=0 %}
                            <h4>Total commandes: <i  style="color:#ecac4a;" >{{mytotal[-1].0}}</i> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Benefices: <i  style="color:#ecac4a;" >{{mytotal[-1].1}}</i></h4>
                            <a href="/valid/{{lecaisier[0][2]}}" class="btn btn-outline-success" role="button" title="Valider" onclick="return confirm('Avez vous déja vérifié avec le caissier le montant total des commandes non validées?');">Valider</a>  

                        {% endif %}
                    </div>
              </div>
            </div>
          </section>
</div >

{% endblock content %}
