{% include 'header.html' %}
<div class="container container-ver2" >
      <div class="title-text-v2 title-brand">
      <h2>Votre Panier</h2>
      </div><br><br>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="{{ category }} " role="alert">
                        <span>{{ message }}</span>
                        
                    </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% for row in dieun %}
            <div class="row">
                <div class="col-md-4" >
                    <p class="title-text-v1 title-brand">       
                        Produit Choisi :  
                           &nbsp; &nbsp;
                        </p>
                        <select id="products" class="link-v1 lh-50 bg-brand">
                            <option value="{{row.3}}">{{row.2}}</option>
                        </select>
                     
                        <input type="hidden" id="phottId" value="{{row.1}}">
                     
                        &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
                     
                </div>
     <div class="col-md-4" > 
        <p class="title-text-v1 title-brand">       
            Quelle quantité ? 
               &nbsp; &nbsp;
            </p>
            {% if row[5] == 'poulets' %}
            Nombre :&nbsp; &nbsp;
            <input type="number" id="qty" size="3" min="1" max="100000" />
            {% else%}
            Quantité : &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            <input class="quantity" type="number" id="qty" size="3" min="1" max="100000" />  &nbsp;&nbsp;Kg
            {%endif%}
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
            &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
 
        </div>
        
        <div class="col-md-4">
            <button  style="margin-top: 3%;" class="link-v1 lh-50 bg-brand" id="btnAdd" title="Ajouter" onclick="addToCart()">Ajouter</button><br><br><br><br>

        </div>
            </div>
            
                   
            <form action="{{ url_for('getpanier') }}" method="post">
                  <table  id="cart"  border="1" class="table cart-table space-30"   style=" visibility:hidden; width:100%;">
                    <thead>
                        <tr>
                            <th style="text-align: center;">Produits</th>
                                <th  style="text-align: center;">Nom</th>
                                <th  style="text-align: center;">Prix</th>
                                <th  style="text-align: center;">Quantité</th>
                                <th style="text-align: center;">  Total</th>
                                <th  style="text-align: center;" >Supprimer</th>
                        </tr>
                    </thead>
                    <tbody id="cartBody">

                    </tbody>
     
                </table>
                <div class="col-md-6" id="cache1">
                        <a class="link-v1 lh-20 margin-right-10 space-60 bg-brand "   href="{{url_for('catalog')}}" title="CLEAR SHOPPING CART">CONTINUER ACHAT</a>
                    </div>
                <div class="col-md-6" id="cache2">                                   
                        <button id="clickMe" class="link-v1 lh-20 margin-right-10 space-80 bg-brand"   type="submit"  >TERMINER ACHAT</button>
                    </div>
            </form>
                {% endfor %}
                 <div>


                    <!-- <div class="col-md-6">
                        <a class="link-v1 lh-20 margin-right-10 space-60 bg-brand "   href="{{url_for('catalog')}}" title="CLEAR SHOPPING CART">CONTINUER ACHAT</a>
                    </div> -->
                    <!-- <div class="col-md-6">
                        <a class="link-v1 lh-20 margin-right-10 space-80 bg-brand " id="clickMe" href="{{url_for('getpanier')}}" title="CLEAR SHOPPING CART" >TERMINER ACHAT</a>
                    </div> -->
                   </div>
                </div>

            <!-- </div> -->
            </div>

<!-- 
<style type="text/css">
    #cache1, #cache2 {
    display: none;
    }
    
</style> -->

<style>


.succes{
        color: rgb(170, 4, 120);
        }
.danger{
        color: red;
        font-size: 20px;
        }
.col-md-8{
    padding-left: 145px;
}

#select-div select {
    display:none;
}

#select-div.tech #techy {
    display:block;
}

#select-div.non-tech #non-techy {
    display:block;
}


</style>

<!--  -->

<!-- //CETTE PARTIE RENVOYER LES VALEURS SELECTIONNÉES AU FICHIER .py POUR L'INSERER DANS LA BASE DE DONNÉES AVEC ID UTILISATEUR: -->
<script>
    // $('#classModal').modal('show')
    var table = document.getElementById('cart');
    var del = [];
    for (var i = 1; i < table.rows.length; i++) {
        if (table.rows[i].cells.length) {
        //   var photo = (table.rows[i].cells[0].textContent.trim());
            var produit = (table.rows[i].cells[1].textContent.trim());
            var prix = (table.rows[i].cells[2].textContent.trim());
            var qty = (table.rows[i].cells[3].textContent.trim());
            var total = (table.rows[i].cells[4].textContent.trim());
        //   var string1 = photo + produit + prix + qty + total;
            var string1 = {val2:produit , val3:prix , val4:qty , val5:total};
        
            del.push(string1)
            
        }}
        localStorage.setItem("val", del);
    
    
    
    
    
    
    document.getElementById("clickMe").onclick = function () {

        if ($('#cartBody tr').length == 0) {
        alert("Votre panier est vide, merci de remplir avant de terminer votre achat.")
        return false;
        }
       

        if (localStorage.length > 0){
            localStorage.clear();
         };


         
    //      var table = document.getElementById('cart');
    //      var lister = [];
    //     //  alert(table)
    
    // // *********
    // if ($('#cartBody tr').length == 0) {
    //     alert("Votre panier est vide, merci de remplir avant de terminer votre achat.")
    //     return false;
    // }
    // else{
    
    //     for (var i = 1; i < table.rows.length; i++) {
    //         if (table.rows[i].cells.length) {
    //         //   var photo = (table.rows[i].cells[0].textContent.trim());
    //           var produit = (table.rows[i].cells[1].textContent.trim());
    //           var prix = (table.rows[i].cells[2].textContent.trim());
    //           var qty = (table.rows[i].cells[3].textContent.trim());
    //           var total = (table.rows[i].cells[4].textContent.trim());
    //         //   var string1 = photo + produit + prix + qty + total;
    //           var string1 = {val2:produit , val3:prix , val4:qty , val5:total};
            
    //           lister.push(string1)
               
    //         }}}
    //         console.log(lister)
    //         sendFormData = JSON.stringify(lister);
            
    //         $.ajax({
    //         url: "{{ url_for('getpanier') }}",
    //         data: sendFormData,
    //         contentType:'application/json',
    //         type: "POST",      
                    
    //         success: function(data) {
    //             console.log(data);
    //         },
    //             error: function(error) {
    //                     console.log("error");
    //                 }
            
    //         });
    
    //     //  *******
    //      if (localStorage.length > 0){
    //          localStorage.clear();
    //      }; 
             
         };
    
    </script>


{% include 'footer.html' %}
