{% include 'header.html' %}
<div class="container">
    <div class="banner-header banner-lbook3 space-30">
        <img src='{{url_for("static",filename="assets/images/viandepoulet2.jpg")}}' alt="Banner-header">
        <div class="text">
            <h3>Connexion</h3>
            <p><a href="{{url_for('accueil')}}" title="Accueil">Accueil</a><i class="fa fa-caret-right"></i>Connexion</p>
        </div>
    </div>
</div>
<div class="container container-ver2">
    <div class="page-login box space-50">
        <div class="row">
            <div class="col-md-6 sign-in space-30">
                <div class="modal-header">
                    <h4  class = "modal-title" > Finaliser votre réinitialisation de mot de passe </h4>       
                </div>

                <div class="modal-body">

<form class="login-form" action="{{ url_for('passchange') }}" method="POST">
    <div class="form-group">
        <label for="password" class="text-uppercase">Nouveau Mot de passe</label>
        <input type="password" class="form-control" name="password" placeholder="Taper votre nouveau mot de passe" id="password-field" required>
        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        
    </div>
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="{{ category }} " role="alert">, 
<span>{{ message }}</span>

</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="form-group">
<label for="password" class="text-uppercase">CONFIRMER Ce Nouveau MOT DE PASSE</label>
<input type="password" class="form-control" name="password22" placeholder="Confirmer ce nouveau mot de passe" id="password-field" required>
<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>

</div>
        
    <button type="submit" class="link-v1 rt" data-toggle="modal" data-target="#exampleModal{{message}}">Se connecter</button>
</form>

</div>
              
                    
             
</div>
</div>
</div>
</div>









<style>
    .col-md-6{
            padding-left: 50px;
        }        
    .succes{
        color: green;
    }
    .danger{
        color: red;
    }
    .field-icon {
              float: right;
              margin-left: -25px;
              margin-top: -25px;
              position: relative;
              z-index: 2;
            }
</style>
<script>
function myFunction() {
var x = document.getElementById("password");
if (x.type === "password") {
x.type = "text";
} else {
x.type = "password";
}
}
$(".toggle-password").click(function() {

$(this).toggleClass("fa-eye fa-eye-slash");
var input = $($(this).attr("toggle"));
if (input.attr("type") == "password") {
input.attr("type", "text");
} else {
input.attr("type", "password");
}
});
</script>


{% include 'footer.html' %}