{% extends 'chef.html' %}

{% block content %}


{% if produit|length !=0 %}

<!-- {{produit}} -->

<div>
    <canvas id="pie-chart" width="800" height="450"></canvas>
</div>

{% endif %}




<script>

new Chart(document.getElementById("pie-chart"), {
    type: 'pie',
    data: {
      labels: [{%for val in produit %} "{{val[0]}}", {%endfor%}],
      datasets: [{
        label: "Population (millions)",
        backgroundColor: ["#3e95cd", "#8e5ea2","#3cba9f","#e8c3b9","#c45850", "#321456", "#326812"],
        data: [{%for val in produit %} "{{val[1]}}", {%endfor%}]
      }]
    },
    options: {
      title: {
        display: true,
        text: 'Les produits les plus vendus'
      }
    }
});
</script>



                      
{% endblock content %}