{% include 'header.html' %}

        <div class="container">
            <div class="banner-header banner-lbook3 space-30">
                <img src='{{url_for("static",filename="assets/images/viandepoulet2.jpg")}}' alt="Banner-header">
                <div class="text">
                <h3>Création Compte</h3>
                <p><a href="{{url_for('accueil')}}" title="Accueil">Accueil</a><i class="fa fa-caret-right"></i>Créer Compte</p>
                
            </div>
        </div>
        <!-- End banner -->
        <div class="container container-ver2">
            <div class="page-login box space-50">
                <div class="row">
                   
                    <!-- End col-md-6 -->
                    
                        <div class="register box space-50">
                            <h3>Créer un compte</h3>

                            <form action="{{ url_for('Inscription_clients') }}" method="post" autocomplete="off">
                                    <!-- <div class="input-group form-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input type="text" class="form-control" pattern=".*\S.*" name="prenom" placeholder="Mettez votre Prenom" required >
                                        
                                    </div> -->
                                    <div class="col-md-6">
                                        <div class="group box space-20">
                                            <label class="control-label" for="inputprenom">PRENOM *</label>
                                            <input class="form-control" pattern=".*\S.*" name="prenom" type="text" placeholder="Mettez votre prenom" id="inputnom" required>
                                        </div>
                                        <div class="group box">
                                            <label class="control-label" for="inputemail">NOM *</label>
                                            <input class="form-control" pattern=".*\S.*" name="nom" type="text" placeholder="Mettez votre nom" id="inputnom" required>
                                            <!-- <input class="form-control" type="text" placeholder="Password" id="inputpass">  -->
                                        </div>

                                    </div>           
                                    <div class="col-md-6">
                                            <div class="group box space-20">
                                                    <label class="control-label" for="inputemail">TELEPHONE *</label>
                                                    <input type="tel" class="form-control" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                                                    name="telephone" placeholder="Mettez votre telephone" value="{{ telephone }}" >
                                                    <!-- <input class="form-control" type="text" placeholder="Your email" id="inputemail"> -->
                                                </div>
                                                <div class="group box">
                                                    <label class="control-label" for="inputemail">CONFIRMER TELEPHONE *</label>
                                                    <input type="tel" class="form-control" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                                                    name="telephone2" placeholder="Confirmer votre telephone" value="{{ telephone2 }}">
                                                    <!-- <input class="form-control" type="text" placeholder="Password" id="inputpass">  -->
                                                </div>

                                    </div>
                                    <div class="col-md-6">
                                            <div class="group box space-20">
                                                    <label class="control-label" for="inputemail">EMAIL *</label>
                                                    <input type="text" class="form-control" pattern=".*\S.*" name="mail" placeholder="Mettez votre mail" required>
                                                    <!-- <input class="form-control" type="text" placeholder="Your email" id="inputemail"> -->
                                                </div>
                                                <div class="group box">
                                                    <label class="control-label" for="inputemail">ADRESSE *</label>
                                                    <input type="text" class="form-control" pattern=".*\S.*" name="adresse" placeholder="adresse" required>                                                
                                                    <!-- <input class="form-control" type="text" placeholder="Password" id="inputpass">  -->
                                                </div>
                                                
                                    </div>   
                                    <div class="col-md-6">
                                            <div class="group box space-20">
                                                <label class="control-label" for="inputemail">MOT DE PASSE *</label>
                                                <input id="myInput" type="password" class="form-control" name="password" placeholder="mot de passe" id="myInput" required>
                                                <!-- <div class="row align-items-center remember">
                                                    <input type="checkbox" name="check" value="remeber" onclick="myFunction()">
                                                    <label for="remeber" class="label-check">Afficher le mot de passe</label>
                                                </div>                                                   -->
                                            </div>
                                                <div class="group box">
                                                    <label class="control-label" for="inputemail">CONFIRMER MOT DE PASSE *</label>
                                                    <input type="password" class="form-control" name="password22" placeholder="Confirmer votre mot de passe" required>
                                                    
                                                    <!-- <input class="form-control" type="text" placeholder="Password" id="inputpass">  -->
                                                </div><br><br><br>
                                                
                                    </div> 
                                    <!-- <input type="submit" value="valider" class="btn float-right login_btn" data-toggle="modal" data-target="#exampleModal">              -->
                                    <button type="submit" value="valider" class="link-v1 rt" data-toggle="modal" data-target="#exampleModal" >Créer compte</button>
                                </form><br><br>
                                <div>
                                    <p>Vous possédez déjà un compte ?</p>
                                    <a href="{{ url_for('login') }}" style="margin-left: 60px;">CONNECTEZ-VOUS</a>
                                </div>
                                
                        </div>
                        <!-- End register -->
                        
                    
                    <!-- End col-md-6 -->
                </div>
            </div>
        </div>

        <style>
                .danger {
                    color: red
                        }
                
                .dangerrr {
                    color: red
                        }
                .card {
                    height: 600px;
                }
                
        </style>

<script>
        function myFunction() {
            var x1 = document.getElementById("myInput");
            var x2 = document.getElementById("Input");
            if (x1.type === "password" && x2.type === "password") {
            x1.type = "text";
            x2.type = "text";
            } else {
            x1.type = "password";
            x2.type = "password";
            }
        }
    
        
    </script>
    
        {% include 'footer.html' %}
