{% include 'header.html' %}

        <div class="container">
            <div class="banner-header banner-lbook3 space-40">
                <img src='{{url_for("static",filename="assets/images/banner-blog.jpg")}}' alt="Banner-header">
                <div class="text">
                    <h3>Tous produits</h3>
                    <p><a href="{{url_for('accueil')}}" title="Accueil">Accueil</a><i class="fa fa-caret-right"></i>Tous Produits</p>
                </div>
            </div>
        </div>
      
        <!-- End wrap-breadcrumb -->
        <div class="container">
            <div class="products ver2 grid_full hover-shadow border-space-full">
                <div class="item-inner">
                    {% for row in users %}
                        <div class="product">
                            <div class="product-images">
                                <a href="acheter&{{row.3}}" title="product-images">
                                    <img class="primary_image" src='../static/images/{{row.1}}' alt=""/>
                                    <!-- <img class="secondary_image" src='../static/images/{{row.0}}' alt=""/> -->
                                </a>
                            </div>
                            <a href="#" title="BlackBerry"><p class="product-title">{{row.2}}</p></a>
                            <p class="product-price-old">$700.00</p>
                            <p class="product-price">{{row.3}}</p>
                            <p><a class="link-v1 lh-40 rt" href="acheter&{{row[3]}}" title="Acheter Produit"><i class="fa fa-shopping-cart"></i>Acheter</a></p>                   
                        </div>
                    <!-- End product -->
                    {% endfor %}
                </div>
                
            </div>
            <!-- End product-tab-content products -->
            {{ pagination.links }}
            <!-- End pagination-container -->
        </div>
        <!-- end tab product all -->
{% include 'footer.html' %}
<div>
        <pagination class="pagination-sm" total-items="10" items-per-page="10" max-size="10"></pagination>
            
</div>
