{% include 'header.html' %}

<link href="/simple_cart.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT"
        crossorigin="anonymous"></script>
<script src="/jQuery.SimpleCart.js" ></script>
<link rel="stylesheet" href="bootstrap.min.css">
<link rel="stylesheet" href="fontawesome.min.css">



        <div class="main-content">
            <div class="container">
                <div class="banner-header banner-lbook3">
                    <img src='{{url_for("static",filename="assets/images/banner-blog.jpg")}}' alt="Banner-header">
                    <div class="text">
                        <h3>Détails Produits</h3>
                        <p><a href="{{url_for('accueil')}}" title="Accueil">Accueil</a><i class="fa fa-caret-right"></i>Détails Produits</p>
                    </div>
                </div>
            </div>




            <h2>Cart</h2>
    Select Product :
    
    <select id="products">
            {% for row in achat %}
        <option value="{{row.2}}">{{row.1}}</option>
        {% endfor %}
    </select>
    
    Quantity
    <input type="number" id="qty" size="3" />
    <p></p>
    <button id="btnAdd" onclick="addToCart()" >Add To Cart</button>

    <p></p>
    <div class="container container-ver2">
        <div class="box cart-container">
        <table id="cart" border="1" class="table cart-table space-30" style="visibility:hidden; width:100%">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Qty</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="cartBody">

            </tbody>
        </table>

        </div>
    </div>




            <div class="cart-box-container">
                <div class="container container-ver2 space-padding-tb-30">
                    
                </div>
                <!-- End container -->
                <form action="{{ url_for('command') }}" method="POST" enctype="multipart/form-data">
                <div class="container container-ver2">
                    <div class="box cart-container">
                        <table class="table cart-table space-30">
                            <thead>
                                <tr>
                                    <th class="product-photo">Produits</th>
                                    <th class="produc-name"></th>
                                    <th class="produc-price">Prix</th>
                                    <th class="product-quantity">quantité</th>
                                    <th class="total-price">Total</th>
                                    <th class="product-remove"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in achat %}
                                <tr class="item_cart">
                                    <td class="product-photo"><img src='../static/images/{{row.0}}' alt="Futurelife"></td>
                                    <td class="produc-name"><a href="#" title="">{{row.1}}</a></td>
                                    <td class="produc-price"><input value="{{row.2}}" name="prix" size="4" type="text"></td>
                                    <td class="product-quantity">
                                    <form enctype="multipart/form-data">
                                        <div class="product-signle-options product_15 clearfix">
                                            <div class="selector-wrapper size">
                                                <div class="quantity">
                                                    <input data-step="1" value="1" title="Qty" class="qty" name="qte" size="4" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    </td>
                                    <td class="total-price"></td>
                                    <td class="product-remove"><a class="remove" href="{{url_for('accueil')}}" title="close"><img src='{{url_for("static",filename="assets/images/icon-delete-cart.png")}}' alt="close"></a></td>
                                    
                                </tr>
                                
                                {% endfor %}
                                
                                
                            </tbody>
                        </table>
                        
                        
                        
                </div>
                <!-- End container -->
            </div>
            <!-- End cat-box-container -->

 
        </form>
        </div>

        <div class="box space-30">
                <div class="float-left">
                    <!-- <a class="link-v1 lh-50 margin-right-20 space-20 bg-brand" href="{{url_for('login')}}" title="CLEAR SHOPPING CART">TERMINER ACHAT</a> -->
                    <!-- <a class="link-v1 lh-50 space-20" href="#" title="UPDATE SHOPPING CART">UPDATE SHOPPING CART</a> -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                            TERMINER ACHAT
                    </button>
                          
                          <!-- Modal -->
                          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&Chi;</span>
                                    </button>
                                  <h5 class="modal-title" id="exampleModalLabel">Finaliser la commande</h5>
                                  
                                </div>
                                <div class="modal-body">
                                    <div class="float-left">
                                        <a class="link-v1 lh-50 margin-right-20 space-20 bg-brand" href="{{url_for('login')}}" title="CLEAR SHOPPING CART">SE CONNECTER</a>
                                    </div>
                                    <div class="float-right">
                                        <a class="link-v1 lh-50 margin-right-20 space-20 bg-brand" href="{{url_for('Inscription_clients')}}" title="CLEAR SHOPPING CART">CREER UN COMPTE</a>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                  
                                </div>
                              </div>
                            </div>
                          </div>
                </div>
                <!-- End float left -->
                <!-- <div class="float-right">
                    <a class="link-v1 lh-50 bg-brand" href="ajoutcomm&{{achat[0].3}}" title="CONTINUS SHOPPING">CONTINUER ACHAT</a>
                </div> -->
                <div class="float-right">
                        <input type="submit" value="CONTINUER ACHAT" class="link-v1 lh-50 bg-brand" data-toggle="modal" data-target="#exampleModal">
                
                </div>
                <!-- End float-right -->
        </div>
    <!-- Button trigger modal -->

{% include 'footer.html' %}
