<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>
<body>
	<h1 style="text-align: center;margin-top:3%">Choisir  UN  MODEL</h1>
    <div class="row justify-content-center" style="margin-top: 3%; padding-left:5%">		
        <div class="col-xl-6 col-lg-6 col-md-8">
            <div class="box_account">
                <div class="form_container">
                    <form class="login-form" action="{{ url_for('fraude') }}"  method="post" autocomplete="off" enctype="multipart/form-data">
                
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                              {% for category, message in messages %}
                                <div class="{{ category }} " role="alert">
                                    <span>{{ message }}</span>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    
                                </div>
                            {% endfor %}
                        {% endif %}
                       {% endwith %}


                        <div class="row no-gutters">
                            <div class="col-12"  >
                                <div class="form-group">

                                <div class="image-file">
                                  <input type="file" name="imageq" id="image"  required>
                                  <label class="custom-file-label" for="image">Select un fichier de format csv...</label>
                                  <!-- <img id="blah" src="#" alt="your image" /> -->
                                </div>
                            </div>
                            </div>
                            <br><br><br>
                            <div class="form-group">
                                <input type="radio" name="options" onclick="javascript:ardecision();" id="yesCheck" value="decisiontree" required> Arbre de décision </input>
                                <input type="radio" name="options" onclick="javascript:knn();" id="knntook"  value="knn"> KNN </input>
                                <input type="radio" name="options" onclick="javascript:rl();" id="rltook"  value="reglogistic"> Regression Logistic </input>
								<input type="radio" name="options" onclick="javascript:svm();" id="svmtook"  value="svm"> SVM </input>
								<input type="radio" name="options" onclick="javascript:rf();" id="rftook"  value="randomforest"> Random Forest </input>

                            </div>

                                <br><br><br>

                                <div id="sp">
                                        <p id="ad" class="ad">Score de precision pour le modéle arbre de décision: <i style="color:#ecac4a;">0.9993679997191109</i> </p>
                                        <p id="knn" class="knn">Score de precision pour le modéle KNN: <i style="color:#ecac4a;">0.9995259997893332</i> </p>
                                        <p id="rl" class="rl">Score de precision pour le modéle Régression Logistic: <i style="color:#ecac4a;">0.9991924440855307</i> </p>
                                        <p id="svm" class="svm">Score de precision pour le modéle SVM: <i style="color:#ecac4a;">0.9992977774656788</i> </p>
                                        <p id="rf" class="rf">Score de precision pour le modéle Random Forest: <i style="color:#ecac4a;">0.9993679997191109</i> </p>
                                </div>
                                          
                                                                     
                        </div>
                        <div class="text-center" style="background-color:#4278be;" ><input class="btn btn-outline-dark  btn-block " type="submit" id="submit" value="Valider" class="btn_1 full-width"></div>

                    </form>
                    <div>
                        <!-- {{itsnotfraude}} -->
                    </div>
                </div>
                </div>
            </div>
        </div>
</body>

<style>
    
#knn, #ad, #rl, #svm , #rf{
    display: none;
    }
    .succes{
      color: green;
    }
    .danger{
      color: red;
    }
    .k{
        color: green;
    }
</style>


<script type="text/javascript">

    function ardecision() {
        if (document.getElementById('yesCheck').checked) {
            document.getElementById('ad').style.display = 'block';
            document.getElementById('knn').style.display = 'none'
            document.getElementById('rl').style.display = 'none'
            document.getElementById('svm').style.display = 'none'
            document.getElementById('rf').style.display = 'none'
        }
    }
    function knn() {
        if (document.getElementById('knntook').checked) {
            document.getElementById('ad').style.display = 'none';
            document.getElementById('knn').style.display = 'block'
            document.getElementById('rl').style.display = 'none'
            document.getElementById('svm').style.display = 'none'
            document.getElementById('rf').style.display = 'none'
        }
    }
    function rl() {
        if (document.getElementById('rltook').checked) {
            document.getElementById('ad').style.display = 'none';
            document.getElementById('knn').style.display = 'none'
            document.getElementById('rl').style.display = 'block'
            document.getElementById('svm').style.display = 'none'
            document.getElementById('rf').style.display = 'none'
        }
    }
    function svm() {
        if (document.getElementById('svmtook').checked) {
            document.getElementById('ad').style.display = 'none';
            document.getElementById('knn').style.display = 'none'
            document.getElementById('rl').style.display = 'none'
            document.getElementById('svm').style.display = 'block'
            document.getElementById('rf').style.display = 'none'
        }
    }
    function rf() {
        if (document.getElementById('rftook').checked) {
            document.getElementById('ad').style.display = 'none';
            document.getElementById('knn').style.display = 'none'
            document.getElementById('rl').style.display = 'none'
            document.getElementById('svm').style.display = 'none'
            document.getElementById('rf').style.display = 'block'
        }
    }

    $(document).ready(function() {

$("#submit").click(function() {

    $.ajax({ 
            type: "GET",
            contentType: 'application/json; charset=utf-8',
            url: "option&"+x,
            success: function(liste_res){
                console.log(liste_res);
                alert(liste_res)
                $.each(liste_res,function(index,d){
                    $("#pet-select").append("<option value="+ d.marque +">" + d.marque + "</option>");
                    
                });
            }
        });

  
   })
   });


    
</script>
</html>