<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
</head>
<body>
  

  <table id="review-products">
    <thead>
      <tr>
        <th>Product</th>
        <th class="currency">Base Value</th>
        <th class="currency">Unit Price</th>
        <th class="currency">Line Total</th>
        <th class="currency">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr id="order-item-510" class="tst-orderItemRow">
        <td>
          <label for="Name">
            Some Cool Description
            <!-- Get this -->
          </label>
        </td>
        <td class="currency">
          <label for="Value">
            10
            <!-- Get this -->
          </label>
        </td>
        <td class="currency">
          <label for="UnitPrice">
            $199.00
            <!-- Get this -->
          </label>
        </td>
        <td class="currency">
          <label for="LineTotal">
            $199.00
            <!-- Get this -->
          </label>
        </td>
        <td class="currency">
          <span class="read-only">
                      1 <!-- Get this -->
                  </span>
        </td>
      </tr>
      <tr id="order-item-510" class="tst-orderItemRow">
        <td>
          <label for="Name">
            Some Cool Description
            <!-- Get this -->
          </label>
        </td>
        <td class="currency">
          <label for="Value">
            10
            <!-- Get this -->
          </label>
        </td>
        <td class="currency">
          <label for="UnitPrice">
            $199.00
            <!-- Get this -->
          </label>
        </td>
        <td class="currency">
          <label for="LineTotal">
            $199.00
            <!-- Get this -->
          </label>
        </td>
        <td class="currency">
          <span class="read-only">
                      1 <!-- Get this -->
                  </span>
        </td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
  <input id="clickMe" type="button" value="clickme" />
<script>

document.getElementById("clickMe").onclick = function () { 
  var table = document.getElementById('review-products');
  var liste = [];

  for (var i = 1; i < table.rows.length; i++) {
  if (table.rows[i].cells.length) {
    var photo = (table.rows[i].cells[0].textContent.trim());
    var produit = (table.rows[i].cells[1].textContent.trim());
    var prix = (table.rows[i].cells[2].textContent.trim());
    var qty = (table.rows[i].cells[3].textContent.trim());
    var total = (table.rows[i].cells[4].textContent.trim());
    // var string1 = photo + produit + prix + qty + total;
    var string1 = {"val1":photo, "val2":produit , "val3":prix , "val4":qty , "val5":total};
    // alert(string1)
    // 
    liste.push(string1)
    // alert(liste)
  }}
  $.ajax({
  type: 'POST',
  url : "{{url_for('getpanier')}}",
  contentType: 'application/json;charset=UTF-8',
  data : {'data':clicked},
});
  alert(liste); 
};





// var table = document.getElementById('review-products');
// var liste = [];
// for (var i = 1; i < table.rows.length; i++) {
//   if (table.rows[i].cells.length) {
//     var brand = (table.rows[i].cells[0].textContent.trim());
//     var baseValue = (table.rows[i].cells[1].textContent.trim());
//     var price = (table.rows[i].cells[2].textContent.trim());
//     var total = (table.rows[i].cells[3].textContent.trim());
//     var quantity = (table.rows[i].cells[4].textContent.trim());
//     // var string1 = brand + baseValue + price + total + quantity;
//     var string1 = (produit , prix , qty , total);
//     liste.push(string1)
//     // console.log(string1);
    
//   }
// }
// alert(liste);
// function myfunction(){
//     $("#cart tbody tr").click(function() {
//         var table = document.getElementById('cart');
//         var liste = [];
//         for (var i = 1; i < table.rows.length; i++) {
//             if (table.rows[i].cells.length) {
//               var produit = (table.rows[i].cells[1].textContent.trim());
//               var prix = (table.rows[i].cells[2].textContent.trim());
//               var qty = (table.rows[i].cells[3].textContent.trim());
//               var total = (table.rows[i].cells[3].textContent.trim());
//             //   var quantity = (table.rows[i].cells[4].textContent.trim());
//               var string1 = (produit , prix , qty , total);
//               liste.push(string1)
//               // console.log(string1);
//               alert(liste);
//             }
//           }

</script>


<!-- <script>

// some movie data
var movies = {
    'title': movie_title,
    'release_date': movie_release_date
    }

$.ajax({
url: Flask.url_for('my_function'),
type: 'POST',
data: JSON.stringify(movies),   // converts js value to JSON string
})
.done(function(result){     // on success get the return object from server
    console.log(result)     // do whatever with it. In this case see it in console
})
</script> -->

</body>
</html>