{% extends 'comtablegeneral.html' %}

{% block content %}

<body>
    
    <div class="msg">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="{{ category }} " role="alert">
            <span>{{ message }}</span>
            
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    
    <div class="container">
            <!-- {{moin24}}
            {{mytotal}}
            {{lecaisier}}
             -->
              <section class="content">
                  <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                          <div class="card">
                            <div class="card-header">
                              <h3 class="" style="font-size: 50px; color: #80b435; text-align: center;"> Toutes les dépenses</h3>
                              <div class="card-body table-responsive p-0">
                                {% if depens|length !=0 %}
                                <table class="table table-hover">
                                  <thead>
                                      <tr style="background-color: #80b435;" >
                                          <th>Montant</th>
                                          <th>Quantité/Nombre</th>
                                          <th>Total </th>
                                          <th>Date</th>
                                          <th>Justification</th>
                
                                                                
                                      </tr>
                                      
                                  </thead>
                                  {% for row in depens %}
                                  <tbody>
                                      <tr>
                                          <td>{{row[0]}} FCFA </td>
                                          <td> {{row[1]}} </td>
                                          <td> {{row[2]}} FCFA</td>
                                          <td> {{row[3]}} </td>
                                          <td> {{row[4]}} </td>
                                          
                                      </tr>
                                  </tbody>
                                  {% endfor %}
                                      
                                      
                                  </table>
                                  {% else %}
                                      <h2>Aucune dépense n'est enregistrée</h2>
                                  {% endif %}
                                  
                              </div>
                        </div>
                      </div>
                    </section>
          </div >

        
    <!-- {{moin24}} -->
    <!-- {{mytotal}} -->

    


<style>

    .msg{
            padding-left:300px ;
        }
        
    .succes{
            color: green;
        }
    .danger{
            color: red;
        }
    
</style>

</body>
</html>

{% endblock content %}