{% extends 'comtablegeneral.html' %}

{% block content %}

<body>
    
    <div class="msg">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="{{ category }} " role="alert">
            <span>{{ message }}</span>
            
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div>

        <a href="{{url_for('comptable')}}" class="btn btn-outline-success" role="button" title="Lister">Lister Caissiers</a>

    </div>        
        <section class="content">
            <div class="container-fluid">
              <div class="row">
                  <div class="col-12">
                    <div class="card">
    
    
                        <h3>Rapport du caissier</h3>
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover">
                              <thead style="background-color: #80b435;">
                                  <tr>
                                      <th style="border: 1px solid black;">Date</th>
                                      <th style="border: 1px solid black;">Nbr commandes</th>
                                      <th style="border: 1px solid black;">Ventes</th>
                                      <th style="border: 1px solid black;">Dépenses</th>
                                      <th style="border: 1px solid black;">Bénéfices</th>
                                      
                                    </tr>
                                  </thead>
                                  <tbody>
                                      {% for row in myvalue%}
                                      <tr>
                                        <td style="border: 1px solid black;">{{row.0}}</td>
                                        <td style="border: 1px solid black;">{{row.1}}</td>
                                        <td style="border: 1px solid black;">{{row.2}} FCFA</td>
                                        <td style="border: 1px solid black;">{{row.3}} FCFA</td>
                                        <td style="border: 1px solid black;">{{row.4}} FCFA</td>
                                      </tr>
                                      {%endfor%}
                                    </tbody>
                                        
                                    </table>
                                </div>
                      </div>    
                    </div>
                  </div>
                </div>
              </section>
    


<style>

    .msg{
            padding-left:300px ;
        }
        
    .succes{
            color: green;
        }
    .danger{
            color: red;
        }
    
</style>

</body>
</html>

{% endblock content %}