{% include 'header.html' %}


<div class="vide">

        <h1>Nous sommes désolés, le produit cherché n'existe pas encore dans notre base de données.</h1>
        <h1>Merci de nous le suggerer sur la partie: </h1>
        <h1><p class="mail"> CONTACT</p></h1>
        

</div>

<style>
    .vide{
        padding-top: 150px;
        padding-left: 250px;
    }
    .mail{
        color: rgb(49, 163, 20);
        padding-left: 370px;
    }
</style>
{% include 'footer.html' %}


