{% extends 'chef.html' %}

{% block content %}

<div class="msg">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="{{ category }} " role="alert">
      <span>{{ message }}</span>
      
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<section class="content">
        <div class="container-fluid">
          <div class="row">
              <div class="col-6">
                <div class="card">
                        <a href="{{url_for('caissierchef')}}" class="btn btn-outline-success" role="button" title="Employés">EMPLOYÉS</a>  
                       <p></p>
                        <a href="{{url_for('commandechef')}}" class="btn btn-outline-success" role="button" title="Commandes">COMMANDES</a>  
                          <p></p>
                        <a href="{{url_for('produitchef')}}" class="btn btn-outline-success" role="button" title="Produits">PRODUITS VENDUS</a>  
                        <p></p>
                        <a href="{{url_for('depensechef')}}" class="btn btn-outline-success" role="button" title="Dépenses">DÉPENSES</a>  
                        <p></p>
                        <a href="{{url_for('ga')}}" class="btn btn-outline-success" target="_blank" role="button" title="google analytics">GoogleAnalytics</a>  
                        <p></p>
                        {% if moi[0][2]=='admin'%}
                        <a href="https://sendawal-dashboard-for-mobile.vercel.app/" target="_blank" class="btn btn-outline-success" role="button" title="commandes application">CommandesApplication</a>  
                        {%endif%}
                      </div>

                </div>
                
                <div class="col-6">

                {% if moi[0][2]=='admin'%}
              <div class="card">
                  <a href="#" class="btn btn-outline-success" role="button"   role="button" title="créer comptable" data-toggle="modal" data-target="#myModal">CRÉER LE CHEF COMPTABLE</a>  
                    <p></p>
                  <a href="#" class="btn btn-outline-success" role="button" title="supprimer comptable" data-toggle="modal" data-target="#myModalcomptsup"> SUPPRIMER LE CHEF COMPTABLE</a>  

                  <p></p>
                    <a href="#" class="btn btn-outline-success" role="button" title="créer le chef markting" data-toggle="modal" data-target="#myModalmark">CRÉER LE RESPONSABLE MARKTING</a>  

                  <p></p>
                  <a href="#" class="btn btn-outline-success" role="button" title="supprimer le chef markting" data-toggle="modal" data-target="#myModalmarksup"  >SUPPRIMER LE CHEF MARKTING</a>  
                  <p></p>
                  <a href="#" class="btn btn-outline-success" role="button" title="supprimer un caissier" data-toggle="modal" data-target="#myModalcaissiersup"  >SUPPRIMER UN CAISSIER</a>  
                  <p></p>
                  <a href="{{url_for('investisseurss')}}" class="btn btn-outline-success" role="button" title="investisseur" > INVESTISSEURS</a>  
                  <p></p>
                  
                </div>
                {%else%}
                  <h4>Prenom: <i>{{moi[0][0]}}</i> </h4>
                  <h4>Nom: <i>{{moi[0][1]}}</i> </h4>
                  <h4>Rôle: <i>{{moi[0][2]}}</i> </h4>
                  <h4>Montant investi: <i>{{moi[0][4]}} FCFA</i> </h4>
                  <h4>Pourcentage: <i>{{moi[0][3]}}</i> </h4>
                  <h4>Membre CA: <i>{{moi[0][5]}}</i> </h4>

                  {%endif%}
            </div>
            
          </div>

          </section>


          <div class="modal" id="myModal">
              <div class="modal-dialog">
                <div class="modal-content">
                
                  <!-- Modal Header -->
                  <div class="modal-header"  style="background-color:#80b435;">
                    <h4 class="modal-title" style="text-align: center;">Créer un(e) comptable(e)</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  
                  <!-- Modal body -->
                  <div class="modal-body">
                    
          
                      <form class="login-form" action="{{ url_for('chefcomptable') }}" method="POST">
                          <label style="color:#80b435;" class="control-label" for="inputemail">PRENOM</label>
                          <input type="text" class="form-control" name="prenomc" placeholder="prenom" id="prenom" value="{{ request.form['prenomc'] }}" required>
                
                          <label style="color:#80b435;" class="control-label" for="inputemail">NOM</label>
                          <input type="text" class="form-control" name="nomc" placeholder="nom" id="nom" value="{{ request.form['nomc'] }}" required>
          
                          <label style="color:#80b435;" class="control-label" for="inputemail">TELEPHONE</label>
                          <!-- <input type="text" class="form-control" name="telephonec" placeholder="telephone" id="telephone" required> -->
                          <input type="tel" class="form-control" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                          name="telephonec" placeholder="telephone" value="{{ request.form['telephonec'] }}" required>  
                
                          <label  style="color:#80b435;" class="control-label" for="inputemail">Mot de passe</label>
                          <input type="text" class="form-control" name="motpass" placeholder="mot de pass" id="mot_de_pass" value="{{ request.form['motpass'] }}" required>
                

                          <label  style="color:#80b435;" class="control-label" for="inputemail">DATE DE NAISSANCE</label>
                          <input type="date" class="form-control" name="datenaissc" placeholder="date_naiss" id="date_naiss" value="{{ request.form['datenaissc'] }}" required>
                
                          <label style="color:#80b435;" class="control-label" for="inputemail">ADRESSE</label>
                          <input type="text" class="form-control" name="adressec" placeholder="adresse" id="adresse" value="{{ request.form['adressec'] }}" required>
                
                          <label style="color:#80b435;" class="control-label" for="inputemail">CNI</label>
                          <input type="text" class="form-control" name="cnic" placeholder="cni" id="cni" value="{{ request.form['cnic'] }}" required>
          
                          <label style="color:#80b435;" class="control-label" for="inputemail">EMAIL</label>
                          <input type="email" class="form-control" name="mailc" placeholder="mail" id="mail" value="{{ request.form['mailc'] }}" required>
                
                          <label style="color:#80b435;" class="control-label" for="inputsalaire">salaire</label>
                          <input type="number" class="form-control" name="salairec" placeholder="salaire" id="salaire" value="{{ request.form['salairec'] }}" required>
                
                          
                          
                          <button  style="background-color:#80b435; margin-top:3%" class="btn btn-success" type="submit"  data-toggle="modal" data-target="#exampleModal{{message}}">Enregister</button>
                      </form>
                      <!-- End form -->
          
          
                  </div>
                  
                  <!-- Modal footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                  
                </div>
              </div>
            </div>


            <div class="modal" id="myModalmark">
                <div class="modal-dialog">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header"  style="background-color:#80b435;">
                      <h4 class="modal-title" style="text-align: center;">Créer un(e) comptable(e)</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                      
            
                        <form class="login-form" action="{{ url_for('chefmarkting') }}" method="POST">
                            <label style="color:#80b435;" class="control-label" for="inputemail">PRENOM</label>
                            <input type="text" class="form-control" name="prenomc" placeholder="prenom" id="prenom" value="{{ request.form['prenomc'] }}" required>
                  
                            <label style="color:#80b435;" class="control-label" for="inputemail">NOM</label>
                            <input type="text" class="form-control" name="nomc" placeholder="nom" id="nom" value="{{ request.form['nomc'] }}" required>
            
                            <label style="color:#80b435;" class="control-label" for="inputemail">TELEPHONE</label>
                            <!-- <input type="text" class="form-control" name="telephonec" placeholder="telephone" id="telephone" required> -->
                            <input type="tel" class="form-control" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                            name="telephonec" placeholder="telephone" value="{{ request.form['telephonec'] }}" required>  
                  
                            <label  style="color:#80b435;" class="control-label" for="inputemail">Mot de passe</label>
                            <input type="text" class="form-control" name="motpass" placeholder="mot de pass" id="mot_de_pass" value="{{ request.form['motpass'] }}" required>
                  
  
                            <label  style="color:#80b435;" class="control-label" for="inputemail">DATE DE NAISSANCE</label>
                            <input type="date" class="form-control" name="datenaissc" placeholder="date_naiss" id="date_naiss" value="{{ request.form['datenaissc'] }}" required>
                  
                            <label style="color:#80b435;" class="control-label" for="inputemail">ADRESSE</label>
                            <input type="text" class="form-control" name="adressec" placeholder="adresse" id="adresse" value="{{ request.form['adressec'] }}" required>
                  
                            <label style="color:#80b435;" class="control-label" for="inputemail">CNI</label>
                            <input type="text" class="form-control" name="cnic" placeholder="cni" id="cni" value="{{ request.form['cnic'] }}" required>
            
                            <label style="color:#80b435;" class="control-label" for="inputemail">EMAIL</label>
                            <input type="email" class="form-control" name="mailc" placeholder="mail" id="mail" value="{{ request.form['mailc'] }}" required>
                  
                            <label style="color:#80b435;" class="control-label" for="inputsalaire">Salaire</label>
                            <input type="number" class="form-control" name="salairec" placeholder="salaire" id="salaire" value="{{ request.form['salairec'] }}" required>
                  
                            
                            
                            <button  style="background-color:#80b435; margin-top:3%" class="btn btn-success" type="submit"  data-toggle="modal" data-target="#exampleModal{{message}}">Enregister</button>
                        </form>
                        <!-- End form -->
            
            
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    
                  </div>
                </div>
              </div>


              <div class="modal" id="myModalmarksup">
                <div class="modal-dialog">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header"  style="background-color:#80b435;">
                      <h4 class="modal-title" style="text-align: center;">Mettez d'abord les infos du responsable markting</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                      
            
                        <form class="login-form" action="{{ url_for('supprimmarkting') }}" method="POST">
                            <label style="color:#80b435;" class="control-label" for="inputemail">Téléphone</label>
                            <input type="text" class="form-control" name="phonesupp" placeholder="telephone" id="prenom" value="{{ request.form['prenomc'] }}" required>
                  
                            <label style="color:#80b435;" class="control-label" for="inputemail">CNI</label>
                            <input type="text" class="form-control" name="cnisupp" placeholder="cni" id="nom" value="{{ request.form['nomc'] }}" required>
            
                            
                            
                            
                            <button  style="background-color:#80b435; margin-top:3%" class="btn btn-success" type="submit"  data-toggle="modal" data-target="#exampleModal{{message}}" onclick="return confirm('Etes vous sùre de vouloir supprimer le responsable markting?');">Enregister</button>
                        </form>
                        <!-- End form -->
            
            
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    
                  </div>
                </div>
              </div>


              <div class="modal" id="myModalcomptsup">
                <div class="modal-dialog">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header"  style="background-color:#80b435;">
                      <h4 class="modal-title" style="text-align: center;">Mettez d'abord les infos du chef comptable</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                      
            
                        <form class="login-form" action="{{ url_for('supprimcomptable') }}" method="POST">
                            <label style="color:#80b435;" class="control-label" for="inputemail">Téléphone</label>
                            <input type="text" class="form-control" name="phonesupp" placeholder="telephone" id="prenom" value="{{ request.form['prenomc'] }}" required>
                  
                            <label style="color:#80b435;" class="control-label" for="inputemail">CNI</label>
                            <input type="text" class="form-control" name="cnisupp" placeholder="cni" id="nom" value="{{ request.form['nomc'] }}" required>
            
                            
                            
                            
                            <button  style="background-color:#80b435; margin-top:3%" class="btn btn-success" type="submit"  data-toggle="modal" data-target="#exampleModal{{message}}" onclick="return confirm('Etes vous sùre de vouloir supprimer le chef comptable?');">Enregister</button>
                        </form>
                        <!-- End form -->
            
            
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    
                  </div>
                </div>
              </div>


              <div class="modal" id="myModalcaissiersup">
                <div class="modal-dialog">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header"  style="background-color:#80b435;">
                      <h4 class="modal-title" style="text-align: center;">Mettez d'abord les infos du caissier</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                      
            
                        <form class="login-form" action="{{ url_for('supprimcaissier') }}" method="POST">
                            <label style="color:#80b435;" class="control-label" for="inputemail">Téléphone</label>
                            <input type="text" class="form-control" name="phonesupp" placeholder="telephone" id="prenom" value="{{ request.form['prenomc'] }}" required>
                  
                            <label style="color:#80b435;" class="control-label" for="inputemail">CNI</label>
                            <input type="text" class="form-control" name="cnisupp" placeholder="cni" id="nom" value="{{ request.form['nomc'] }}" required>
            
                            
                            
                            
                            <button  style="background-color:#80b435; margin-top:3%" class="btn btn-success" type="submit"  data-toggle="modal" data-target="#exampleModal{{message}}" onclick="return confirm('Etes vous sùre de vouloir supprimer ce caissier?');">Enregister</button>
                        </form>
                        <!-- End form -->
            
            
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    
                  </div>
                </div>
              </div>

              <div class="modal" id="myModalinvestiss">
                <div class="modal-dialog">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header"  style="background-color:#80b435;">
                      <h4 class="modal-title" style="text-align: center;">Créer un investisseur</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                      
            
                        <form class="login-form" action="{{ url_for('chefinvestisseur') }}" method="POST">
                            <label style="color:#80b435;" class="control-label" for="inputemail">PRENOM</label>
                            <input type="text" class="form-control" name="prenomc" placeholder="prenom" id="prenom" value="{{ request.form['prenomc'] }}" required>
                  
                            <label style="color:#80b435;" class="control-label" for="inputemail">NOM</label>
                            <input type="text" class="form-control" name="nomc" placeholder="nom" id="nom" value="{{ request.form['nomc'] }}" required>
            
                            <label style="color:#80b435;" class="control-label" for="inputemail">TELEPHONE</label>
                            <!-- <input type="text" class="form-control" name="telephonec" placeholder="telephone" id="telephone" required> -->
                            <input type="tel" class="form-control" pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                            name="telephonec" placeholder="telephone" value="{{ request.form['telephonec'] }}" required>  
                  
                            <label  style="color:#80b435;" class="control-label" for="inputemail">Mot de passe</label>
                            <input type="text" class="form-control" name="motpass" placeholder="mot de pass" id="mot_de_pass" value="{{ request.form['motpass'] }}" required>
                  
  
                            <label  style="color:#80b435;" class="control-label" for="inputemail">DATE DE NAISSANCE</label>
                            <input type="date" class="form-control" name="datenaissc" placeholder="date_naiss" id="date_naiss" value="{{ request.form['datenaissc'] }}" required>
                  
                            <label style="color:#80b435;" class="control-label" for="inputemail">ADRESSE</label>
                            <input type="text" class="form-control" name="adressec" placeholder="adresse" id="adresse" value="{{ request.form['adressec'] }}" required>
                  
                            <label style="color:#80b435;" class="control-label" for="inputemail">CNI</label>
                            <input type="text" class="form-control" name="cnic" placeholder="cni" id="cni" value="{{ request.form['cnic'] }}" required>
            
                            <label style="color:#80b435;" class="control-label" for="inputemail">EMAIL</label>
                            <input type="email" class="form-control" name="mailc" placeholder="mail" id="mail" value="{{ request.form['mailc'] }}" required>
                  
                            <label style="color:#80b435;" class="control-label" for="inputmontant">Montant Versé</label>
                            <input type="number" class="form-control" name="montantc" placeholder="montant versé" id="montant" value="{{ request.form['montant'] }}" required>
                            
                            <label style="color:#80b435;" class="control-label" for="inputpourcentage">Pourcentage</label>
                            <input type="number" class="form-control" name="pourcentagec" placeholder="pourcentage" id="pourcentage" value="{{ request.form['pourcentage'] }}" required>
                            
                            <label style="color:#80b435;" class="control-label" for="inputconsadm">Conseil Administration</label>
                            <select id="products" name="conseiladminc" class="link-v1 lh-50 bg-brand" required>
                              <option value="">?</option>
                              <option value="non">non</option>
                              <option value="oui">oui</option>
                          </select>
                            
                            <button  style="background-color:#80b435; margin-top:3%" class="btn btn-success" type="submit"  data-toggle="modal" data-target="#exampleModal{{message}}">Enregister</button>
                        </form>
                        <!-- End form -->
            
            
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    
                  </div>
                </div>
              </div>

              <div class="modal" id="myModalinvestisseursup">
                <div class="modal-dialog">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header"  style="background-color:#80b435;">
                      <h4 class="modal-title" style="text-align: center;">Mettez d'abord les infos de l'investisseur</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                      
            
                        <form class="login-form" action="{{ url_for('suppriminvestisseur') }}" method="POST">
                            <label style="color:#80b435;" class="control-label" for="inputemail">Téléphone</label>
                            <input type="text" class="form-control" name="phonesupp" placeholder="telephone" id="prenom" value="{{ request.form['prenomc'] }}" required>
                  
                            <label style="color:#80b435;" class="control-label" for="inputemail">CNI</label>
                            <input type="text" class="form-control" name="cnisupp" placeholder="cni" id="nom" value="{{ request.form['nomc'] }}" required>
            
                            
                            
                            
                            <button  style="background-color:#80b435; margin-top:3%" class="btn btn-success" type="submit"  data-toggle="modal" data-target="#exampleModal{{message}}" onclick="return confirm('Etes vous sùre de vouloir supprimer cet investisseur?');">Enregister</button>
                        </form>
                        <!-- End form -->
            
            
                    </div>
                    
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                    
                  </div>
                </div>
              </div>





          <style>
                .succes{
                  color: green;
                }
                .danger{
                    color: rgb(241, 27, 12);
                }
            </style>
{% endblock content %}