{% extends 'chef.html' %}

{% block content %}

{% if myvalue|length !=0 %}

<div class="content">
    <h3>Rapport journalier</h3>
    
    <br><br><br>
    <div class="row">
      <div class="col-12" >
        <div class="section1" style="width: 100%;">
          <div>
            <canvas id="mixed-chart" width="800" height="250"></canvas>
          </div>
      </div>
    </div>
  </div>

    <div class="row" style="margin-top: 8%;">
      <div class="col-12" >
        <div class="section2" style="width: 100%;">
          <div>
            <canvas id="mixed-chartmois" width="800" height="250"></canvas>
          </div>
        </div>
      </div>
      </div>
          <div class="row" style="margin-top: 8%;">
     <div class="col-12">
      <div class="section3"  style="width: 100%;">
        <div>
          <canvas id="mixed-chartnbr" width="800" height="250"></canvas>
        </div>
      </div>
    </div>
    </div>
    <div class="row" style="margin-top: 8%;">
      <div class="col-12">
      <div class="section4"  style="width: 100%;">
        <div>
          <canvas id="mixed-chartmoisnbr" width="800" height="250"></canvas>
        </div>
      </div>
    </div>
  </div>

    </div>

{% endif %}


<style>

.section1{
	background-color:#11181e;
	width:50%;
	float:left;
	height:50vh;
	border-right: 1vw solid #F5E5D6; 
    box-sizing: border-box;
    margin:0;
    padding:0;	
}
.section2{
	background-color:#11181e;
	width:50%;
	float:left;
	height:50vh;
	margin:0;
	padding:0;
  box-sizing: border-box;
}

.section3{
	background-color:#11181e;
	width:50%;
	float:left;
	height:50vh;
	border-right: 1vw solid #F5E5D6; 
    box-sizing: border-box;
    margin:0;
    padding:0;	
}

.section4{
	background-color:#11181e;
	width:50%;
	float:left;
	height:50vh;
	margin:0;
	padding:0;
  box-sizing: border-box;
}

</style>

<script>

new Chart(document.getElementById("mixed-chartmois"), {
    type: 'bar',
    data: {
      labels: [{%for val in mois[0] %} "{{val}}", {%endfor%}],
      datasets: [{
          label: "commandes",
          type: "line",
          borderColor: 'rgb(255, 99, 132)',
          data: [{%for val in mois[1] %} "{{val}}", {%endfor%}],
          fill: false
        }, {
          label: "commandes",
          type: "bar",
          backgroundColor: 'rgb(0,255,0)',
            
          data: [{%for val in mois[1] %} "{{val}}", {%endfor%}],
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'L\'évolution des commandes mensuellement'
      },
      legend: { display: false }
    }
});


new Chart(document.getElementById("mixed-chartmoisnbr"), {
    type: 'bar',
    data: {
      labels: [{%for val in mois[0] %} "{{val}}", {%endfor%}],
      datasets: [{
          label: "commandes",
          type: "line",
          borderColor: 'rgb(255, 99, 132)',
          data: [{%for val in mois[2] %} "{{val}}", {%endfor%}],
          fill: false
        }, {
          label: "commandes",
          type: "bar",
          backgroundColor: 'rgb(0,255,0)',
            
          data: [{%for val in mois[2] %} "{{val}}", {%endfor%}],
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Nombre de commandes par mois'
      },
      legend: { display: false }
    }
});


new Chart(document.getElementById("mixed-chart"), {
    type: 'bar',
    data: {
      labels: [{%for val in myvalue %} "{{val[0]}}", {%endfor%}],
      datasets: [{
          label: "commandes",
          type: "line",
          borderColor: 'rgb(255, 99, 132)',
          data: [{%for val in myvalue %} "{{val[2]}}", {%endfor%}],
          fill: false
        }, {
          label: "commandes",
          type: "bar",
          backgroundColor: 'rgb(0,255,0)',
            
          data: [{%for val in myvalue %} "{{val[2]}}", {%endfor%}],
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'L\'évolution des commandes journaliérement'
      },
      legend: { display: false }
    }
});

new Chart(document.getElementById("mixed-chartnbr"), {
    type: 'bar',
    data: {
      labels: [{%for val in myvalue %} "{{val[0]}}", {%endfor%}],
      datasets: [{
          label: "commandes",
          type: "line",
          borderColor: 'rgb(255, 99, 132)',
          data: [{%for val in myvalue %} "{{val[1]}}", {%endfor%}],
          fill: false
        }, {
          label: "commandes",
          type: "bar",
          backgroundColor: 'rgb(0,255,0)',
            
          data: [{%for val in myvalue %} "{{val[1]}}", {%endfor%}],
        }
      ]
    },
    options: {
      title: {
        display: true,
        text: 'Nombre de commandes par jour'
      },
      legend: { display: false }
    }
});

</script>



                      
{% endblock content %}